<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/bluedevil-5.6.3.tar.xz">bluedevil-5.6.3</a></td>
   <td align="right">168kB</td>
   <td><tt>d8e05c031f14054ed0e2190d76fcbc890322849ee4b4c2dd0da04329a66e19f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/breeze-5.6.3.tar.xz">breeze-5.6.3</a></td>
   <td align="right">18MB</td>
   <td><tt>fd277639824b9c899f0f539253b3d8e4a654b9e8c81777a66061c160e79a37a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/breeze-grub-5.6.3.tar.xz">breeze-grub-5.6.3</a></td>
   <td align="right">150kB</td>
   <td><tt>ac3cd107d49fc64584da94b47e53547eaf29d261de83f001f1e3d68cb8ec9344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/breeze-gtk-5.6.3.tar.xz">breeze-gtk-5.6.3</a></td>
   <td align="right">251kB</td>
   <td><tt>8a11ef1d692aca1f2346e8c383da701cdb3f84af9da2ee58940443b0ca06227b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/breeze-plymouth-5.6.3.tar.xz">breeze-plymouth-5.6.3</a></td>
   <td align="right">44kB</td>
   <td><tt>13aa162040f5e0524e04aa50d382bc2e3158b297bf026a729abcdfb955e6713e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/discover-5.6.3.tar.xz">discover-5.6.3</a></td>
   <td align="right">848kB</td>
   <td><tt>ef89f849d05d95242f545866a735a2806c00c9dfa0ebf6f0544a2f25bb10f6e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kactivitymanagerd-5.6.3.tar.xz">kactivitymanagerd-5.6.3</a></td>
   <td align="right">82kB</td>
   <td><tt>e62f3b1f3e40eb0863c875dce01170e21502c78c096c2df9f838c62332f9437f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kde-cli-tools-5.6.3.tar.xz">kde-cli-tools-5.6.3</a></td>
   <td align="right">493kB</td>
   <td><tt>22a1a800fa8b7cf1dbc6f23bf356cd42372372d6278efa3c4a39433bd8dbabb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kdecoration-5.6.3.tar.xz">kdecoration-5.6.3</a></td>
   <td align="right">34kB</td>
   <td><tt>59f36c7c1770dd27739fa3fbbd7daa319ff7dabab5e2db11dbf0de3c33f6390e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kde-gtk-config-5.6.3.tar.xz">kde-gtk-config-5.6.3</a></td>
   <td align="right">160kB</td>
   <td><tt>81c6fa26ac0891a7bc9b40316bb14ab8297723a1e70019d02cd65da9a052394a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kdeplasma-addons-5.6.3.tar.xz">kdeplasma-addons-5.6.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9a3d7026e99a8c113b17d3b912465254b0c9c3bfd92ee5d28334351892aee0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kgamma5-5.6.3.tar.xz">kgamma5-5.6.3</a></td>
   <td align="right">70kB</td>
   <td><tt>d954f4dddf22e4e59c2a54cd8a3af81785244f2684ac36b5c26811e68d1663f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/khelpcenter-5.6.3.tar.xz">khelpcenter-5.6.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0f15e37394c468b3c3f51f4c0fd8161dabba9b99ca44e69a48b712b073f0bc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/khotkeys-5.6.3.tar.xz">khotkeys-5.6.3</a></td>
   <td align="right">653kB</td>
   <td><tt>ec1e32986894bbb329c33ef82f166a78f9dabbbc8a2a1f0da12ca0dc262b4314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kinfocenter-5.6.3.tar.xz">kinfocenter-5.6.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>253289a79ee420411ad92d11d54bb5249e77dcaecb688d945d0aa5ac93ec71e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kmenuedit-5.6.3.tar.xz">kmenuedit-5.6.3</a></td>
   <td align="right">468kB</td>
   <td><tt>0f64ce04da7165e4d4516a93b594e03c5e7ded387b8ac99d8ec5abbdc95d3e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kscreen-5.6.3.tar.xz">kscreen-5.6.3</a></td>
   <td align="right">117kB</td>
   <td><tt>e4e44e2d5013da367085851f2f9f30f3348d04270ae354663b5990031bef6fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kscreenlocker-5.6.3.tar.xz">kscreenlocker-5.6.3</a></td>
   <td align="right">101kB</td>
   <td><tt>96b5dfb9432a71877e0e80cd2a809542ba14594ed5371ec5788dc18cbfaad88d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/ksshaskpass-5.6.3.tar.xz">ksshaskpass-5.6.3</a></td>
   <td align="right">24kB</td>
   <td><tt>feb41eaa2ba5225e69f02b1adad943f8252e8c1ed81537f98d2c5a473de5b72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/ksysguard-5.6.3.tar.xz">ksysguard-5.6.3</a></td>
   <td align="right">601kB</td>
   <td><tt>2b19203cc4406c729af2d6e95930b742ae1dd5998550673035924ab0f5e5006e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kwallet-pam-5.6.3.tar.xz">kwallet-pam-5.6.3</a></td>
   <td align="right">17kB</td>
   <td><tt>f63c184d90207545eae1a5d646bfc1e8100ed6c7db9faffe649ee2b3efd0c5ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kwayland-5.6.3.tar.xz">kwayland-5.6.3</a></td>
   <td align="right">164kB</td>
   <td><tt>bb2082d2513eb716715fe1302f33cd5bf1db6f0bdc90b7105319b722f4db3713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kwayland-integration-5.6.3.tar.xz">kwayland-integration-5.6.3</a></td>
   <td align="right">16kB</td>
   <td><tt>e4797c48e8d2f8c22dc7173ed3fa7cda27b289357d7636e33b30da792c11e2a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kwin-5.6.3.tar.xz">kwin-5.6.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>335bbd4cc100a78c68c19ba37cf8c040443422771723cd0a7678e2592666ba37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/kwrited-5.6.3.tar.xz">kwrited-5.6.3</a></td>
   <td align="right">19kB</td>
   <td><tt>e305d6fd109b5a318604201e4688a1fd37c77fe15981a285c6f47f63d5c998a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/libkscreen-5.6.3.tar.xz">libkscreen-5.6.3</a></td>
   <td align="right">81kB</td>
   <td><tt>3e306f0d935f9e987125ca43f8e748ca61e72b327f6da35f07537614c5203b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/libksysguard-5.6.3.tar.xz">libksysguard-5.6.3</a></td>
   <td align="right">683kB</td>
   <td><tt>0f68fdc1a892a594f56491d4f573b82dc4d779d53d639631ad08e0d5d24dee9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/milou-5.6.3.tar.xz">milou-5.6.3</a></td>
   <td align="right">55kB</td>
   <td><tt>cc31a8fbe988d7c16a65208fb37f04d56b667dc3ba17efdc4d43361b969da3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/oxygen-5.6.3.tar.xz">oxygen-5.6.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>cfa6c65bb1805f5c2972d0bd109bbd02777d6653959a32a8921606bf86a1cade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-desktop-5.6.3.tar.xz">plasma-desktop-5.6.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6736335730a52bfb718e6e3666160d3be6ecdf7121aea9a8fe8cacac8bf26436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-integration-5.6.3.tar.xz">plasma-integration-5.6.3</a></td>
   <td align="right">50kB</td>
   <td><tt>1c87482631e489ca1d16450b7a7c62f43eac9a4f517e8458d6104f448d16a673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-mediacenter-5.6.3.tar.xz">plasma-mediacenter-5.6.3</a></td>
   <td align="right">170kB</td>
   <td><tt>f8693597d4d92f433acbbaccb5c724672e0b41f0e9123702592e6a2cef84e59d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-nm-5.6.3.tar.xz">plasma-nm-5.6.3</a></td>
   <td align="right">629kB</td>
   <td><tt>92748426ec15767ff0d598ca7283b8286f6ece02c3fa2207961073d7edd9ba2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-pa-5.6.3.tar.xz">plasma-pa-5.6.3</a></td>
   <td align="right">59kB</td>
   <td><tt>838a2a9ca9e1dd4c0536c8b3794f742519a3ccd3a1ec94275b6a32b0551fc2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-sdk-5.6.3.tar.xz">plasma-sdk-5.6.3</a></td>
   <td align="right">688kB</td>
   <td><tt>62015710747a64f697fe15f77fbc018b08d07e0fee079432f663e20741650f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-workspace-5.6.3.tar.xz">plasma-workspace-5.6.3</a></td>
   <td align="right">6.7MB</td>
   <td><tt>4cf8bfaa8bb5b759378cd65d8c439c716cef8c32061221ec248cb9187a098f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/plasma-workspace-wallpapers-5.6.3.tar.xz">plasma-workspace-wallpapers-5.6.3</a></td>
   <td align="right">43MB</td>
   <td><tt>09b499ca693dab75420fbee2256123bf9d0033d4788a817ac687c08303a8bc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/polkit-kde-agent-1-5.6.3.tar.xz">polkit-kde-agent-1-5.6.3</a></td>
   <td align="right">49kB</td>
   <td><tt>01cf09a859da2c3e319cb2cfa1a10a17cdcd2bfaf0715bacb3baf0b21cda48b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/powerdevil-5.6.3.tar.xz">powerdevil-5.6.3</a></td>
   <td align="right">345kB</td>
   <td><tt>970a0fa758a5811ed9d9760a64b10b0ebab1d0ccdd3c39223f7ee477852300bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/sddm-kcm-5.6.3.tar.xz">sddm-kcm-5.6.3</a></td>
   <td align="right">55kB</td>
   <td><tt>9aac44ed9f2371e163d85934f29d90c0919beee044f017dfae82ee622ea113cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/systemsettings-5.6.3.tar.xz">systemsettings-5.6.3</a></td>
   <td align="right">177kB</td>
   <td><tt>334da860efe51d18e6f900bd485a08d1527492d404eb2855ccbf2ec771c8cf99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.3/user-manager-5.6.3.tar.xz">user-manager-5.6.3</a></td>
   <td align="right">70kB</td>
   <td><tt>142e405d16ff2dd55366191d1585c9ca0bc3e36d07b9df56bed729d82df89bea</tt></td>
</tr>

</table>
