<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/bluedevil-5.8.5.tar.xz">bluedevil-5.8.5</a></td>
   <td align="right">141kB</td>
   <td><tt>fb7dac6c2cf5dc31162ca4e6a800d4821a6f9d6ecd93da81356266e04a1df21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/breeze-5.8.5.tar.xz">breeze-5.8.5</a></td>
   <td align="right">31MB</td>
   <td><tt>c1dc453ac2461bb6edf2d115741afb2f1933d9476e1b0e5470451d1c01d096bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/breeze-grub-5.8.5.tar.xz">breeze-grub-5.8.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0e173ad1819b95afe7896f639501cf7ff6e1f8862efbb4f9825765e65acfd68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/breeze-gtk-5.8.5.tar.xz">breeze-gtk-5.8.5</a></td>
   <td align="right">206kB</td>
   <td><tt>edddef80f31d58edff43100a921b980c1e68385ff36d30a056d1259e282cbd95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/breeze-plymouth-5.8.5.tar.xz">breeze-plymouth-5.8.5</a></td>
   <td align="right">92kB</td>
   <td><tt>01c74f5422382dd6b1ad8777a971dc58b43122980592174fbc7f01feb314cbe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/discover-5.8.5.tar.xz">discover-5.8.5</a></td>
   <td align="right">8.7MB</td>
   <td><tt>0f22b0912f746eb2de60244381f730ad27e406a6161df91d7cca108ef5ac263b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kactivitymanagerd-5.8.5.tar.xz">kactivitymanagerd-5.8.5</a></td>
   <td align="right">81kB</td>
   <td><tt>90bf07e74aa2923550a5188c75c7d2031ea80a442d7a9cf7f1bc58fbfdb2981d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kde-cli-tools-5.8.5.tar.xz">kde-cli-tools-5.8.5</a></td>
   <td align="right">478kB</td>
   <td><tt>e7fa88cc67eae200fab34d1e32e63da76ae263bc72bef763d2f1cf9e60e9e9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kdecoration-5.8.5.tar.xz">kdecoration-5.8.5</a></td>
   <td align="right">33kB</td>
   <td><tt>383a7bd701a3d80a79c47a8770e32a6fee6763c564e6982211a2c424ef291cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kde-gtk-config-5.8.5.tar.xz">kde-gtk-config-5.8.5</a></td>
   <td align="right">146kB</td>
   <td><tt>399464281ae04425a1881f4fc26a40c0e2079a6246dfab2e52a361d86afd15c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kdeplasma-addons-5.8.5.tar.xz">kdeplasma-addons-5.8.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2dfdcc0be58550f4018c4f2d05fd2652d4b326a73a9d39d551892e4bd65333a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kgamma5-5.8.5.tar.xz">kgamma5-5.8.5</a></td>
   <td align="right">59kB</td>
   <td><tt>22b2ff2ae14a8db4ddb9fc27980c601fda531ae2803ad61fc69a431109277f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/khotkeys-5.8.5.tar.xz">khotkeys-5.8.5</a></td>
   <td align="right">591kB</td>
   <td><tt>90fa906efd0a36b481d2651ed462596cc9527e72d3ea21f9b208a4e576fa00ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kinfocenter-5.8.5.tar.xz">kinfocenter-5.8.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f7bd2b1389245f73d89dfe0f6229e3ecd9e04bf7a235e369ca992d3ad3b27aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kmenuedit-5.8.5.tar.xz">kmenuedit-5.8.5</a></td>
   <td align="right">638kB</td>
   <td><tt>75b8543bb7ef5575a6c98797c622dc9fb08e2942ab95f36d409296c3937105ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kscreen-5.8.5.tar.xz">kscreen-5.8.5</a></td>
   <td align="right">110kB</td>
   <td><tt>b006fb93d03bfeb3f6260b48d6356fcf6f09b34646397f32c23547ecf41e3d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kscreenlocker-5.8.5.tar.xz">kscreenlocker-5.8.5</a></td>
   <td align="right">105kB</td>
   <td><tt>72d64837393dd5c237d2985574b85a0f6507152ec3d5256751354c08d9d86285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/ksshaskpass-5.8.5.tar.xz">ksshaskpass-5.8.5</a></td>
   <td align="right">19kB</td>
   <td><tt>b0abeaba2a3eff16e233e047b41c20bf4065b4529e706929f4c0e6a9884324bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/ksysguard-5.8.5.tar.xz">ksysguard-5.8.5</a></td>
   <td align="right">479kB</td>
   <td><tt>c9bb8ff40d8a5092ef3c345b234a4d609fcff8ce6ec65bc32c3215a2840fa8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kwallet-pam-5.8.5.tar.xz">kwallet-pam-5.8.5</a></td>
   <td align="right">17kB</td>
   <td><tt>84d0e3b09c353ca81af52956842fbb6170d3990293ced7f81eb4bb7447de200c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kwayland-integration-5.8.5.tar.xz">kwayland-integration-5.8.5</a></td>
   <td align="right">17kB</td>
   <td><tt>91d2c7422aa0e286111e647b167ac9124d085e47d88415dbcd4b6776701dc685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kwin-5.8.5.tar.xz">kwin-5.8.5</a></td>
   <td align="right">3.8MB</td>
   <td><tt>a703a0d1628e36d3a92dfe3e0a8df7ec733ec2f7a93f854b90a9294dda095fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/kwrited-5.8.5.tar.xz">kwrited-5.8.5</a></td>
   <td align="right">19kB</td>
   <td><tt>793a391d74ccabd107b323504b3a0c10482c6ec098019dc45c02fb68091159db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/libkscreen-5.8.5.tar.xz">libkscreen-5.8.5</a></td>
   <td align="right">91kB</td>
   <td><tt>c9afda7f80af8d07a659240de0ca70c96cf72dc124f338d42faf5a40fdb742fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/libksysguard-5.8.5.tar.xz">libksysguard-5.8.5</a></td>
   <td align="right">562kB</td>
   <td><tt>976f9506037b45570475ba71a7445810cfd57c6079589038d63742d9fe2497a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/milou-5.8.5.tar.xz">milou-5.8.5</a></td>
   <td align="right">53kB</td>
   <td><tt>6dfced99ee3b1eb163dfc55c5546e06b6aee664b4333251e461a4f39c8624552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/oxygen-5.8.5.tar.xz">oxygen-5.8.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>07d2740709c9979eac381d4e728a3bf6670015a02c2c3478ed30fa8f8d6532a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-desktop-5.8.5.tar.xz">plasma-desktop-5.8.5</a></td>
   <td align="right">6.1MB</td>
   <td><tt>d95eeb976cc18a50cff141c509f9e67430b81efcf36269a283fc62b81d48a910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-integration-5.8.5.tar.xz">plasma-integration-5.8.5</a></td>
   <td align="right">49kB</td>
   <td><tt>cb4da56f940e87e1195a0ba19e07ea3384fed1dcd26ca91dee1d7dee8f00a7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-nm-5.8.5.tar.xz">plasma-nm-5.8.5</a></td>
   <td align="right">637kB</td>
   <td><tt>6c2fee26ed36ebc7929f8d8da42d29ed475fe8dd6ab3e8987f1a0a8fd8f73ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-pa-5.8.5.tar.xz">plasma-pa-5.8.5</a></td>
   <td align="right">68kB</td>
   <td><tt>2bbc3e6e12f743c633a5c2101efa6a19dd5f120b64da0ea0ff3da3e7ba6fe16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-sdk-5.8.5.tar.xz">plasma-sdk-5.8.5</a></td>
   <td align="right">706kB</td>
   <td><tt>edeeb529e29307f5efedb0371706269ab0edcf0861b73dbd235821457a599e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-tests-5.8.5.tar.xz">plasma-tests-5.8.5</a></td>
   <td align="right">1kB</td>
   <td><tt>2bc82c574565ebd819aea3932720f4e4ca5444bcd95dc618f8233e8f29f6f871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-workspace-5.8.5.tar.xz">plasma-workspace-5.8.5</a></td>
   <td align="right">6.6MB</td>
   <td><tt>6d25077205436e3e721d7dfa4dffce7aea62a6e652ee7897952885e52b2f6ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/plasma-workspace-wallpapers-5.8.5.tar.xz">plasma-workspace-wallpapers-5.8.5</a></td>
   <td align="right">43MB</td>
   <td><tt>dfdbef49a8b8feb27a0927bc28728fefed94943baebf97587f8b2284384eda84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/polkit-kde-agent-1-5.8.5.tar.xz">polkit-kde-agent-1-5.8.5</a></td>
   <td align="right">40kB</td>
   <td><tt>87eb786344042d361c1af1b40c0ac6e153692505101508e24a8d49ca114193b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/powerdevil-5.8.5.tar.xz">powerdevil-5.8.5</a></td>
   <td align="right">349kB</td>
   <td><tt>041cb684b981ba1c618627b7b6a9fb58bb4b2e4106937e228f376a8715934752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/sddm-kcm-5.8.5.tar.xz">sddm-kcm-5.8.5</a></td>
   <td align="right">47kB</td>
   <td><tt>0c3b903ce09a6707453edd6a89da9676ce417dbf8c0dc360f9046336dc989b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/systemsettings-5.8.5.tar.xz">systemsettings-5.8.5</a></td>
   <td align="right">154kB</td>
   <td><tt>eaf1295d0d681a33514a6e38375c13e448655f813b422122627ed127d7ab7c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.5/user-manager-5.8.5.tar.xz">user-manager-5.8.5</a></td>
   <td align="right">529kB</td>
   <td><tt>bfd047cc2d01acd0139d29a88d31b4422f108186cdf1f8d67a580d0c0cea68b2</tt></td>
</tr>

</table>
