<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/bluedevil-5.21.0.tar.xz">bluedevil-5.21.0</a></td>
   <td align="right">157kB</td>
   <td><tt>8fe7ceee65ab1a9211d945f4917f5466ccad03d7d4601077851257379f9b99fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/breeze-5.21.0.tar.xz">breeze-5.21.0</a></td>
   <td align="right">25MB</td>
   <td><tt>bc7110b540e33200741ff1af2d77297e8f134de6846a35876c071c6f7c6a18e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/breeze-grub-5.21.0.tar.xz">breeze-grub-5.21.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1a0da47745c43f83383c0806d368ccf6359c627487391ddec87d19e7f7d66a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/breeze-gtk-5.21.0.tar.xz">breeze-gtk-5.21.0</a></td>
   <td align="right">46kB</td>
   <td><tt>742a9f3f10d247788a559740c562c5c7f34df896dae7c32b542e4ff90ff7a395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/breeze-plymouth-5.21.0.tar.xz">breeze-plymouth-5.21.0</a></td>
   <td align="right">106kB</td>
   <td><tt>d34cf112e77b759b38fca8b2e349f3628b40bbd41871f55953f2e1b23312df84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/discover-5.21.0.tar.xz">discover-5.21.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>0c3ea7a42892ded2e17b4dc24fde69784c7812736d46ccc79f60565553d5260c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/drkonqi-5.21.0.tar.xz">drkonqi-5.21.0</a></td>
   <td align="right">750kB</td>
   <td><tt>dad737a49a3c224382d676e5e364e26f41819538b6b8565c397cb8740ccbd8e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kactivitymanagerd-5.21.0.tar.xz">kactivitymanagerd-5.21.0</a></td>
   <td align="right">97kB</td>
   <td><tt>5f0abf1367ce9f7f9ce75a71db0f8207f2dda3372e104983fe7e5dda677a0d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kde-cli-tools-5.21.0.tar.xz">kde-cli-tools-5.21.0</a></td>
   <td align="right">596kB</td>
   <td><tt>f6053a49fcc067d5656b849bffa93f03b0a8761a416799f70a053e22eaf6d78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kdecoration-5.21.0.tar.xz">kdecoration-5.21.0</a></td>
   <td align="right">44kB</td>
   <td><tt>e32a8bfda1155f8a26e5f3a40f8aaf978eb676081c29abfe8fb992263ca54f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kde-gtk-config-5.21.0.tar.xz">kde-gtk-config-5.21.0</a></td>
   <td align="right">67kB</td>
   <td><tt>751e3c13f48310127af7fc8b5e61a86dc233c5836deec185619760853a582d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kdeplasma-addons-5.21.0.tar.xz">kdeplasma-addons-5.21.0</a></td>
   <td align="right">611kB</td>
   <td><tt>3363e5458175ff9905a8793d16306b64ed99d23e8b6b237807aa795001e8fb07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kgamma5-5.21.0.tar.xz">kgamma5-5.21.0</a></td>
   <td align="right">80kB</td>
   <td><tt>040e0596d55ed314a9e2952918ab6bd31b79d181818d59883905dfdc231fe251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/khotkeys-5.21.0.tar.xz">khotkeys-5.21.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e936021cfd2a3a04c10c4c7766122bdf3a36b9b29bfa4ba55cb5e21a88d9f91a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kinfocenter-5.21.0.tar.xz">kinfocenter-5.21.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>177213e1b1cd9d8d9a3ddfdeb9aa5742eebc8fb0196f3d8db4e41ec56545fd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kmenuedit-5.21.0.tar.xz">kmenuedit-5.21.0</a></td>
   <td align="right">878kB</td>
   <td><tt>4ab516fad5c40bb268baedf41c6e3eca7fae3a6b97b1114534d2f914e281dbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kscreen-5.21.0.tar.xz">kscreen-5.21.0</a></td>
   <td align="right">111kB</td>
   <td><tt>caeaa40d4d1df713ec9748c94c0056767ee0c98939a5318882fde1825c2d7010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kscreenlocker-5.21.0.tar.xz">kscreenlocker-5.21.0</a></td>
   <td align="right">114kB</td>
   <td><tt>d3b9aa5c28baf8fb59690f7a961aefbd6dd0d09642307905615a07a58f6eb084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/ksshaskpass-5.21.0.tar.xz">ksshaskpass-5.21.0</a></td>
   <td align="right">23kB</td>
   <td><tt>7131ad2c18d5d6a04a1811bb3e4530cbf263324a1a86b8d233350330a1834b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/ksysguard-5.21.0.tar.xz">ksysguard-5.21.0</a></td>
   <td align="right">589kB</td>
   <td><tt>3ca64a4863fd338a59e1514e68a9508797981240aa56bc92f3482a2a125a26fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kwallet-pam-5.21.0.tar.xz">kwallet-pam-5.21.0</a></td>
   <td align="right">19kB</td>
   <td><tt>c7542c2914a754710cbbdf480977b3eddec6a92ea5ecf673712251b1a9c6691f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kwayland-integration-5.21.0.tar.xz">kwayland-integration-5.21.0</a></td>
   <td align="right">22kB</td>
   <td><tt>bdd79069c44a94fe83085948fcd58f012e6bc7648c3b10b81327d7e2689c143d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kwayland-server-5.21.0.tar.xz">kwayland-server-5.21.0</a></td>
   <td align="right">214kB</td>
   <td><tt>e67f01111bec111820ef90fdab6f40d3825475237a75fdeb44fd1f886f111831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kwin-5.21.0.tar.xz">kwin-5.21.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>dcf0e4c152707f9134e2165279ae6acdf6e3f7522812f44afb9aa4779899e5a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/kwrited-5.21.0.tar.xz">kwrited-5.21.0</a></td>
   <td align="right">20kB</td>
   <td><tt>6ae0cb359714bcee9bb9eef5bb4fea60423b2cbdcec57a51dec5bae77623e844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/libkscreen-5.21.0.tar.xz">libkscreen-5.21.0</a></td>
   <td align="right">82kB</td>
   <td><tt>42c70eb0ccfeafbe679814945eb8ae32aa137fb1f77d2611391c61ab28590365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/libksysguard-5.21.0.tar.xz">libksysguard-5.21.0</a></td>
   <td align="right">689kB</td>
   <td><tt>0e6fe8c431dd62833e300ad06682fe90311472bd966617291dee22dd37296e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/milou-5.21.0.tar.xz">milou-5.21.0</a></td>
   <td align="right">42kB</td>
   <td><tt>879987cd476105885edc0854eebef9ac4c48331a544b06ce9690de8442b04ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/oxygen-5.21.0.tar.xz">oxygen-5.21.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>dcc31452e9dcb9107f95229e654a9c618f76cfd7883f9652340da61ef9895563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-browser-integration-5.21.0.tar.xz">plasma-browser-integration-5.21.0</a></td>
   <td align="right">198kB</td>
   <td><tt>f328b87f3b6aafbea9645146f6552f758da44aff837abe910525d40537201d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-desktop-5.21.0.tar.xz">plasma-desktop-5.21.0</a></td>
   <td align="right">15MB</td>
   <td><tt>ebc5d4021236741b5bcee36238f30bdb6a7b3c37fff4158c3e3fd1379281d45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-disks-5.21.0.tar.xz">plasma-disks-5.21.0</a></td>
   <td align="right">68kB</td>
   <td><tt>a949a8bf6cd90e1c1fd326094b841dcaeb1a25de8503b72be784fc25830cd72c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-firewall-5.21.0.tar.xz">plasma-firewall-5.21.0</a></td>
   <td align="right">321kB</td>
   <td><tt>5a53f5c097fd951ebdbbbe33a7405d5538c5cad31fd291199718b2dc917ee6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-integration-5.21.0.tar.xz">plasma-integration-5.21.0</a></td>
   <td align="right">59kB</td>
   <td><tt>fb8042bbd33ad9d201be5991ebe79f00af1be3d70b5837ab30d72d8930f77783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-nano-5.21.0.tar.xz">plasma-nano-5.21.0</a></td>
   <td align="right">63kB</td>
   <td><tt>51d780ab49a3061b672830e43f57b1c700891ad1e26a1764ae4a76ecc904d232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-nm-5.21.0.tar.xz">plasma-nm-5.21.0</a></td>
   <td align="right">871kB</td>
   <td><tt>7d9bca77388dac0d47c87a5bc65737913fc0950a311c5876e56987e6a883e35e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-pa-5.21.0.tar.xz">plasma-pa-5.21.0</a></td>
   <td align="right">110kB</td>
   <td><tt>48dea9ceca6342d1ec4c88af2c2237ab43ec7b03a9dd37f7660ef175e4986fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-phone-components-5.21.0.tar.xz">plasma-phone-components-5.21.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>44edde47b822bde23b9b196d26ee0bb85c722aebfd003bdc2656afddc8b4e3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-sdk-5.21.0.tar.xz">plasma-sdk-5.21.0</a></td>
   <td align="right">262kB</td>
   <td><tt>930b0af8a31fc035f827d805c5226525590eaab0cedaa50fba1e353db64fc562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-systemmonitor-5.21.0.tar.xz">plasma-systemmonitor-5.21.0</a></td>
   <td align="right">119kB</td>
   <td><tt>97752f401c16e7c05fa6a8efe216259af96e3a415a1ee3b260477e1d4234d540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-tests-5.21.0.tar.xz">plasma-tests-5.21.0</a></td>
   <td align="right">1kB</td>
   <td><tt>65613db08a2cf0c2cb592c71d24b15e00ad0ec503ac9d2529829daba106d89fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-thunderbolt-5.21.0.tar.xz">plasma-thunderbolt-5.21.0</a></td>
   <td align="right">55kB</td>
   <td><tt>8f00c23ed3d29155649edbd7888ec0792814541e9ec2130a8c583b6f00ecdccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-vault-5.21.0.tar.xz">plasma-vault-5.21.0</a></td>
   <td align="right">155kB</td>
   <td><tt>cabb2323a8b21c6baa634ebe8be8f9a1860a21ef72684672411116143d428a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-workspace-5.21.0.tar.xz">plasma-workspace-5.21.0</a></td>
   <td align="right">9.2MB</td>
   <td><tt>fa7f0bbbad8a8b485f40746da13f7899bc69025f97b19dfa9e08352c6ca0cbd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plasma-workspace-wallpapers-5.21.0.tar.xz">plasma-workspace-wallpapers-5.21.0</a></td>
   <td align="right">45MB</td>
   <td><tt>e76b4e21e884a9fa942b8ac0e565780881e88e8fa1de716548d2bfdc93088387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/plymouth-kcm-5.21.0.tar.xz">plymouth-kcm-5.21.0</a></td>
   <td align="right">42kB</td>
   <td><tt>39fedf4818bf7c64d3c9f0d50948b924ae7809e9b46e6f231b1f5686cb59f21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/polkit-kde-agent-1-5.21.0.tar.xz">polkit-kde-agent-1-5.21.0</a></td>
   <td align="right">44kB</td>
   <td><tt>4565628aaa2b61c0780e6eeda165a4fa44953753fc3d28c676933fc411a8e88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/powerdevil-5.21.0.tar.xz">powerdevil-5.21.0</a></td>
   <td align="right">599kB</td>
   <td><tt>a3e9e01e3c424b7db6b03977b801f3abd64ea8f70987e82b1bf4c420ce6929bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/qqc2-breeze-style-5.21.0.tar.xz">qqc2-breeze-style-5.21.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6e621bba0cbffb018031c9b79e70be1cd1cfc3825027a1ea599b042e8a96c72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/sddm-kcm-5.21.0.tar.xz">sddm-kcm-5.21.0</a></td>
   <td align="right">61kB</td>
   <td><tt>892698c874662c0df1e99fb458c4962836f5c3b7de01934d5f21ee2f12f41e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/systemsettings-5.21.0.tar.xz">systemsettings-5.21.0</a></td>
   <td align="right">193kB</td>
   <td><tt>830086905ae49d253d6ac48dbe18667a66d0ed2f4dec896f96d96024f8c2e30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.0/xdg-desktop-portal-kde-5.21.0.tar.xz">xdg-desktop-portal-kde-5.21.0</a></td>
   <td align="right">80kB</td>
   <td><tt>77cf24cf3fc05225c85a9a2942fca6a2f8812e49bf53bd3708c2670002e55339</tt></td>
</tr>

</table>
