<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-22.04.3.tar.xz">akonadi-22.04.3</a></td>
   <td align="right">1588kB</td>
   <td><tt>2e74e7b127efdab85f27bf5ad2c63ecc440c7c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-calendar-22.04.3.tar.xz">akonadi-calendar-22.04.3</a></td>
   <td align="right">367kB</td>
   <td><tt>a839ff0c7e411d284cc0eba5001861ad8d9f5eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-calendar-tools-22.04.3.tar.xz">akonadi-calendar-tools-22.04.3</a></td>
   <td align="right">232kB</td>
   <td><tt>a81cac043fd8377c4ceb86a093305a30ce494c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadiconsole-22.04.3.tar.xz">akonadiconsole-22.04.3</a></td>
   <td align="right">196kB</td>
   <td><tt>27997f23b91b330201801155dc1738a101980bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-contacts-22.04.3.tar.xz">akonadi-contacts-22.04.3</a></td>
   <td align="right">421kB</td>
   <td><tt>f55de18caf3460307429caacc3a16c7fcb3ca141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-import-wizard-22.04.3.tar.xz">akonadi-import-wizard-22.04.3</a></td>
   <td align="right">500kB</td>
   <td><tt>95ce374c1ab6bda4f8f9285fc60f24589f97375b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-mime-22.04.3.tar.xz">akonadi-mime-22.04.3</a></td>
   <td align="right">143kB</td>
   <td><tt>e09013cd2ade73da991997d0e19ef0a3ae8cf4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-notes-22.04.3.tar.xz">akonadi-notes-22.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>67355b0719251c56ed865d9ff6219308bac1a67d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akonadi-search-22.04.3.tar.xz">akonadi-search-22.04.3</a></td>
   <td align="right">97kB</td>
   <td><tt>018cb633fd69d10a25e8f5322298ffc9da6ab3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/akregator-22.04.3.tar.xz">akregator-22.04.3</a></td>
   <td align="right">2209kB</td>
   <td><tt>526d85ee997e2767dddbe8f55aefba5195d80674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/analitza-22.04.3.tar.xz">analitza-22.04.3</a></td>
   <td align="right">341kB</td>
   <td><tt>819164c5f2518451082ce3a4b4104cdc6fc06014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ark-22.04.3.tar.xz">ark-22.04.3</a></td>
   <td align="right">2715kB</td>
   <td><tt>d8f5623a55839478c61cc7bb9c101010277d0dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/artikulate-22.04.3.tar.xz">artikulate-22.04.3</a></td>
   <td align="right">1068kB</td>
   <td><tt>6f8ca3827532acc67e5ff448b57cd826d4900905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/audiocd-kio-22.04.3.tar.xz">audiocd-kio-22.04.3</a></td>
   <td align="right">515kB</td>
   <td><tt>f6887f22cbbb33ced26bb11930bc1ba37bfaf304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/baloo-widgets-22.04.3.tar.xz">baloo-widgets-22.04.3</a></td>
   <td align="right">264kB</td>
   <td><tt>eb938050d4b71f45a51d30ed69fb0d2f3f6903e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/blinken-22.04.3.tar.xz">blinken-22.04.3</a></td>
   <td align="right">2651kB</td>
   <td><tt>548a28989edb7d44973eff57ce02e9f0d42a8614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/bomber-22.04.3.tar.xz">bomber-22.04.3</a></td>
   <td align="right">814kB</td>
   <td><tt>25c27a5026f68228c0a8e1f36198fb0a440c8cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/bovo-22.04.3.tar.xz">bovo-22.04.3</a></td>
   <td align="right">205kB</td>
   <td><tt>92b465b71538d2c46e04858836216344ddd9ce04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/calendarsupport-22.04.3.tar.xz">calendarsupport-22.04.3</a></td>
   <td align="right">745kB</td>
   <td><tt>dd8f64008bcf202274729c5fe3bc82ac2aa30133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/cantor-22.04.3.tar.xz">cantor-22.04.3</a></td>
   <td align="right">8980kB</td>
   <td><tt>bd1c77ac55ef31554336b3007238eb7e1eeb55fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/cervisia-22.04.3.tar.xz">cervisia-22.04.3</a></td>
   <td align="right">1869kB</td>
   <td><tt>9c6da33604676440f6437f66b87e293719b6c809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/dolphin-22.04.3.tar.xz">dolphin-22.04.3</a></td>
   <td align="right">5232kB</td>
   <td><tt>a112d869f7af9bc4b6a3d0a4c5f366c07fcce5ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/dolphin-plugins-22.04.3.tar.xz">dolphin-plugins-22.04.3</a></td>
   <td align="right">251kB</td>
   <td><tt>2f25116ecb83f745cc47772f655fc1b29694b42a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/dragon-22.04.3.tar.xz">dragon-22.04.3</a></td>
   <td align="right">1627kB</td>
   <td><tt>5d7390b20016ba4941b9cef11f46d176841eac8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/elisa-22.04.3.tar.xz">elisa-22.04.3</a></td>
   <td align="right">1706kB</td>
   <td><tt>2ec436cc76372ef719d29a516376966a3279b7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/eventviews-22.04.3.tar.xz">eventviews-22.04.3</a></td>
   <td align="right">446kB</td>
   <td><tt>5613616bb141177f4e81223ae9c283feb63f7962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/falkon-22.04.3.tar.xz">falkon-22.04.3</a></td>
   <td align="right">2434kB</td>
   <td><tt>13d5c8be05c25327bdc54b6ddebd6bf80930b38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ffmpegthumbs-22.04.3.tar.xz">ffmpegthumbs-22.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>3687ba9476c3927fbccb5f9d07ff763697ffa7b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/filelight-22.04.3.tar.xz">filelight-22.04.3</a></td>
   <td align="right">676kB</td>
   <td><tt>63007540da6b8ae61d219c0bcb4a38f165132adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/granatier-22.04.3.tar.xz">granatier-22.04.3</a></td>
   <td align="right">2056kB</td>
   <td><tt>a4fe23871737ceea0662d72c8452fa8b799a77bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/grantlee-editor-22.04.3.tar.xz">grantlee-editor-22.04.3</a></td>
   <td align="right">109kB</td>
   <td><tt>60cb808471adc8962ef4769220dd380bccef27b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/grantleetheme-22.04.3.tar.xz">grantleetheme-22.04.3</a></td>
   <td align="right">60kB</td>
   <td><tt>7f98a7791ea4922eee368350995172748db946ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/gwenview-22.04.3.tar.xz">gwenview-22.04.3</a></td>
   <td align="right">6662kB</td>
   <td><tt>f59b5364df15dfd76cb32c736f733bf90db50aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/incidenceeditor-22.04.3.tar.xz">incidenceeditor-22.04.3</a></td>
   <td align="right">535kB</td>
   <td><tt>3fa40db3e2d81d0a4e85c50d877fd683eed3e08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/itinerary-22.04.3.tar.xz">itinerary-22.04.3</a></td>
   <td align="right">489kB</td>
   <td><tt>68b21b20c054471903db7cc702d433f931887702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/juk-22.04.3.tar.xz">juk-22.04.3</a></td>
   <td align="right">1967kB</td>
   <td><tt>0fdc671a27b9b3b416b6ffec8b4580b6c8b9112c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/k3b-22.04.3.tar.xz">k3b-22.04.3</a></td>
   <td align="right">10493kB</td>
   <td><tt>1967aef15d24026d7b079f86071d9dbf914a5eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kaccounts-integration-22.04.3.tar.xz">kaccounts-integration-22.04.3</a></td>
   <td align="right">85kB</td>
   <td><tt>4b5997f030ee26ef6ee4b353aa3f2ea01ef31786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kaccounts-providers-22.04.3.tar.xz">kaccounts-providers-22.04.3</a></td>
   <td align="right">62kB</td>
   <td><tt>7025be638f3d2c0d94aafbeed1bc2ab8143b398f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kaddressbook-22.04.3.tar.xz">kaddressbook-22.04.3</a></td>
   <td align="right">3261kB</td>
   <td><tt>908bbf4eea5f0dc848b9c9f037493553f3e06088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kajongg-22.04.3.tar.xz">kajongg-22.04.3</a></td>
   <td align="right">4459kB</td>
   <td><tt>abcd1389569005aa1f812785f71a0860a1ac5b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kalarm-22.04.3.tar.xz">kalarm-22.04.3</a></td>
   <td align="right">2292kB</td>
   <td><tt>15db6d2ed8a4b925d27eda794fc11acf5b349655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kalendar-22.04.3.tar.xz">kalendar-22.04.3</a></td>
   <td align="right">252kB</td>
   <td><tt>e317f17da5992c2038d94660f5ae47293608a56d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kalgebra-22.04.3.tar.xz">kalgebra-22.04.3</a></td>
   <td align="right">1007kB</td>
   <td><tt>0cc9b8ec81170c62628a6ee6528f5360cddb9615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kalzium-22.04.3.tar.xz">kalzium-22.04.3</a></td>
   <td align="right">23896kB</td>
   <td><tt>fb69329b4a95a379e2a108c7b941e0c8c297622a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kamera-22.04.3.tar.xz">kamera-22.04.3</a></td>
   <td align="right">116kB</td>
   <td><tt>fe35540e7fb2f2e07eb8904e4788f0902e8b78d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kamoso-22.04.3.tar.xz">kamoso-22.04.3</a></td>
   <td align="right">221kB</td>
   <td><tt>13fbf88033a0d8c8adbc769cbb8f901edbdd9f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kanagram-22.04.3.tar.xz">kanagram-22.04.3</a></td>
   <td align="right">7857kB</td>
   <td><tt>168d3f845ffbfc190202959795b9a92a4bcc99c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kapman-22.04.3.tar.xz">kapman-22.04.3</a></td>
   <td align="right">2417kB</td>
   <td><tt>d20716114c69a68655c147794d59fafe6f5e6d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kapptemplate-22.04.3.tar.xz">kapptemplate-22.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>3874edf85718fb4dcb823afd0928f2fea35dba18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kate-22.04.3.tar.xz">kate-22.04.3</a></td>
   <td align="right">7407kB</td>
   <td><tt>c6c01d0ed1d29226e78f3bf20987c08bd9b682b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/katomic-22.04.3.tar.xz">katomic-22.04.3</a></td>
   <td align="right">1403kB</td>
   <td><tt>59f8ff23315e342515531920ef8e8f0b9818f6e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kbackup-22.04.3.tar.xz">kbackup-22.04.3</a></td>
   <td align="right">380kB</td>
   <td><tt>ab57765e1c64c0fdac46bac769aab343093205bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kblackbox-22.04.3.tar.xz">kblackbox-22.04.3</a></td>
   <td align="right">515kB</td>
   <td><tt>6af81672589a0713e6f55506a4c5da45a65db9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kblocks-22.04.3.tar.xz">kblocks-22.04.3</a></td>
   <td align="right">2052kB</td>
   <td><tt>e0c0ed767fb0c32477a8fe30ac618446b08ee8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kbounce-22.04.3.tar.xz">kbounce-22.04.3</a></td>
   <td align="right">3449kB</td>
   <td><tt>4311fcc9dd3bd073112fb2ef28d25c1aef868117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kbreakout-22.04.3.tar.xz">kbreakout-22.04.3</a></td>
   <td align="right">2497kB</td>
   <td><tt>b437715fefd6318d8eecfeb9271cd26333a46ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kbruch-22.04.3.tar.xz">kbruch-22.04.3</a></td>
   <td align="right">5501kB</td>
   <td><tt>494a810470bd676e3bb5a86bb8149c166963f66b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcachegrind-22.04.3.tar.xz">kcachegrind-22.04.3</a></td>
   <td align="right">858kB</td>
   <td><tt>46418bb50a60438f2f4a7639db6eafe8032f35fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcalc-22.04.3.tar.xz">kcalc-22.04.3</a></td>
   <td align="right">385kB</td>
   <td><tt>4bae7b9ba2b9a3be491af57f965a17e371e974f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcalutils-22.04.3.tar.xz">kcalutils-22.04.3</a></td>
   <td align="right">336kB</td>
   <td><tt>83e9bbd878b2ca8f4f618aadf1b0cd67c57c0daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcharselect-22.04.3.tar.xz">kcharselect-22.04.3</a></td>
   <td align="right">365kB</td>
   <td><tt>05664f770fbac29894c4adeffd822002298e3f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcolorchooser-22.04.3.tar.xz">kcolorchooser-22.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>c9f3de02c682b2a97912bbe7590b88b8f85d37b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kcron-22.04.3.tar.xz">kcron-22.04.3</a></td>
   <td align="right">895kB</td>
   <td><tt>7e0fc96f6580f7642a8d02391b4c8c7be7adc49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdebugsettings-22.04.3.tar.xz">kdebugsettings-22.04.3</a></td>
   <td align="right">90kB</td>
   <td><tt>fcbd01f8fd2d18099915376f94c9b4ae292a84ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdeconnect-kde-22.04.3.tar.xz">kdeconnect-kde-22.04.3</a></td>
   <td align="right">599kB</td>
   <td><tt>3fbfef5560e52c6235b0f7816e061b2885f7cf17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kde-dev-scripts-22.04.3.tar.xz">kde-dev-scripts-22.04.3</a></td>
   <td align="right">357kB</td>
   <td><tt>438175c51f79d00732aee407b33064c36b8824c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kde-dev-utils-22.04.3.tar.xz">kde-dev-utils-22.04.3</a></td>
   <td align="right">66kB</td>
   <td><tt>e8058cd412599f697551ed8ddce462f1ed3ccc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdeedu-data-22.04.3.tar.xz">kdeedu-data-22.04.3</a></td>
   <td align="right">328kB</td>
   <td><tt>b2913f848b42fd22a22d53e4439d237edc98187c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdegraphics-mobipocket-22.04.3.tar.xz">kdegraphics-mobipocket-22.04.3</a></td>
   <td align="right">12kB</td>
   <td><tt>b22f5fba8231493ca471b2ce303cdfe69148ec6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdegraphics-thumbnailers-22.04.3.tar.xz">kdegraphics-thumbnailers-22.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>433a46e4e8a3be8ffa873eae74d231cc466d7233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdenetwork-filesharing-22.04.3.tar.xz">kdenetwork-filesharing-22.04.3</a></td>
   <td align="right">364kB</td>
   <td><tt>f862500046dbb302b12f99c1d94de83ed31d80a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdenlive-22.04.3.tar.xz">kdenlive-22.04.3</a></td>
   <td align="right">12127kB</td>
   <td><tt>1f7ffb0411eacb97f15b4a3a821a102e669011b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdepim-addons-22.04.3.tar.xz">kdepim-addons-22.04.3</a></td>
   <td align="right">2231kB</td>
   <td><tt>7464ac8db9f77f22b1b3bfd6f283b7825256f3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdepim-runtime-22.04.3.tar.xz">kdepim-runtime-22.04.3</a></td>
   <td align="right">1732kB</td>
   <td><tt>b7c4e5914c8206f9669d9e39c274aae85da30804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdesdk-kioslaves-22.04.3.tar.xz">kdesdk-kioslaves-22.04.3</a></td>
   <td align="right">38kB</td>
   <td><tt>c05c247d48585c088e507a48dae9ae550e706338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdesdk-thumbnailers-22.04.3.tar.xz">kdesdk-thumbnailers-22.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>19ff02fe00c728952fb451bd28817c7a53aa5b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdevelop-22.04.3.tar.xz">kdevelop-22.04.3</a></td>
   <td align="right">8229kB</td>
   <td><tt>13e85d9e6f359f8ad1c19909a76e3f0060ef9cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdev-php-22.04.3.tar.xz">kdev-php-22.04.3</a></td>
   <td align="right">1055kB</td>
   <td><tt>7afead279da5bb2ba2f537e8e9603f98f4453d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdev-python-22.04.3.tar.xz">kdev-python-22.04.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>98571b83b0ecb45df61ef0e76f30d520e4f78958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdf-22.04.3.tar.xz">kdf-22.04.3</a></td>
   <td align="right">465kB</td>
   <td><tt>c1a6735ba08abd29e99a72d2b43214914273b4b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdialog-22.04.3.tar.xz">kdialog-22.04.3</a></td>
   <td align="right">113kB</td>
   <td><tt>6129cdfdda0aeb01a3d659fcbf9ed3b282eca684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kdiamond-22.04.3.tar.xz">kdiamond-22.04.3</a></td>
   <td align="right">4593kB</td>
   <td><tt>13ebc67eb651d8f2388b64488032441457f2b004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/keditbookmarks-22.04.3.tar.xz">keditbookmarks-22.04.3</a></td>
   <td align="right">199kB</td>
   <td><tt>53e494099f3a11a124a6ec85a6753a6e121fb04e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kfind-22.04.3.tar.xz">kfind-22.04.3</a></td>
   <td align="right">281kB</td>
   <td><tt>e1c83d624a100bc2defea23ebe32dda58fafe472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kfloppy-22.04.3.tar.xz">kfloppy-22.04.3</a></td>
   <td align="right">208kB</td>
   <td><tt>d1df27e5fe1e5cad6a1df21c56835284cab79757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kfourinline-22.04.3.tar.xz">kfourinline-22.04.3</a></td>
   <td align="right">705kB</td>
   <td><tt>42b9d90ee150265e2d65c3ac9a6678595d430c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kgeography-22.04.3.tar.xz">kgeography-22.04.3</a></td>
   <td align="right">10822kB</td>
   <td><tt>faca609e3cb9a279b3480a3c66ce91776468c63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kget-22.04.3.tar.xz">kget-22.04.3</a></td>
   <td align="right">5316kB</td>
   <td><tt>f9b90a6766dfbc4c2a21e99f653dd4f169f5122b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kgoldrunner-22.04.3.tar.xz">kgoldrunner-22.04.3</a></td>
   <td align="right">4674kB</td>
   <td><tt>50c042ebb78e9580ff3ef6d0386ac866ebba9974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kgpg-22.04.3.tar.xz">kgpg-22.04.3</a></td>
   <td align="right">2884kB</td>
   <td><tt>fed25fa17441ceaa8b1d03f99620ff1953fa277c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/khangman-22.04.3.tar.xz">khangman-22.04.3</a></td>
   <td align="right">7249kB</td>
   <td><tt>494864827a9e0b4adfd355eabd254a2e6a273414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/khelpcenter-22.04.3.tar.xz">khelpcenter-22.04.3</a></td>
   <td align="right">4207kB</td>
   <td><tt>75d0c50b8e3e760b5a3647648d9dce10bf2ea6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kidentitymanagement-22.04.3.tar.xz">kidentitymanagement-22.04.3</a></td>
   <td align="right">155kB</td>
   <td><tt>52b1134bd579355a6263475ff7773ea8074b3371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kig-22.04.3.tar.xz">kig-22.04.3</a></td>
   <td align="right">3110kB</td>
   <td><tt>42912f894f783c76c365cf9897ad61b6f1116dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kigo-22.04.3.tar.xz">kigo-22.04.3</a></td>
   <td align="right">5130kB</td>
   <td><tt>65530355305973ce7fa19f98730f31abb37d14ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/killbots-22.04.3.tar.xz">killbots-22.04.3</a></td>
   <td align="right">1169kB</td>
   <td><tt>36135e5ac08ff64046bbe1936ccfd4f194660a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kimagemapeditor-22.04.3.tar.xz">kimagemapeditor-22.04.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>a8597b8cb555d274a642988159569645a6bb3dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kimap-22.04.3.tar.xz">kimap-22.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>7d1d26d94da4f51e970f14b10081b203ec22104e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kio-extras-22.04.3.tar.xz">kio-extras-22.04.3</a></td>
   <td align="right">627kB</td>
   <td><tt>18a7512831287f6962db599ac2690d30cb43e50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kio-gdrive-22.04.3.tar.xz">kio-gdrive-22.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>30f9c201bc5f817d77d8f9486a74077914b45c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kipi-plugins-22.04.3.tar.xz">kipi-plugins-22.04.3</a></td>
   <td align="right">1489kB</td>
   <td><tt>198a4e138496b81bc043e3c2fd6f2f7ca43fc2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kirigami-gallery-22.04.3.tar.xz">kirigami-gallery-22.04.3</a></td>
   <td align="right">330kB</td>
   <td><tt>79224302c7b760266d4c5e3e856068799c9614a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kiriki-22.04.3.tar.xz">kiriki-22.04.3</a></td>
   <td align="right">357kB</td>
   <td><tt>14a4cfa2badaad7d9c63d9c1995b6e929e7e27c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kiten-22.04.3.tar.xz">kiten-22.04.3</a></td>
   <td align="right">11051kB</td>
   <td><tt>17c723adbd6cd3d54b6cfdc5a1a1dbf7c5bb3fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kitinerary-22.04.3.tar.xz">kitinerary-22.04.3</a></td>
   <td align="right">1494kB</td>
   <td><tt>51c037db3e2861be31d569801c20a0559865d6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kjumpingcube-22.04.3.tar.xz">kjumpingcube-22.04.3</a></td>
   <td align="right">318kB</td>
   <td><tt>d606262ec0df3250a324e33b2670720fe517c17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kldap-22.04.3.tar.xz">kldap-22.04.3</a></td>
   <td align="right">168kB</td>
   <td><tt>356bb0b10a766acfd5256dba31614f416f1f1c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kleopatra-22.04.3.tar.xz">kleopatra-22.04.3</a></td>
   <td align="right">2207kB</td>
   <td><tt>7f5c3d82c916eb20650c01b8d5f7db34df567b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/klettres-22.04.3.tar.xz">klettres-22.04.3</a></td>
   <td align="right">46082kB</td>
   <td><tt>13738a94fe70d4ca9869fd1a7951abe8ba36e011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/klickety-22.04.3.tar.xz">klickety-22.04.3</a></td>
   <td align="right">1460kB</td>
   <td><tt>ddda3c90b44a27e2a77c53557bddf2cc86fcc85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/klines-22.04.3.tar.xz">klines-22.04.3</a></td>
   <td align="right">1686kB</td>
   <td><tt>04845af3001ce2f64f704948e303269e8ad9e645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmag-22.04.3.tar.xz">kmag-22.04.3</a></td>
   <td align="right">693kB</td>
   <td><tt>87f80540ffe5b41bff9f9ea7d3bd9a229c45272b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmahjongg-22.04.3.tar.xz">kmahjongg-22.04.3</a></td>
   <td align="right">3975kB</td>
   <td><tt>39fef353e08da0ccece101faac88f1c8808dace5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmail-22.04.3.tar.xz">kmail-22.04.3</a></td>
   <td align="right">6985kB</td>
   <td><tt>21c1b7c45cad124dc81d7a91c5986c63cab4b680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmail-account-wizard-22.04.3.tar.xz">kmail-account-wizard-22.04.3</a></td>
   <td align="right">170kB</td>
   <td><tt>c0a04cca194c5a7520df1b78bffc3946a0ed2dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmailtransport-22.04.3.tar.xz">kmailtransport-22.04.3</a></td>
   <td align="right">172kB</td>
   <td><tt>e5fa8b9099253058b3ee35293c7b69ea7cb7d01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmbox-22.04.3.tar.xz">kmbox-22.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>2ea5612a8ebe9322a6bcaca13d9da959ebfd8d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmime-22.04.3.tar.xz">kmime-22.04.3</a></td>
   <td align="right">152kB</td>
   <td><tt>ed82901a015a22341580f0fb2686652c57a4c2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmines-22.04.3.tar.xz">kmines-22.04.3</a></td>
   <td align="right">970kB</td>
   <td><tt>e9ab2d590d78ad22dd7d75afabb7ecc036f48ffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmix-22.04.3.tar.xz">kmix-22.04.3</a></td>
   <td align="right">1136kB</td>
   <td><tt>3e5579c749b2cc934cfcdc94203de8ad8ef5aced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmousetool-22.04.3.tar.xz">kmousetool-22.04.3</a></td>
   <td align="right">119kB</td>
   <td><tt>b47f3ef6fad800f22eedf8570e28d88f7e6d2469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmouth-22.04.3.tar.xz">kmouth-22.04.3</a></td>
   <td align="right">2058kB</td>
   <td><tt>2633a5dddfbbe70ccd415a6641f06042cec58420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kmplot-22.04.3.tar.xz">kmplot-22.04.3</a></td>
   <td align="right">2977kB</td>
   <td><tt>2d8cea0803bbc9edc4223ae83121810106140ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/knavalbattle-22.04.3.tar.xz">knavalbattle-22.04.3</a></td>
   <td align="right">1347kB</td>
   <td><tt>459b8b3b7296937327beed7828b1d4b0012fbfd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/knetwalk-22.04.3.tar.xz">knetwalk-22.04.3</a></td>
   <td align="right">1071kB</td>
   <td><tt>b17c6918f42bc33271ce9c7eeb6598ecab01d43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/knights-22.04.3.tar.xz">knights-22.04.3</a></td>
   <td align="right">3246kB</td>
   <td><tt>89bb3d733604a80b618a6d73b75881009e5c0bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/knotes-22.04.3.tar.xz">knotes-22.04.3</a></td>
   <td align="right">336kB</td>
   <td><tt>a8c7f288cb2548c6d8239623677133dabff9f6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kolf-22.04.3.tar.xz">kolf-22.04.3</a></td>
   <td align="right">1026kB</td>
   <td><tt>65782735b5fb1b02ffeffd298e8fab23e3992613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kollision-22.04.3.tar.xz">kollision-22.04.3</a></td>
   <td align="right">295kB</td>
   <td><tt>652c0868b253ddb7056c9a10ea9374801640b447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kolourpaint-22.04.3.tar.xz">kolourpaint-22.04.3</a></td>
   <td align="right">5583kB</td>
   <td><tt>edbb96b42d791c6a1d639851ab3d9bdb9e985ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kompare-22.04.3.tar.xz">kompare-22.04.3</a></td>
   <td align="right">928kB</td>
   <td><tt>98819a1e93465649b6c74c3ad2765eb9c8bf4df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/konqueror-22.04.3.tar.xz">konqueror-22.04.3</a></td>
   <td align="right">7489kB</td>
   <td><tt>37d4c53da52014d0c996154dda75eb8368bf7425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/konquest-22.04.3.tar.xz">konquest-22.04.3</a></td>
   <td align="right">841kB</td>
   <td><tt>a8bba85b2182a53c8622ecd0e181ec0104674211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/konsole-22.04.3.tar.xz">konsole-22.04.3</a></td>
   <td align="right">1441kB</td>
   <td><tt>e91a0985d55ccf71c298fa793dc8d1980587976b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kontact-22.04.3.tar.xz">kontact-22.04.3</a></td>
   <td align="right">803kB</td>
   <td><tt>19a3eab9d6b3910942da0e9ff99ae714a1477bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kontactinterface-22.04.3.tar.xz">kontactinterface-22.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>c10959977642ddc1a889cf6050f250ab57076b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kontrast-22.04.3.tar.xz">kontrast-22.04.3</a></td>
   <td align="right">122kB</td>
   <td><tt>11afce2804e017d00d004d05dcba4c44fcaa28b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/konversation-22.04.3.tar.xz">konversation-22.04.3</a></td>
   <td align="right">4185kB</td>
   <td><tt>2863807cd41100fb3519d4f51e8616b1c8cea980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kopeninghours-22.04.3.tar.xz">kopeninghours-22.04.3</a></td>
   <td align="right">67kB</td>
   <td><tt>9c7b7794d656e78d7ed64cb3532270610fcd42f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kopete-22.04.3.tar.xz">kopete-22.04.3</a></td>
   <td align="right">9438kB</td>
   <td><tt>2340cfc987a60eab651456cfc99dc585b01a10cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/korganizer-22.04.3.tar.xz">korganizer-22.04.3</a></td>
   <td align="right">2248kB</td>
   <td><tt>111f0e14110348665727b18bf7bf50190b8d0a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kosmindoormap-22.04.3.tar.xz">kosmindoormap-22.04.3</a></td>
   <td align="right">343kB</td>
   <td><tt>c028ffa9dc8ac8796505a3719af9817f5300d6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kpat-22.04.3.tar.xz">kpat-22.04.3</a></td>
   <td align="right">3643kB</td>
   <td><tt>7e55c71616deb9a8400cc13c9a7e8c5ba7d726fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kpimtextedit-22.04.3.tar.xz">kpimtextedit-22.04.3</a></td>
   <td align="right">211kB</td>
   <td><tt>52c6e99a2e7788064494ebdbc8ccf8bd3545207e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kpkpass-22.04.3.tar.xz">kpkpass-22.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>09f12ce000c3ed98c13b89a0ec9a2034588ff501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kpmcore-22.04.3.tar.xz">kpmcore-22.04.3</a></td>
   <td align="right">579kB</td>
   <td><tt>d398507eb84b4c279fab2d1390dc1bc33d08e4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kpublictransport-22.04.3.tar.xz">kpublictransport-22.04.3</a></td>
   <td align="right">474kB</td>
   <td><tt>b43f2f615f4e1a109b711792762f4f1264ebf8a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kqtquickcharts-22.04.3.tar.xz">kqtquickcharts-22.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>59db5d47d319bd726aa943bed34002a1a533d310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/krdc-22.04.3.tar.xz">krdc-22.04.3</a></td>
   <td align="right">1545kB</td>
   <td><tt>d0513c8d030bf96206e4b04808bc081026052770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kreversi-22.04.3.tar.xz">kreversi-22.04.3</a></td>
   <td align="right">1038kB</td>
   <td><tt>744bb10da4de1c3eecfc329f50364ca4cd6be45a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/krfb-22.04.3.tar.xz">krfb-22.04.3</a></td>
   <td align="right">1271kB</td>
   <td><tt>96cc6b9c70b78c91584aab241dfd4e7f614a43c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kross-interpreters-22.04.3.tar.xz">kross-interpreters-22.04.3</a></td>
   <td align="right">148kB</td>
   <td><tt>9ab44042b57efb4314ef85a627d3f3fc9c606dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kruler-22.04.3.tar.xz">kruler-22.04.3</a></td>
   <td align="right">270kB</td>
   <td><tt>ddba9584e4f0b877e850c306cb77186aa28fda00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kshisen-22.04.3.tar.xz">kshisen-22.04.3</a></td>
   <td align="right">970kB</td>
   <td><tt>7a723f5a97897ed96f0f63de5773175296b62f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksirk-22.04.3.tar.xz">ksirk-22.04.3</a></td>
   <td align="right">6843kB</td>
   <td><tt>c9afe7c1764746edf5434f4a6471eead679186b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksmtp-22.04.3.tar.xz">ksmtp-22.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>53d316ea422d803a8d5296678d3ccafb180a1a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksnakeduel-22.04.3.tar.xz">ksnakeduel-22.04.3</a></td>
   <td align="right">593kB</td>
   <td><tt>536e50628f670cbd65df774155bd33ca8b3668a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kspaceduel-22.04.3.tar.xz">kspaceduel-22.04.3</a></td>
   <td align="right">636kB</td>
   <td><tt>8ad928256f6f5ee4edd67ba0179ee0b319a08954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksquares-22.04.3.tar.xz">ksquares-22.04.3</a></td>
   <td align="right">301kB</td>
   <td><tt>0a1d8b797f4d09545e3d78aa3dae65b3e7ec82f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksudoku-22.04.3.tar.xz">ksudoku-22.04.3</a></td>
   <td align="right">1650kB</td>
   <td><tt>fcc37d1db9a912267d258972cd02e150984644c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ksystemlog-22.04.3.tar.xz">ksystemlog-22.04.3</a></td>
   <td align="right">1923kB</td>
   <td><tt>01124b8ba2e493c63feaf3acfeff904487cd0382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kteatime-22.04.3.tar.xz">kteatime-22.04.3</a></td>
   <td align="right">295kB</td>
   <td><tt>42debaf99f5b4539b42682598d0e63ea74033332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktimer-22.04.3.tar.xz">ktimer-22.04.3</a></td>
   <td align="right">385kB</td>
   <td><tt>16d8d4452ac19e34182d6162ab90a7972afdb92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktnef-22.04.3.tar.xz">ktnef-22.04.3</a></td>
   <td align="right">296kB</td>
   <td><tt>749a41606cddd3eadd5a72c2e9d587ffd25e5136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktorrent-22.04.3.tar.xz">ktorrent-22.04.3</a></td>
   <td align="right">2008kB</td>
   <td><tt>5eb39ab5f28a52ae30514915006c4a5ddcf60003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktouch-22.04.3.tar.xz">ktouch-22.04.3</a></td>
   <td align="right">4861kB</td>
   <td><tt>672e85d4ccd58cba1f7ef3fbf2972968dabdb395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-accounts-kcm-22.04.3.tar.xz">ktp-accounts-kcm-22.04.3</a></td>
   <td align="right">260kB</td>
   <td><tt>6cca2196c268d28914311d90ce53dc65beb8a1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-approver-22.04.3.tar.xz">ktp-approver-22.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>aa39baf33883d59ca843b46ddf15f56931186f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-auth-handler-22.04.3.tar.xz">ktp-auth-handler-22.04.3</a></td>
   <td align="right">46kB</td>
   <td><tt>ee4de43ae2f3e6f538f0eac3878caff4377d62d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-call-ui-22.04.3.tar.xz">ktp-call-ui-22.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>f2da9b03c3b3ea65a59066a1efa1f7ca012ceb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-common-internals-22.04.3.tar.xz">ktp-common-internals-22.04.3</a></td>
   <td align="right">440kB</td>
   <td><tt>bea554840e0cbce498d3c395bfec94b5145dccab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-contact-list-22.04.3.tar.xz">ktp-contact-list-22.04.3</a></td>
   <td align="right">152kB</td>
   <td><tt>26eee58f9069f23ff15064dcf69f314a05d2a599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-contact-runner-22.04.3.tar.xz">ktp-contact-runner-22.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>46c5efeac33585e2a8a1281b750f81a14950c67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-desktop-applets-22.04.3.tar.xz">ktp-desktop-applets-22.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>ec1ce1e2dbec4563b39f76256d7f36f8c8f7f420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-filetransfer-handler-22.04.3.tar.xz">ktp-filetransfer-handler-22.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>ae2fd57ebba8c335e1fd7dfb1dd3c04c2aad1009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-kded-module-22.04.3.tar.xz">ktp-kded-module-22.04.3</a></td>
   <td align="right">98kB</td>
   <td><tt>b050262177fb3f41603c8daac581e35c62de4952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-send-file-22.04.3.tar.xz">ktp-send-file-22.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>4ebaae56e4cb653810002a3d715a0e8350801a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktp-text-ui-22.04.3.tar.xz">ktp-text-ui-22.04.3</a></td>
   <td align="right">463kB</td>
   <td><tt>db27633601058bae1c3bb4279cca8cc0194c94d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/ktuberling-22.04.3.tar.xz">ktuberling-22.04.3</a></td>
   <td align="right">69160kB</td>
   <td><tt>49097fb14677d18e1f74e5a5a760fe9371c98940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kturtle-22.04.3.tar.xz">kturtle-22.04.3</a></td>
   <td align="right">1930kB</td>
   <td><tt>97a958c2750654d837061302ee3a895a8a3749e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kubrick-22.04.3.tar.xz">kubrick-22.04.3</a></td>
   <td align="right">335kB</td>
   <td><tt>16bf4020658e4987697819e9a0a4348599b64f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kwalletmanager-22.04.3.tar.xz">kwalletmanager-22.04.3</a></td>
   <td align="right">782kB</td>
   <td><tt>de90c0e53c89957dfb096d2ddc5fd38d1491db24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kwave-22.04.3.tar.xz">kwave-22.04.3</a></td>
   <td align="right">6793kB</td>
   <td><tt>58b7dcf6552b8bacda7e9b85cbae84296cd7eeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/kwordquiz-22.04.3.tar.xz">kwordquiz-22.04.3</a></td>
   <td align="right">4116kB</td>
   <td><tt>baa7b8ae8a1cd2830e3d17da700ea00f9e60e982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libgravatar-22.04.3.tar.xz">libgravatar-22.04.3</a></td>
   <td align="right">34kB</td>
   <td><tt>eaa004ff8ef0c9f3790abb5a43731e5d3ae55194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkcddb-22.04.3.tar.xz">libkcddb-22.04.3</a></td>
   <td align="right">425kB</td>
   <td><tt>b5d8340597582f957f839d4d60cdd820972b7850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkcompactdisc-22.04.3.tar.xz">libkcompactdisc-22.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>fc77526f50d42e2da2e8ce025f1328b6e2d59777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkdcraw-22.04.3.tar.xz">libkdcraw-22.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>30e6d89c774c28956ec42ac8b98834e6ac7c7bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkdegames-22.04.3.tar.xz">libkdegames-22.04.3</a></td>
   <td align="right">5816kB</td>
   <td><tt>c75f05874f80afa2898664b767685c977bb83897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkdepim-22.04.3.tar.xz">libkdepim-22.04.3</a></td>
   <td align="right">242kB</td>
   <td><tt>6d46639e8e2caabb1fa9a1635c5fa42dd4d472e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkeduvocdocument-22.04.3.tar.xz">libkeduvocdocument-22.04.3</a></td>
   <td align="right">209kB</td>
   <td><tt>ae7ebe4dc8edd1ac46b7d06d77bb19a09a98da60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkexiv2-22.04.3.tar.xz">libkexiv2-22.04.3</a></td>
   <td align="right">58kB</td>
   <td><tt>88c1f01f0c77ae607fc64972ec1fdcdf806e92f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkgapi-22.04.3.tar.xz">libkgapi-22.04.3</a></td>
   <td align="right">239kB</td>
   <td><tt>962540d723d385a335bf6ceb95073a60a06592f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkipi-22.04.3.tar.xz">libkipi-22.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>0741fa065e6d63a04a6c3c09745d15e626a55157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkleo-22.04.3.tar.xz">libkleo-22.04.3</a></td>
   <td align="right">458kB</td>
   <td><tt>5306f38e32760b9dbcea3e2023432097ad9e21f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkmahjongg-22.04.3.tar.xz">libkmahjongg-22.04.3</a></td>
   <td align="right">1644kB</td>
   <td><tt>fd1aaa05048563518ccedad38ebf84469c2a8590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libkomparediff2-22.04.3.tar.xz">libkomparediff2-22.04.3</a></td>
   <td align="right">165kB</td>
   <td><tt>e73a6b5bab69beb5ebf32501ec20258ffd3a2304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libksane-22.04.3.tar.xz">libksane-22.04.3</a></td>
   <td align="right">161kB</td>
   <td><tt>38a424e046af0edcc3b1ebb0957374ec4f31a716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libksieve-22.04.3.tar.xz">libksieve-22.04.3</a></td>
   <td align="right">563kB</td>
   <td><tt>d1c272bff1854ea6c723f9780776bc91c9661913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/libktorrent-22.04.3.tar.xz">libktorrent-22.04.3</a></td>
   <td align="right">581kB</td>
   <td><tt>cbc20f25aa866420eea720f1e9c45cb79dde9e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/lokalize-22.04.3.tar.xz">lokalize-22.04.3</a></td>
   <td align="right">2022kB</td>
   <td><tt>df16cd46245575de7995c629dee3a17469589693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/lskat-22.04.3.tar.xz">lskat-22.04.3</a></td>
   <td align="right">1205kB</td>
   <td><tt>3b5d9b54048adad261e4277c7dfa37f7c0d16787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/mailcommon-22.04.3.tar.xz">mailcommon-22.04.3</a></td>
   <td align="right">731kB</td>
   <td><tt>cba7cb714e98f7e95105f11d38e647be3174ef5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/mailimporter-22.04.3.tar.xz">mailimporter-22.04.3</a></td>
   <td align="right">546kB</td>
   <td><tt>6d45a6f3df92af621dabec5635c1420c5d79397b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/marble-22.04.3.tar.xz">marble-22.04.3</a></td>
   <td align="right">52414kB</td>
   <td><tt>61502d7caad0faf6715280bd4657b583b07f2bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/markdownpart-22.04.3.tar.xz">markdownpart-22.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>55f3c397ebc355ebbd6dc82295f0bf65b8db3c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/mbox-importer-22.04.3.tar.xz">mbox-importer-22.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>af9ae32d7797e4ac7ea4585231c3777926c272db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/messagelib-22.04.3.tar.xz">messagelib-22.04.3</a></td>
   <td align="right">10574kB</td>
   <td><tt>036d438bbed7597c6c6d880e6d49a6156764abba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/minuet-22.04.3.tar.xz">minuet-22.04.3</a></td>
   <td align="right">27030kB</td>
   <td><tt>7ada0d16b2468f64b9d83fd7454a6288755d290e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/okular-22.04.3.tar.xz">okular-22.04.3</a></td>
   <td align="right">8026kB</td>
   <td><tt>78e8d77c383047aac4eff928a333092f0b427367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/palapeli-22.04.3.tar.xz">palapeli-22.04.3</a></td>
   <td align="right">2051kB</td>
   <td><tt>2dd8c1b76b6c561ea19f23df0d5378a4ea63b1fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/parley-22.04.3.tar.xz">parley-22.04.3</a></td>
   <td align="right">8292kB</td>
   <td><tt>6d9998998207d73b8c627342d59b52ffdaab9dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/partitionmanager-22.04.3.tar.xz">partitionmanager-22.04.3</a></td>
   <td align="right">2059kB</td>
   <td><tt>54739599a6c8d60c072176ad82f60f321f11f6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/picmi-22.04.3.tar.xz">picmi-22.04.3</a></td>
   <td align="right">1502kB</td>
   <td><tt>04c26717bc93fbf0171fd8f897379a87d9a65c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/pimcommon-22.04.3.tar.xz">pimcommon-22.04.3</a></td>
   <td align="right">366kB</td>
   <td><tt>9409ca540000f96dac5e081dac1cb473f2079f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/pim-data-exporter-22.04.3.tar.xz">pim-data-exporter-22.04.3</a></td>
   <td align="right">398kB</td>
   <td><tt>0fe542b911ec1169e362db00a08c4abcd4c8b572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/pim-sieve-editor-22.04.3.tar.xz">pim-sieve-editor-22.04.3</a></td>
   <td align="right">443kB</td>
   <td><tt>20c7320c7134812b2868769e5239d6dde6d2158c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/poxml-22.04.3.tar.xz">poxml-22.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>c1d4ffda0b3cc9ebbeaa5688b2a659f356dd218f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/print-manager-22.04.3.tar.xz">print-manager-22.04.3</a></td>
   <td align="right">265kB</td>
   <td><tt>992975b2e4231a77550f3b2a520ed1197014f4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/rocs-22.04.3.tar.xz">rocs-22.04.3</a></td>
   <td align="right">1525kB</td>
   <td><tt>3efb62db3e3a0e00e1c784064424e0b3f8b17811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/signon-kwallet-extension-22.04.3.tar.xz">signon-kwallet-extension-22.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>02be8a54e5d22af9ab1d738bb5473b9769580bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/skanlite-22.04.3.tar.xz">skanlite-22.04.3</a></td>
   <td align="right">2384kB</td>
   <td><tt>452f45d9200cb5ca9542651999a4efe6799fe69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/skanpage-22.04.3.tar.xz">skanpage-22.04.3</a></td>
   <td align="right">380kB</td>
   <td><tt>a200b945284c1659f8248f81416bd1b95be61e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/spectacle-22.04.3.tar.xz">spectacle-22.04.3</a></td>
   <td align="right">1233kB</td>
   <td><tt>8884873b286b2fc76ead2b06ae2a48ed3c598864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/step-22.04.3.tar.xz">step-22.04.3</a></td>
   <td align="right">916kB</td>
   <td><tt>bc0d7bf4a6dbd2dcf07aec36c343fee136458cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/svgpart-22.04.3.tar.xz">svgpart-22.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>d986326fa3437c14f501814237af75d72f8d02a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/sweeper-22.04.3.tar.xz">sweeper-22.04.3</a></td>
   <td align="right">368kB</td>
   <td><tt>bab38504534b51a4de9204d4f1d8c6125904fbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/umbrello-22.04.3.tar.xz">umbrello-22.04.3</a></td>
   <td align="right">5541kB</td>
   <td><tt>0b708e486bbf3baaac96e6c6820dbfce9e200a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/yakuake-22.04.3.tar.xz">yakuake-22.04.3</a></td>
   <td align="right">395kB</td>
   <td><tt>81654fa2f536c4bdf4cad663838dbe3a425e3778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/zanshin-22.04.3.tar.xz">zanshin-22.04.3</a></td>
   <td align="right">345kB</td>
   <td><tt>06ecc71202bbf8768580ae6ea940428be5505937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.3/src/zeroconf-ioslave-22.04.3.tar.xz">zeroconf-ioslave-22.04.3</a></td>
   <td align="right">38kB</td>
   <td><tt>0bd065df5cd2cd90cfb15de4ed0ba3460927aba7</tt></td>
</tr>

</table>
