<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-22.11.90.tar.xz">akonadi-22.11.90</a></td>
   <td align="right">1618kB</td>
   <td><tt>d4632f52dbe3e4b26c7d5de13bd1b17272979102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-calendar-22.11.90.tar.xz">akonadi-calendar-22.11.90</a></td>
   <td align="right">397kB</td>
   <td><tt>22c2468253b2fa055c8996c188dd9419659874d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-calendar-tools-22.11.90.tar.xz">akonadi-calendar-tools-22.11.90</a></td>
   <td align="right">246kB</td>
   <td><tt>ca6eb5cd441161eba030d1207382895c85d7e991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadiconsole-22.11.90.tar.xz">akonadiconsole-22.11.90</a></td>
   <td align="right">195kB</td>
   <td><tt>da3dc59057d50a481cfaf9c95ea4e99dbf285c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-contacts-22.11.90.tar.xz">akonadi-contacts-22.11.90</a></td>
   <td align="right">428kB</td>
   <td><tt>033a675da75d97b2064baa16668757ad81a04d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-import-wizard-22.11.90.tar.xz">akonadi-import-wizard-22.11.90</a></td>
   <td align="right">502kB</td>
   <td><tt>ebae06f1b500ff712931e31e4108949fd0e5ee6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-mime-22.11.90.tar.xz">akonadi-mime-22.11.90</a></td>
   <td align="right">149kB</td>
   <td><tt>bf44a72c9559ffe8cd8ae36a7c6082fda5e630eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-notes-22.11.90.tar.xz">akonadi-notes-22.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>6d2027eab3820d2b480cff439ffc46d8d01b1a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akonadi-search-22.11.90.tar.xz">akonadi-search-22.11.90</a></td>
   <td align="right">98kB</td>
   <td><tt>252dfbbf7c6994b374cdfde9385e337ad57848d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/akregator-22.11.90.tar.xz">akregator-22.11.90</a></td>
   <td align="right">2264kB</td>
   <td><tt>ea0ba6eaf75577f10fa0bb4e2a72ce9f163ffc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/analitza-22.11.90.tar.xz">analitza-22.11.90</a></td>
   <td align="right">343kB</td>
   <td><tt>c39b6eac230c567be1e8016dba766b10bd8a42b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ark-22.11.90.tar.xz">ark-22.11.90</a></td>
   <td align="right">2804kB</td>
   <td><tt>87e935e491db66f4eb24e21bbdcb74e87ab9e2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/artikulate-22.11.90.tar.xz">artikulate-22.11.90</a></td>
   <td align="right">1068kB</td>
   <td><tt>81f80c9b76d56d8093dea1317646f5f2f136ac37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/audiocd-kio-22.11.90.tar.xz">audiocd-kio-22.11.90</a></td>
   <td align="right">546kB</td>
   <td><tt>a66c969ffb5c3ea10f43afba4a42874aff88ede7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/baloo-widgets-22.11.90.tar.xz">baloo-widgets-22.11.90</a></td>
   <td align="right">268kB</td>
   <td><tt>faed2ce203f43adf91cf242a314e5343ba305561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/blinken-22.11.90.tar.xz">blinken-22.11.90</a></td>
   <td align="right">2659kB</td>
   <td><tt>d5ee06e727fb6b46d2de7a0876da24aaf35435c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/bomber-22.11.90.tar.xz">bomber-22.11.90</a></td>
   <td align="right">817kB</td>
   <td><tt>66944ca893d9c666ac00b92c833b2ef6a30710f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/bovo-22.11.90.tar.xz">bovo-22.11.90</a></td>
   <td align="right">209kB</td>
   <td><tt>2e7e27a14c2de5a08d654fb0c9cb9f10b78b4552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/calendarsupport-22.11.90.tar.xz">calendarsupport-22.11.90</a></td>
   <td align="right">962kB</td>
   <td><tt>e5700a4a67daa68b2b84650c04a7ff36faf8d8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/cantor-22.11.90.tar.xz">cantor-22.11.90</a></td>
   <td align="right">9026kB</td>
   <td><tt>ddc2d2c7830ec939d3e646fb59df046331c63d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/cervisia-22.11.90.tar.xz">cervisia-22.11.90</a></td>
   <td align="right">1898kB</td>
   <td><tt>36528ef615440e64bf59e49bf39bcfd3dc8f146d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/colord-kde-22.11.90.tar.xz">colord-kde-22.11.90</a></td>
   <td align="right">108kB</td>
   <td><tt>bd24d89a55ad7dbb747706e0c632ea23f1d4bc53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/dolphin-22.11.90.tar.xz">dolphin-22.11.90</a></td>
   <td align="right">5548kB</td>
   <td><tt>4b52cfbf1a47cdc79f7e8693536176d8edea05a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/dolphin-plugins-22.11.90.tar.xz">dolphin-plugins-22.11.90</a></td>
   <td align="right">262kB</td>
   <td><tt>6b4ed3f20f66abf7a13889e1c682dd23629c11fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/dragon-22.11.90.tar.xz">dragon-22.11.90</a></td>
   <td align="right">1636kB</td>
   <td><tt>ca41d195100e7c24869826193360116ad120753f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/elisa-22.11.90.tar.xz">elisa-22.11.90</a></td>
   <td align="right">1755kB</td>
   <td><tt>51408569c790bf36359b5e3cc4e86ac0279232c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/eventviews-22.11.90.tar.xz">eventviews-22.11.90</a></td>
   <td align="right">451kB</td>
   <td><tt>b1e3cfbf73e3a7a1800a34e705adfc93fb667750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/falkon-22.11.90.tar.xz">falkon-22.11.90</a></td>
   <td align="right">2486kB</td>
   <td><tt>191373ad2368c5de9a215a9a4c53f89723526f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ffmpegthumbs-22.11.90.tar.xz">ffmpegthumbs-22.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>8590813ede512a70fbb42e916fbc18f6a8a62e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/filelight-22.11.90.tar.xz">filelight-22.11.90</a></td>
   <td align="right">681kB</td>
   <td><tt>5e462e5a4fc582b4808ef04ff7632115ca29659d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/granatier-22.11.90.tar.xz">granatier-22.11.90</a></td>
   <td align="right">2061kB</td>
   <td><tt>7dc1c9ddf27ae38762d94222dc2b233cc810b1fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/grantlee-editor-22.11.90.tar.xz">grantlee-editor-22.11.90</a></td>
   <td align="right">113kB</td>
   <td><tt>0a54632be544525bf6dde69b13453286bb1e0a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/grantleetheme-22.11.90.tar.xz">grantleetheme-22.11.90</a></td>
   <td align="right">60kB</td>
   <td><tt>19cd9d20151d3b87c22cd0cb0a59bc32ab899ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/gwenview-22.11.90.tar.xz">gwenview-22.11.90</a></td>
   <td align="right">6714kB</td>
   <td><tt>d38898caf5dd8cfe9fba573234a332d8bc41a6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/incidenceeditor-22.11.90.tar.xz">incidenceeditor-22.11.90</a></td>
   <td align="right">551kB</td>
   <td><tt>acf082483285c0537e86db974934449eebdc402b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/itinerary-22.11.90.tar.xz">itinerary-22.11.90</a></td>
   <td align="right">562kB</td>
   <td><tt>62a1e4d42d9698a11c780a469232da46e861a015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/juk-22.11.90.tar.xz">juk-22.11.90</a></td>
   <td align="right">2026kB</td>
   <td><tt>eacbcbea062da59b3a8c70c7d31f6f6a2ee01e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/k3b-22.11.90.tar.xz">k3b-22.11.90</a></td>
   <td align="right">10689kB</td>
   <td><tt>90fe9c418ef8d46b244cd3df4faab2ab129eef23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kaccounts-integration-22.11.90.tar.xz">kaccounts-integration-22.11.90</a></td>
   <td align="right">85kB</td>
   <td><tt>4a7c287537a209489a426b25e37bf9e3689cb597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kaccounts-providers-22.11.90.tar.xz">kaccounts-providers-22.11.90</a></td>
   <td align="right">63kB</td>
   <td><tt>7fd1fdebbe8b4c5b329e3325bebaeeea2371b0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kaddressbook-22.11.90.tar.xz">kaddressbook-22.11.90</a></td>
   <td align="right">3376kB</td>
   <td><tt>259b073e5ed546e51ca1c4689eb1ecdbd2d360ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kajongg-22.11.90.tar.xz">kajongg-22.11.90</a></td>
   <td align="right">4468kB</td>
   <td><tt>9884f7052d17b1e2ded5a0218307626ed183784a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kalarm-22.11.90.tar.xz">kalarm-22.11.90</a></td>
   <td align="right">2513kB</td>
   <td><tt>aaed7196dc001b69f37fa3926a97c07e5fdcd479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kalendar-22.11.90.tar.xz">kalendar-22.11.90</a></td>
   <td align="right">781kB</td>
   <td><tt>c246d49f5548d96dc2166764d738d7d90062a950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kalgebra-22.11.90.tar.xz">kalgebra-22.11.90</a></td>
   <td align="right">1009kB</td>
   <td><tt>209a47c62c1c31640bc8f9ce43fff2ce65d9de4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kalzium-22.11.90.tar.xz">kalzium-22.11.90</a></td>
   <td align="right">24062kB</td>
   <td><tt>99dc0c6ee01450c0db69ccfde204c3972334ec2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kamera-22.11.90.tar.xz">kamera-22.11.90</a></td>
   <td align="right">128kB</td>
   <td><tt>d9d109ccd09893c59a704a10e020f405afdeba27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kamoso-22.11.90.tar.xz">kamoso-22.11.90</a></td>
   <td align="right">223kB</td>
   <td><tt>e22bd42e1fd5faa34cd35085d081c70aa6251a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kanagram-22.11.90.tar.xz">kanagram-22.11.90</a></td>
   <td align="right">7871kB</td>
   <td><tt>9716aac3210f29c79541385893ebb5139aeb07dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kapman-22.11.90.tar.xz">kapman-22.11.90</a></td>
   <td align="right">2422kB</td>
   <td><tt>bdd247c27440d33da198c494df6cd7a2c001c45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kapptemplate-22.11.90.tar.xz">kapptemplate-22.11.90</a></td>
   <td align="right">330kB</td>
   <td><tt>bb967bd9f79648e33c0e9b0b60c6afddcea7b619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kate-22.11.90.tar.xz">kate-22.11.90</a></td>
   <td align="right">7687kB</td>
   <td><tt>6de2b52ccc1749b714944bd35c789ecd148d70e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/katomic-22.11.90.tar.xz">katomic-22.11.90</a></td>
   <td align="right">1416kB</td>
   <td><tt>13341c878860eee1ff168c55634235401c3fcca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kbackup-22.11.90.tar.xz">kbackup-22.11.90</a></td>
   <td align="right">385kB</td>
   <td><tt>0db67a29d9aae5254eabdcd8985b7f3bfa5600ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kblackbox-22.11.90.tar.xz">kblackbox-22.11.90</a></td>
   <td align="right">537kB</td>
   <td><tt>6e4db0cba4ce79fb6cae5f10f8048085c9c448b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kblocks-22.11.90.tar.xz">kblocks-22.11.90</a></td>
   <td align="right">2058kB</td>
   <td><tt>6b752a8f59ae24c46a87592b156c0d15ee918a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kbounce-22.11.90.tar.xz">kbounce-22.11.90</a></td>
   <td align="right">3459kB</td>
   <td><tt>3ce09e1c0d20cb14b546d2abec625ff1b786717c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kbreakout-22.11.90.tar.xz">kbreakout-22.11.90</a></td>
   <td align="right">2497kB</td>
   <td><tt>7f4a768c46d3fc1f29a1ddecdfb90eaf7c09f435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kbruch-22.11.90.tar.xz">kbruch-22.11.90</a></td>
   <td align="right">5522kB</td>
   <td><tt>d5004175f953707897d0241ca2f2fff510c6f9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcachegrind-22.11.90.tar.xz">kcachegrind-22.11.90</a></td>
   <td align="right">887kB</td>
   <td><tt>ac4e035e1bad8031ca9e4986ac9a0a3edbc1bbb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcalc-22.11.90.tar.xz">kcalc-22.11.90</a></td>
   <td align="right">423kB</td>
   <td><tt>23995381e0e6f6dc65964d5e5ce6ee0c1a58ccef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcalutils-22.11.90.tar.xz">kcalutils-22.11.90</a></td>
   <td align="right">349kB</td>
   <td><tt>629e7fa9d8638aeabe2fa50f02087b6bd448a957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcharselect-22.11.90.tar.xz">kcharselect-22.11.90</a></td>
   <td align="right">372kB</td>
   <td><tt>fc36bb9dc242f1f700de074c8fb7a1be6212ec55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcolorchooser-22.11.90.tar.xz">kcolorchooser-22.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>653d582a2a2d5728e7b85e45c438b47eed9831cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kcron-22.11.90.tar.xz">kcron-22.11.90</a></td>
   <td align="right">919kB</td>
   <td><tt>2e2ab1fa81ac65a724cfbc0f6c4c6e7f8dfec9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdebugsettings-22.11.90.tar.xz">kdebugsettings-22.11.90</a></td>
   <td align="right">93kB</td>
   <td><tt>19c78b9aa1d594ed745f7f7c3cd5c7ea2e869ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdeconnect-kde-22.11.90.tar.xz">kdeconnect-kde-22.11.90</a></td>
   <td align="right">619kB</td>
   <td><tt>f4e096041a7af6eefe0dfb5b680f43fcd022bb56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kde-dev-scripts-22.11.90.tar.xz">kde-dev-scripts-22.11.90</a></td>
   <td align="right">359kB</td>
   <td><tt>990985614088d18f36b5e3ef2725457fdb7466d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kde-dev-utils-22.11.90.tar.xz">kde-dev-utils-22.11.90</a></td>
   <td align="right">69kB</td>
   <td><tt>bbc7c68708faa62997c0f73bc10a15de14e06749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdeedu-data-22.11.90.tar.xz">kdeedu-data-22.11.90</a></td>
   <td align="right">325kB</td>
   <td><tt>d22c7b4eebceeaae7cfeeae4bdb2215f909f6f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdegraphics-mobipocket-22.11.90.tar.xz">kdegraphics-mobipocket-22.11.90</a></td>
   <td align="right">12kB</td>
   <td><tt>715549e196f85e84b37d747ee5b3e19541f98cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdegraphics-thumbnailers-22.11.90.tar.xz">kdegraphics-thumbnailers-22.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>5102ef90d1939144d2e520b97719f5262e6931e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdenetwork-filesharing-22.11.90.tar.xz">kdenetwork-filesharing-22.11.90</a></td>
   <td align="right">448kB</td>
   <td><tt>db3f2c3e53f14bb2de40a92a36b51dce7c62b7a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdenlive-22.11.90.tar.xz">kdenlive-22.11.90</a></td>
   <td align="right">12232kB</td>
   <td><tt>213c49b3388bb5fe10e4c00a92987ac484c68f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdepim-addons-22.11.90.tar.xz">kdepim-addons-22.11.90</a></td>
   <td align="right">2601kB</td>
   <td><tt>f13fb18e1120620df8d3da9d24af624529cdda72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdepim-runtime-22.11.90.tar.xz">kdepim-runtime-22.11.90</a></td>
   <td align="right">1812kB</td>
   <td><tt>e41ffaa1364bbac811e9f2c277b2df42a7b411d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdesdk-kio-22.11.90.tar.xz">kdesdk-kio-22.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>6c5034dfd76ef367416cb53f1e1788528610a308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdesdk-thumbnailers-22.11.90.tar.xz">kdesdk-thumbnailers-22.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>5ffef003c7ab9efdbff7331b137f6d24d785c7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdevelop-22.11.90.tar.xz">kdevelop-22.11.90</a></td>
   <td align="right">8420kB</td>
   <td><tt>3a9d1c8569c7e7cd37c033cfdf5b590babd4b862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdev-php-22.11.90.tar.xz">kdev-php-22.11.90</a></td>
   <td align="right">1057kB</td>
   <td><tt>945e843f265d90b870c339e0018682750382fd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdev-python-22.11.90.tar.xz">kdev-python-22.11.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>3759f78ec7db8d8da969d04e358606ecb6c6756c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdf-22.11.90.tar.xz">kdf-22.11.90</a></td>
   <td align="right">480kB</td>
   <td><tt>b28eac6dfcb61b840822c3422c8781909f6c3fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdialog-22.11.90.tar.xz">kdialog-22.11.90</a></td>
   <td align="right">135kB</td>
   <td><tt>f9384dfd4d418f03e9a19b6a08aaebf570dc731b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kdiamond-22.11.90.tar.xz">kdiamond-22.11.90</a></td>
   <td align="right">4596kB</td>
   <td><tt>816326ed048a628bc5cc95b09657ef6bb3ba27e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/keditbookmarks-22.11.90.tar.xz">keditbookmarks-22.11.90</a></td>
   <td align="right">230kB</td>
   <td><tt>701a83746e467aade46aa8e00faac8dad849fe3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kfind-22.11.90.tar.xz">kfind-22.11.90</a></td>
   <td align="right">331kB</td>
   <td><tt>0be5f0b9cec4a42ae031c5e398b9a29e8e9c3822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kfloppy-22.11.90.tar.xz">kfloppy-22.11.90</a></td>
   <td align="right">230kB</td>
   <td><tt>6bff53a8c20dc7acbc5338cf55fe74642f694933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kfourinline-22.11.90.tar.xz">kfourinline-22.11.90</a></td>
   <td align="right">718kB</td>
   <td><tt>c7bfc7540bc4836dbc8627d375d6cc49ab325554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kgeography-22.11.90.tar.xz">kgeography-22.11.90</a></td>
   <td align="right">12260kB</td>
   <td><tt>8805e2d39413f39759bf63c18b54a20cb05850ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kget-22.11.90.tar.xz">kget-22.11.90</a></td>
   <td align="right">5428kB</td>
   <td><tt>7ca152467b7eb857f27a0cea34aac0b31afd1751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kgoldrunner-22.11.90.tar.xz">kgoldrunner-22.11.90</a></td>
   <td align="right">4786kB</td>
   <td><tt>1075ec582e0fb432d2380f6784018571bea59684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kgpg-22.11.90.tar.xz">kgpg-22.11.90</a></td>
   <td align="right">2965kB</td>
   <td><tt>f64d1cfcda4a0dce638dad6c1ee4d5ecc8b6e181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/khangman-22.11.90.tar.xz">khangman-22.11.90</a></td>
   <td align="right">7268kB</td>
   <td><tt>83cd547264cf0015402ce3c0b896666bdc845d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/khelpcenter-22.11.90.tar.xz">khelpcenter-22.11.90</a></td>
   <td align="right">4264kB</td>
   <td><tt>237a0a7f3475cf6d0075a420a10c32f4c1a5f4ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kidentitymanagement-22.11.90.tar.xz">kidentitymanagement-22.11.90</a></td>
   <td align="right">158kB</td>
   <td><tt>c903461fbf2390e01fe5ad9079376bc393dd438c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kig-22.11.90.tar.xz">kig-22.11.90</a></td>
   <td align="right">3197kB</td>
   <td><tt>5935fdf04263e521ec9b4479508aa046f5e1c689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kigo-22.11.90.tar.xz">kigo-22.11.90</a></td>
   <td align="right">5140kB</td>
   <td><tt>22bcfbf94c867c89df04c6fc863b94b4a6b808e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/killbots-22.11.90.tar.xz">killbots-22.11.90</a></td>
   <td align="right">1173kB</td>
   <td><tt>c5396d24ef1f15529a4c94f1fc59bc04caa03aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kimagemapeditor-22.11.90.tar.xz">kimagemapeditor-22.11.90</a></td>
   <td align="right">1076kB</td>
   <td><tt>7fd85745a0750405b120ff8de26209055d89a16c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kimap-22.11.90.tar.xz">kimap-22.11.90</a></td>
   <td align="right">128kB</td>
   <td><tt>6ffd9a1c0971f947e7e3f177682e2bcad1c9d343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kio-extras-22.11.90.tar.xz">kio-extras-22.11.90</a></td>
   <td align="right">1362kB</td>
   <td><tt>2ee1f29e338beb250ed0fbd3ae781ed325cdaa45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kio-gdrive-22.11.90.tar.xz">kio-gdrive-22.11.90</a></td>
   <td align="right">75kB</td>
   <td><tt>d82754867ab00cc1252687bd6fc57b9dbe348111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kio-zeroconf-22.11.90.tar.xz">kio-zeroconf-22.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>c9f69689968c8d1e52a5a26bb4091f01041ac1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kipi-plugins-22.11.90.tar.xz">kipi-plugins-22.11.90</a></td>
   <td align="right">1522kB</td>
   <td><tt>d58d78c6831bf6038f966dbfed59686f5ea4b115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kirigami-gallery-22.11.90.tar.xz">kirigami-gallery-22.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>9d87c5396f128fe1f24e04f9d1b060f9a886fe30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kiriki-22.11.90.tar.xz">kiriki-22.11.90</a></td>
   <td align="right">360kB</td>
   <td><tt>cd9679a02cad9dcbc81a3f8c93c18d0003f1ea5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kiten-22.11.90.tar.xz">kiten-22.11.90</a></td>
   <td align="right">11066kB</td>
   <td><tt>92231e36851879497da012837d28b5b86d5c88a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kitinerary-22.11.90.tar.xz">kitinerary-22.11.90</a></td>
   <td align="right">1675kB</td>
   <td><tt>dd3b08aed56111ae7ca999bf2d6fe723a2a31196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kjumpingcube-22.11.90.tar.xz">kjumpingcube-22.11.90</a></td>
   <td align="right">326kB</td>
   <td><tt>2cdd9314bbceeff8d67344ff5e887258b09a3e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kldap-22.11.90.tar.xz">kldap-22.11.90</a></td>
   <td align="right">177kB</td>
   <td><tt>1f2ea980a1569dfff83e4cf95b5ca56ac15c7885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kleopatra-22.11.90.tar.xz">kleopatra-22.11.90</a></td>
   <td align="right">2508kB</td>
   <td><tt>88f6574290ee02f12bd098d6e0ea4c27538daaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/klettres-22.11.90.tar.xz">klettres-22.11.90</a></td>
   <td align="right">46717kB</td>
   <td><tt>582b8d7bdc80fb1e4b2ad554029759e55d5413e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/klickety-22.11.90.tar.xz">klickety-22.11.90</a></td>
   <td align="right">1463kB</td>
   <td><tt>e2548cf5aca5e261c03f48e03845d54c9f859ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/klines-22.11.90.tar.xz">klines-22.11.90</a></td>
   <td align="right">1697kB</td>
   <td><tt>151c615edc918c0adacd1991e6fcfc94e78ef617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmag-22.11.90.tar.xz">kmag-22.11.90</a></td>
   <td align="right">705kB</td>
   <td><tt>5cb1abe02c400fd43196e263a836e9b1e77a53e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmahjongg-22.11.90.tar.xz">kmahjongg-22.11.90</a></td>
   <td align="right">3998kB</td>
   <td><tt>02a14812c150dfe8f658bf89944b6d6c11d0b4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmail-22.11.90.tar.xz">kmail-22.11.90</a></td>
   <td align="right">7475kB</td>
   <td><tt>4cd575fcb72b81f2307cfd546033e8272a4f4f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmail-account-wizard-22.11.90.tar.xz">kmail-account-wizard-22.11.90</a></td>
   <td align="right">177kB</td>
   <td><tt>eda6f162fe1c33d4409e7996479f89a25340f35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmailtransport-22.11.90.tar.xz">kmailtransport-22.11.90</a></td>
   <td align="right">184kB</td>
   <td><tt>2d2fa48ca13c3cd936ee7dfb142f766ffc711934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmbox-22.11.90.tar.xz">kmbox-22.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>76073570dc5561f62cc8a3080a74ad769493f496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmime-22.11.90.tar.xz">kmime-22.11.90</a></td>
   <td align="right">158kB</td>
   <td><tt>e4b3d046d7f0a930a283e5f2a2d2eee81553533b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmines-22.11.90.tar.xz">kmines-22.11.90</a></td>
   <td align="right">984kB</td>
   <td><tt>9d6157818352e02489c6baf0f4f0eef354abd256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmix-22.11.90.tar.xz">kmix-22.11.90</a></td>
   <td align="right">1165kB</td>
   <td><tt>4e9b61483ba40099ced4219300d1dcf0132c1308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmousetool-22.11.90.tar.xz">kmousetool-22.11.90</a></td>
   <td align="right">126kB</td>
   <td><tt>f9d4c7cdd8b806fa25ccccbe5a9bbf3c9baa8533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmouth-22.11.90.tar.xz">kmouth-22.11.90</a></td>
   <td align="right">2038kB</td>
   <td><tt>78d163034a68cf8e2c1256c04d0e47af1b7ef522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kmplot-22.11.90.tar.xz">kmplot-22.11.90</a></td>
   <td align="right">3025kB</td>
   <td><tt>9b106c938ab4f82af295f1385d687d67e5f3fdfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/knavalbattle-22.11.90.tar.xz">knavalbattle-22.11.90</a></td>
   <td align="right">1365kB</td>
   <td><tt>9210c8ebdadf44521a2401edcebe87e30492cb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/knetwalk-22.11.90.tar.xz">knetwalk-22.11.90</a></td>
   <td align="right">1078kB</td>
   <td><tt>b8cbd2408b73905a1e89d7d5c309ecdbf5cd2a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/knights-22.11.90.tar.xz">knights-22.11.90</a></td>
   <td align="right">3250kB</td>
   <td><tt>97e4a9564ee1fed1c2c2be9af49b39a5008d97bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/knotes-22.11.90.tar.xz">knotes-22.11.90</a></td>
   <td align="right">365kB</td>
   <td><tt>6b70aca10bb19f6ce83c0e0f57a096a0b8b470a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kolf-22.11.90.tar.xz">kolf-22.11.90</a></td>
   <td align="right">1043kB</td>
   <td><tt>00b16d911ba84919aab3fb5ebdec08e5d564c8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kollision-22.11.90.tar.xz">kollision-22.11.90</a></td>
   <td align="right">298kB</td>
   <td><tt>00819b22f32b1dbeeebac54048e5d49036005489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kolourpaint-22.11.90.tar.xz">kolourpaint-22.11.90</a></td>
   <td align="right">5648kB</td>
   <td><tt>cdfa0ee69f6c3bb3cdfa64147982873559334fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kompare-22.11.90.tar.xz">kompare-22.11.90</a></td>
   <td align="right">954kB</td>
   <td><tt>581a43bcbf45470dd34501467465ab8479cf975b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/konqueror-22.11.90.tar.xz">konqueror-22.11.90</a></td>
   <td align="right">8267kB</td>
   <td><tt>f9eccd40d5c1de9b5fbbc401e077bcff619bd3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/konquest-22.11.90.tar.xz">konquest-22.11.90</a></td>
   <td align="right">853kB</td>
   <td><tt>cdd727c03732383bcc4f6e24585d16013afc2509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/konsole-22.11.90.tar.xz">konsole-22.11.90</a></td>
   <td align="right">1730kB</td>
   <td><tt>979e18b919c6883f126b9f6b22c0192779a8efa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kontact-22.11.90.tar.xz">kontact-22.11.90</a></td>
   <td align="right">849kB</td>
   <td><tt>a63eee9bea6d5d5e3fa1c345742cfe783ac3cd63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kontactinterface-22.11.90.tar.xz">kontactinterface-22.11.90</a></td>
   <td align="right">38kB</td>
   <td><tt>e4263304823c8b42ce8b6d0c6cc8ab8e9f74794d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kontrast-22.11.90.tar.xz">kontrast-22.11.90</a></td>
   <td align="right">195kB</td>
   <td><tt>60bf19d221c74315fd9cc0af576e33510baf3abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/konversation-22.11.90.tar.xz">konversation-22.11.90</a></td>
   <td align="right">4342kB</td>
   <td><tt>f8f8ba3961344f298cceb1200eddee19e272c7b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kopeninghours-22.11.90.tar.xz">kopeninghours-22.11.90</a></td>
   <td align="right">69kB</td>
   <td><tt>8761fbc1ccfee40602ffdf996440eb2dbb091903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kopete-22.11.90.tar.xz">kopete-22.11.90</a></td>
   <td align="right">10033kB</td>
   <td><tt>3af112e1aae242291ead77d9f340ab709f828565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/korganizer-22.11.90.tar.xz">korganizer-22.11.90</a></td>
   <td align="right">2511kB</td>
   <td><tt>d4eed2009b2408f34fcd9d2840b9e9045b2afeb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kosmindoormap-22.11.90.tar.xz">kosmindoormap-22.11.90</a></td>
   <td align="right">354kB</td>
   <td><tt>db9e6f2e38c19ad6eeaeb55c751a55d97fe668ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kpat-22.11.90.tar.xz">kpat-22.11.90</a></td>
   <td align="right">3662kB</td>
   <td><tt>022caaf49b87612c453a9426133f3fa9112e9259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kpimtextedit-22.11.90.tar.xz">kpimtextedit-22.11.90</a></td>
   <td align="right">218kB</td>
   <td><tt>db64dee999711766c46a73139dcee0184d1435c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kpkpass-22.11.90.tar.xz">kpkpass-22.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>a4b4de00a8f90347d53a82cb46de55fbd518508f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kpmcore-22.11.90.tar.xz">kpmcore-22.11.90</a></td>
   <td align="right">602kB</td>
   <td><tt>fcb34addfeb66043ccf0c6b0ff66dee20311446a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kpublictransport-22.11.90.tar.xz">kpublictransport-22.11.90</a></td>
   <td align="right">478kB</td>
   <td><tt>716601789aeca19016e19d96169b0956d0cff762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kqtquickcharts-22.11.90.tar.xz">kqtquickcharts-22.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>aa2452d94bef33cb0df68260ebe96fb8424417ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/krdc-22.11.90.tar.xz">krdc-22.11.90</a></td>
   <td align="right">1589kB</td>
   <td><tt>9450fc53cd5d6bcfb51ad7fe169eedbdb0f25538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kreversi-22.11.90.tar.xz">kreversi-22.11.90</a></td>
   <td align="right">1051kB</td>
   <td><tt>4e931da3dca3d5560b00c0808d2c9b9c3d5b32f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/krfb-22.11.90.tar.xz">krfb-22.11.90</a></td>
   <td align="right">1290kB</td>
   <td><tt>cdafdc66dfe0fd1f529107716c04917cf76cb1a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kross-interpreters-22.11.90.tar.xz">kross-interpreters-22.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>313419acc66029df1b0251b3eb293454117dc688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kruler-22.11.90.tar.xz">kruler-22.11.90</a></td>
   <td align="right">279kB</td>
   <td><tt>da8ecf36aef88c6e69fc7d5ab3f9081028dc9058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksanecore-22.11.90.tar.xz">ksanecore-22.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>7fefa6de36bfded9ed6aa44df3c157eed2d7259d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kshisen-22.11.90.tar.xz">kshisen-22.11.90</a></td>
   <td align="right">982kB</td>
   <td><tt>88977f4d55b921abdb8e5af556a44b2d7ae39201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksirk-22.11.90.tar.xz">ksirk-22.11.90</a></td>
   <td align="right">6880kB</td>
   <td><tt>f205fde19df73c0ed62430e20aaa0d0705c5651a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksmtp-22.11.90.tar.xz">ksmtp-22.11.90</a></td>
   <td align="right">48kB</td>
   <td><tt>ff8e2bc3ac5711a81987c1e30834a780d9b592d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksnakeduel-22.11.90.tar.xz">ksnakeduel-22.11.90</a></td>
   <td align="right">595kB</td>
   <td><tt>d1653b64d17a362aa8d88e3ba1cf2b27027ea545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kspaceduel-22.11.90.tar.xz">kspaceduel-22.11.90</a></td>
   <td align="right">644kB</td>
   <td><tt>82ee93da29b8d683575013b9ffc8865f5ef8d44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksquares-22.11.90.tar.xz">ksquares-22.11.90</a></td>
   <td align="right">304kB</td>
   <td><tt>7036dbea53ed8d448c53770bcadd268fc830e424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksudoku-22.11.90.tar.xz">ksudoku-22.11.90</a></td>
   <td align="right">1661kB</td>
   <td><tt>3ed401e7436c05497772678041a1d941255e238e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ksystemlog-22.11.90.tar.xz">ksystemlog-22.11.90</a></td>
   <td align="right">1950kB</td>
   <td><tt>9ceb4f8159e83679ab6a7dc10dfa1df69ce51b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kteatime-22.11.90.tar.xz">kteatime-22.11.90</a></td>
   <td align="right">305kB</td>
   <td><tt>d5f943c4ce11e80e1837c42c45a174240ea8eb6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktimer-22.11.90.tar.xz">ktimer-22.11.90</a></td>
   <td align="right">391kB</td>
   <td><tt>4a9955ee1c3b604f58180bba40ab90e50129d1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktnef-22.11.90.tar.xz">ktnef-22.11.90</a></td>
   <td align="right">300kB</td>
   <td><tt>fdd27033857120c6917e2c741265221eee620430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktorrent-22.11.90.tar.xz">ktorrent-22.11.90</a></td>
   <td align="right">2085kB</td>
   <td><tt>7d8138119239e4b8d65fc0faa9dd80bef8e1b0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktouch-22.11.90.tar.xz">ktouch-22.11.90</a></td>
   <td align="right">4916kB</td>
   <td><tt>4e098f97fb8a5e40909257a040d55cda2493e5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-accounts-kcm-22.11.90.tar.xz">ktp-accounts-kcm-22.11.90</a></td>
   <td align="right">269kB</td>
   <td><tt>c44cb0da52400756809fbf7cdcc1aecee466d84c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-approver-22.11.90.tar.xz">ktp-approver-22.11.90</a></td>
   <td align="right">38kB</td>
   <td><tt>71af87edbda8061a7af87f46a75288660509d33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-auth-handler-22.11.90.tar.xz">ktp-auth-handler-22.11.90</a></td>
   <td align="right">47kB</td>
   <td><tt>6b07f37d515f1cd71208fb67d32c96cbe1c81c51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-call-ui-22.11.90.tar.xz">ktp-call-ui-22.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>1135f36fd1e66a1ec44c1d2e60576714633f3336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-common-internals-22.11.90.tar.xz">ktp-common-internals-22.11.90</a></td>
   <td align="right">445kB</td>
   <td><tt>ac4d39061cb2760d9e6e52464209f21f2bdbbf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-contact-list-22.11.90.tar.xz">ktp-contact-list-22.11.90</a></td>
   <td align="right">155kB</td>
   <td><tt>ca35abfd20d983b5185ae7e27244e58349665958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-contact-runner-22.11.90.tar.xz">ktp-contact-runner-22.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>a38881d85a3f2974dac79debbe7cd71ae5e872cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-desktop-applets-22.11.90.tar.xz">ktp-desktop-applets-22.11.90</a></td>
   <td align="right">43kB</td>
   <td><tt>21f8bad097e1f9b7ff73c6570bc6deeb5c80a381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-filetransfer-handler-22.11.90.tar.xz">ktp-filetransfer-handler-22.11.90</a></td>
   <td align="right">46kB</td>
   <td><tt>d9c55ce52eb4b2374cf79e5aff1eb88c2fad7a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-kded-module-22.11.90.tar.xz">ktp-kded-module-22.11.90</a></td>
   <td align="right">100kB</td>
   <td><tt>397edc26f851926f80e98241be21fc3e481e6742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-send-file-22.11.90.tar.xz">ktp-send-file-22.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>36baca44f05d8d7151d96a043eeb0de86fe437ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktp-text-ui-22.11.90.tar.xz">ktp-text-ui-22.11.90</a></td>
   <td align="right">471kB</td>
   <td><tt>a230c00dea261b16a43754abef95f2a840926a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/ktuberling-22.11.90.tar.xz">ktuberling-22.11.90</a></td>
   <td align="right">69747kB</td>
   <td><tt>4654892d3843d3a1ed60ebf6c85349a4d5d4c696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kturtle-22.11.90.tar.xz">kturtle-22.11.90</a></td>
   <td align="right">1951kB</td>
   <td><tt>e6411bf17e39d729ab2dcf07dddb0b979b3e73b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kubrick-22.11.90.tar.xz">kubrick-22.11.90</a></td>
   <td align="right">338kB</td>
   <td><tt>93d678eecdea898e7a684ce22bb29bd3245e8153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kwalletmanager-22.11.90.tar.xz">kwalletmanager-22.11.90</a></td>
   <td align="right">818kB</td>
   <td><tt>d77c11b2bf17f8203e6ae488a178d5176ae83144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kwave-22.11.90.tar.xz">kwave-22.11.90</a></td>
   <td align="right">6801kB</td>
   <td><tt>50f5f4b5060bc7c95867b3c8867e2c57c6dfc0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/kwordquiz-22.11.90.tar.xz">kwordquiz-22.11.90</a></td>
   <td align="right">4157kB</td>
   <td><tt>9d38174434d4ae12024b759219cb17802ceb59bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libgravatar-22.11.90.tar.xz">libgravatar-22.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>04c6a6ee44d58dacbfcfcdc1a40f2849d0a9dfa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkcddb-22.11.90.tar.xz">libkcddb-22.11.90</a></td>
   <td align="right">447kB</td>
   <td><tt>2d4934e7dfb628c5ac786ec616dcf73fa261ec4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkcompactdisc-22.11.90.tar.xz">libkcompactdisc-22.11.90</a></td>
   <td align="right">96kB</td>
   <td><tt>e096e15c4971e937c814021f2ea29e72aefdaa2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkdcraw-22.11.90.tar.xz">libkdcraw-22.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>0add3cf69197deda9cc3d1821d758d219d68bdb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkdegames-22.11.90.tar.xz">libkdegames-22.11.90</a></td>
   <td align="right">5846kB</td>
   <td><tt>20c11e4da5a313accaddf94035d6b88dc56dd6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkdepim-22.11.90.tar.xz">libkdepim-22.11.90</a></td>
   <td align="right">279kB</td>
   <td><tt>4d9f609f06726c58c34f7866f39c1fabb6f322d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkeduvocdocument-22.11.90.tar.xz">libkeduvocdocument-22.11.90</a></td>
   <td align="right">224kB</td>
   <td><tt>609372b2c681090a99e72a2739411d4818ed6a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkexiv2-22.11.90.tar.xz">libkexiv2-22.11.90</a></td>
   <td align="right">58kB</td>
   <td><tt>7c2f87595d0d9a790139e72869665fd52f94b429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkgapi-22.11.90.tar.xz">libkgapi-22.11.90</a></td>
   <td align="right">238kB</td>
   <td><tt>ca784b1aa24a76d4696c30aa4e75cfea0f8b7df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkipi-22.11.90.tar.xz">libkipi-22.11.90</a></td>
   <td align="right">86kB</td>
   <td><tt>704eb0b39e837f86cbf671d3160f15a85542490c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkleo-22.11.90.tar.xz">libkleo-22.11.90</a></td>
   <td align="right">495kB</td>
   <td><tt>15b544464bcec4095e1d00915391187590969791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkmahjongg-22.11.90.tar.xz">libkmahjongg-22.11.90</a></td>
   <td align="right">1646kB</td>
   <td><tt>9c39d6da522504ff21beaf408988737afb8eeb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libkomparediff2-22.11.90.tar.xz">libkomparediff2-22.11.90</a></td>
   <td align="right">181kB</td>
   <td><tt>586038b3a3dace636062fba5321fcef2533c1973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libksane-22.11.90.tar.xz">libksane-22.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>e5f21074547f522fda485d01847f5373e0f9d7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libksieve-22.11.90.tar.xz">libksieve-22.11.90</a></td>
   <td align="right">540kB</td>
   <td><tt>5f323895605895513a25dd293aa4f7ddaeb9cf0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/libktorrent-22.11.90.tar.xz">libktorrent-22.11.90</a></td>
   <td align="right">602kB</td>
   <td><tt>5023b28c59031b56b6513a9f6aafe0bc0a499b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/lokalize-22.11.90.tar.xz">lokalize-22.11.90</a></td>
   <td align="right">2065kB</td>
   <td><tt>a9c34bb2e476ca1498dd837ef3856ad96422f174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/lskat-22.11.90.tar.xz">lskat-22.11.90</a></td>
   <td align="right">1220kB</td>
   <td><tt>ee31cf02493d8b648940af3ccc17754f52925f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/mailcommon-22.11.90.tar.xz">mailcommon-22.11.90</a></td>
   <td align="right">739kB</td>
   <td><tt>3615423f1e2c6d58ff501dce141021398ae7034c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/mailimporter-22.11.90.tar.xz">mailimporter-22.11.90</a></td>
   <td align="right">574kB</td>
   <td><tt>4a5a792701266c0c7bb04adbb919b820973c8ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/marble-22.11.90.tar.xz">marble-22.11.90</a></td>
   <td align="right">52488kB</td>
   <td><tt>8b9a3a4ca4c8596d4bb55f374b29c51e9e6eb581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/markdownpart-22.11.90.tar.xz">markdownpart-22.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>e9976fd2753621c93e0d3a288642da856c3b7565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/mbox-importer-22.11.90.tar.xz">mbox-importer-22.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>4a8e7b2df2b567e7d64cc7a8149c2609fab7d40f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/messagelib-22.11.90.tar.xz">messagelib-22.11.90</a></td>
   <td align="right">11027kB</td>
   <td><tt>163d11abd82fd1812c963125b2b18ee29ae883d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/minuet-22.11.90.tar.xz">minuet-22.11.90</a></td>
   <td align="right">27025kB</td>
   <td><tt>4ecf0909031b0846249a09a8b758358dcaf8c43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/okular-22.11.90.tar.xz">okular-22.11.90</a></td>
   <td align="right">8179kB</td>
   <td><tt>29a97fed2270326ce3e9563c52f5ce2cfab44f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/palapeli-22.11.90.tar.xz">palapeli-22.11.90</a></td>
   <td align="right">2060kB</td>
   <td><tt>6ee4e1e4881de18e1625d379b97deb2bfef1e6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/parley-22.11.90.tar.xz">parley-22.11.90</a></td>
   <td align="right">8391kB</td>
   <td><tt>8d387f521330cf389d34fc88f22df9a3027867a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/partitionmanager-22.11.90.tar.xz">partitionmanager-22.11.90</a></td>
   <td align="right">2074kB</td>
   <td><tt>b850e5680a9752f2f214a1a736dc71d88342afbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/picmi-22.11.90.tar.xz">picmi-22.11.90</a></td>
   <td align="right">1503kB</td>
   <td><tt>363ca6c56a6b31754633caea69c074be5744de76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/pimcommon-22.11.90.tar.xz">pimcommon-22.11.90</a></td>
   <td align="right">408kB</td>
   <td><tt>4f68c151b93d00a15936891c51d96309f334815c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/pim-data-exporter-22.11.90.tar.xz">pim-data-exporter-22.11.90</a></td>
   <td align="right">413kB</td>
   <td><tt>d30b8eb525e33cca2d413e09c3f317c75bbdbd47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/pim-sieve-editor-22.11.90.tar.xz">pim-sieve-editor-22.11.90</a></td>
   <td align="right">451kB</td>
   <td><tt>f5f0c33770e8e4c016984867e787affcf1954edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/poxml-22.11.90.tar.xz">poxml-22.11.90</a></td>
   <td align="right">43kB</td>
   <td><tt>a305ec091da9dfa5781adcf88ffaff76363966b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/print-manager-22.11.90.tar.xz">print-manager-22.11.90</a></td>
   <td align="right">280kB</td>
   <td><tt>e8c032f25e28a06f09085954839f36ebcc63a681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/rocs-22.11.90.tar.xz">rocs-22.11.90</a></td>
   <td align="right">1528kB</td>
   <td><tt>cf142758c1e583a4ebeff0afcc2294c302293e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/signon-kwallet-extension-22.11.90.tar.xz">signon-kwallet-extension-22.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>ec4d5c32f3922a7f43bd7c2e3b8ae89e49522938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/skanlite-22.11.90.tar.xz">skanlite-22.11.90</a></td>
   <td align="right">2386kB</td>
   <td><tt>626dfc2e146dabefac44435743cbf6563be0a02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/skanpage-22.11.90.tar.xz">skanpage-22.11.90</a></td>
   <td align="right">1264kB</td>
   <td><tt>ab52fd0a96efa131e7549c91a410cb7550b85e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/spectacle-22.11.90.tar.xz">spectacle-22.11.90</a></td>
   <td align="right">1240kB</td>
   <td><tt>5a87f591d4ce1c38295541e9e783ccd2c7a9767b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/step-22.11.90.tar.xz">step-22.11.90</a></td>
   <td align="right">955kB</td>
   <td><tt>ca54ad9c39f168755e2f878cb615dc8c195c96b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/svgpart-22.11.90.tar.xz">svgpart-22.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>069c446b1d00f9e7ee4111defc6af648bbecc3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/sweeper-22.11.90.tar.xz">sweeper-22.11.90</a></td>
   <td align="right">387kB</td>
   <td><tt>f1259b8f62a0167bd0a45dffeaa6a65ee847a584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/umbrello-22.11.90.tar.xz">umbrello-22.11.90</a></td>
   <td align="right">5652kB</td>
   <td><tt>f9acf15abc02e325496ea0adbcaf2d2cf9b3bef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/yakuake-22.11.90.tar.xz">yakuake-22.11.90</a></td>
   <td align="right">416kB</td>
   <td><tt>ae0b822e5cd20e48c248b06bc091a748abcb2923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.11.90/src/zanshin-22.11.90.tar.xz">zanshin-22.11.90</a></td>
   <td align="right">345kB</td>
   <td><tt>2919a6d0dc3e8f9bd98cf0fb72583ce804caf91b</tt></td>
</tr>

</table>
