<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/attica-5.249.0.tar.xz">attica-5.249.0</a></td>
   <td align="right">67kB</td>
   <td><tt>efa6aa6355afbbd2b92e3528508f28317117d7d3d9be59c19f23342233ae5673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/baloo-5.249.0.tar.xz">baloo-5.249.0</a></td>
   <td align="right">308kB</td>
   <td><tt>508dbf05e579f9a33c553e0f2d617fe2a61f0dd51413fd8960e46ea9a92aa537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/bluez-qt-5.249.0.tar.xz">bluez-qt-5.249.0</a></td>
   <td align="right">113kB</td>
   <td><tt>f4c9996b162be5bcc403142a5bb96a830dcb0bdc5d52fc64996f4f767330edab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/breeze-icons-5.249.0.tar.xz">breeze-icons-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1cf0e3d849c22e226c4a473a8c403b6d0f1e7f90b89ca52560eaef5e2ced85b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/extra-cmake-modules-5.249.0.tar.xz">extra-cmake-modules-5.249.0</a></td>
   <td align="right">332kB</td>
   <td><tt>800fbb24496980604886b6f9dbf9c9f44693c73cc924abbe4bab21274ff4379b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/frameworkintegration-5.249.0.tar.xz">frameworkintegration-5.249.0</a></td>
   <td align="right">52kB</td>
   <td><tt>2bc1ac647c5918f73518c726c2adbc7e0125aa40d03ed2370abb393aa7d04d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kapidox-5.249.0.tar.xz">kapidox-5.249.0</a></td>
   <td align="right">194kB</td>
   <td><tt>8a46b128d669e011927be254294a11322770570ebcd38a7a94df0f41e68102ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/karchive-5.249.0.tar.xz">karchive-5.249.0</a></td>
   <td align="right">1003kB</td>
   <td><tt>df3c9258b8c0cb0a984d7132033534e9c864bf83c5872c09dad62b742d47d0c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kauth-5.249.0.tar.xz">kauth-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2833c86dd69756359210ae9343829431b8d563fd6eebdeb44fe2aebb46de4004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kbookmarks-5.249.0.tar.xz">kbookmarks-5.249.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5cd304526ae50138c5e93652309f88a5c0b4d6702009d1b763e668ef34f57b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcalendarcore-5.249.0.tar.xz">kcalendarcore-5.249.0</a></td>
   <td align="right">256kB</td>
   <td><tt>09d4c3f360fe8e2c331af87ebba9f84d9b8eaac64e3bd49902b6dd3fe447739d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcmutils-5.249.0.tar.xz">kcmutils-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4c1d37ad7bca33d3ed23e3ee5a32ec68ef7652f6d97e609dac1f5ce9c4d11e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcodecs-5.249.0.tar.xz">kcodecs-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b9a08ad581626b9a34bd8f4a199f450273467e4794a08f74f866009375b535ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcolorscheme-5.249.0.tar.xz">kcolorscheme-5.249.0</a></td>
   <td align="right">42kB</td>
   <td><tt>66bd0225e7557474760b3bc2b2866d868b36d0035212135ceb43fc356b361236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcompletion-5.249.0.tar.xz">kcompletion-5.249.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b4dee671f65f8b2739e7f83c716144320ec287ed4c344a4d1050253022c2a78e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kconfig-5.249.0.tar.xz">kconfig-5.249.0</a></td>
   <td align="right">286kB</td>
   <td><tt>7d24cbc6c12dd8cb25959fd4ffc232efb14719ebb8a3a9eefd40673a57ff4d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kconfigwidgets-5.249.0.tar.xz">kconfigwidgets-5.249.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>184d748e86a57ff1c979ee8d524ab54456dee3d1c25c83b307da459e972e4c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcontacts-5.249.0.tar.xz">kcontacts-5.249.0</a></td>
   <td align="right">201kB</td>
   <td><tt>0df5952965fa37257a341a45bdf7c661c19580e73050c3a20760ca2b36b3d02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcoreaddons-5.249.0.tar.xz">kcoreaddons-5.249.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>846cca6127ceb6043d753a66127771a22496b6d2a9152b626d669ce813cca64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kcrash-5.249.0.tar.xz">kcrash-5.249.0</a></td>
   <td align="right">28kB</td>
   <td><tt>79e938de42a5c1f478a19025f14605d4fcf764d1b866f6eb35717473bf50b9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdav-5.249.0.tar.xz">kdav-5.249.0</a></td>
   <td align="right">65kB</td>
   <td><tt>af09f48e11eea989733577353421bdfccbdff8059cb5af02a1812bd308274971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdbusaddons-5.249.0.tar.xz">kdbusaddons-5.249.0</a></td>
   <td align="right">45kB</td>
   <td><tt>2a3309f316f733172c6983d93579585e2a2d0b5eb049b0746120bf4472766644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdeclarative-5.249.0.tar.xz">kdeclarative-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8392ffcab34b3a277aa143307d09b56d9c965fc7a5b95da1822d35645ee84c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kded-5.249.0.tar.xz">kded-5.249.0</a></td>
   <td align="right">31kB</td>
   <td><tt>b0180110ee0def308de45defbd061928ad097da7d8da0278a68a2e1977e232cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdesu-5.249.0.tar.xz">kdesu-5.249.0</a></td>
   <td align="right">55kB</td>
   <td><tt>5cf3ac1eed0fb1575bbcf5ed36f4001ad65f0aff4ed6652b8aa1f586ddbb20e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdnssd-5.249.0.tar.xz">kdnssd-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f11e106d351194e337ac4f02bb93357a711c45883b198e2a2338e5756bb96c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kdoctools-5.249.0.tar.xz">kdoctools-5.249.0</a></td>
   <td align="right">448kB</td>
   <td><tt>d25d772e2f0353e8484ae79270f83bf21e737dd98dec6aca7c4e20316a79fdf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kfilemetadata-5.249.0.tar.xz">kfilemetadata-5.249.0</a></td>
   <td align="right">546kB</td>
   <td><tt>c8eba6e9ab486be83391d5ec8b34efbcb67ad855f108caf11ec4a57b52d1b8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kglobalaccel-5.249.0.tar.xz">kglobalaccel-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>714ad717d3c77c4dfbfc02ba910ec2ceabc4d07f0fd39eb6bc56ee07ff83e66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kguiaddons-5.249.0.tar.xz">kguiaddons-5.249.0</a></td>
   <td align="right">79kB</td>
   <td><tt>6f21b46268f148a74636b9363e269d17e3bb7de01211905810f07688caa69563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kholidays-5.249.0.tar.xz">kholidays-5.249.0</a></td>
   <td align="right">246kB</td>
   <td><tt>4587ef13bb7e1c178ba7581b33eafab9aca86a199e6b890a2b3cac6e101a180c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/ki18n-5.249.0.tar.xz">ki18n-5.249.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f6e507c0f64ad5508c134f77184e102c3588f4d901acba5bc389b0e936f835ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kiconthemes-5.249.0.tar.xz">kiconthemes-5.249.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>dc18ef7d2b8ca5e2512a5ef69ee344ab1dec5e2654a5b55ac2add77a09f8b737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kidletime-5.249.0.tar.xz">kidletime-5.249.0</a></td>
   <td align="right">30kB</td>
   <td><tt>8ebb9f7ca9568a03bbe919cd560faa0a77a711a2b2cead027daf9c5b6e4adf1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kimageformats-5.249.0.tar.xz">kimageformats-5.249.0</a></td>
   <td align="right">15MB</td>
   <td><tt>031a2e170b942d3e679a8f33a8b4a4d949bf980ff9291d876aaeed85018f4786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kio-5.249.0.tar.xz">kio-5.249.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>0d9661b3109c4f705f612ef91494c12bcee58e46e38db1506bd2503594448ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kirigami-5.249.0.tar.xz">kirigami-5.249.0</a></td>
   <td align="right">361kB</td>
   <td><tt>0154e7cbd2d6b40cf54720401d333ae3ba1c7aab12bbd2ad2060a12b78e07855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kitemmodels-5.249.0.tar.xz">kitemmodels-5.249.0</a></td>
   <td align="right">389kB</td>
   <td><tt>22a8bd32281182be1399944903e96a3ccc9950c1f8ad21c4f4a52e71ab02b9c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kitemviews-5.249.0.tar.xz">kitemviews-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5317bc6fd37318f8a70209308646952cc934fde67bc7030586498d64fefed6d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kjobwidgets-5.249.0.tar.xz">kjobwidgets-5.249.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b572b00fc5bbd075dadc902c0b9543d4c8e0f79b7cc7a113cbf823e3c5e5a634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/knewstuff-5.249.0.tar.xz">knewstuff-5.249.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>75fb94126360f52d6f4a72437281b9e15941946e1a1e64f03028bcabb6a1eeb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/knotifications-5.249.0.tar.xz">knotifications-5.249.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>66b945919d0b9a8354be229969c7af20a01f27b0739fa1093f99ffe5e27f4a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/knotifyconfig-5.249.0.tar.xz">knotifyconfig-5.249.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>663ba356121da4acc0a3a782e8e05b08cdaceda3e12e3a66e4c7d89878144aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kpackage-5.249.0.tar.xz">kpackage-5.249.0</a></td>
   <td align="right">173kB</td>
   <td><tt>28b666cd2ac047444dd4bae56b9edcc77c779bc14ec9b2aa704ea6df47141234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kparts-5.249.0.tar.xz">kparts-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>eb7926e2be40fb0afe4324aaa018d5da2dc687a6b4853a46c64a5b1dcd383738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kpeople-5.249.0.tar.xz">kpeople-5.249.0</a></td>
   <td align="right">64kB</td>
   <td><tt>212bca84fe98dfc9fedebd9f4073f66b4ea9946a9d7c29c69b7f15aa7f69c683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kplotting-5.249.0.tar.xz">kplotting-5.249.0</a></td>
   <td align="right">33kB</td>
   <td><tt>e02d725e7b212de708b27757bc7c60204b146e795025bed347223c814046d6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kpty-5.249.0.tar.xz">kpty-5.249.0</a></td>
   <td align="right">33kB</td>
   <td><tt>c93ac33b24190aa68c5a1a78995bd17e49d79e532c072a7a66afa07e1a71e7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kquickcharts-5.249.0.tar.xz">kquickcharts-5.249.0</a></td>
   <td align="right">107kB</td>
   <td><tt>aa479b8b67a7394ed8ffb9310b5514fe75fa7353f388d2b615857d1fcdac06cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/krunner-5.249.0.tar.xz">krunner-5.249.0</a></td>
   <td align="right">127kB</td>
   <td><tt>9c7e33b3eafc4ee174c469118a48b157f97794814af1f130f405024ed364d25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kservice-5.249.0.tar.xz">kservice-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4e42781819886a372ce5b1587a77ce3374dec298c3d185d18a6a62a7817f198c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kstatusnotifieritem-5.249.0.tar.xz">kstatusnotifieritem-5.249.0</a></td>
   <td align="right">45kB</td>
   <td><tt>b4485d37226758b4b43c4ebd7fe344b65e2408334f778a3deecef71315451f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/ksvg-5.249.0.tar.xz">ksvg-5.249.0</a></td>
   <td align="right">86kB</td>
   <td><tt>60688d297534321fdb97caabce5aabafc2d693dcddf98ba4a3708e9d3a2a1a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/ktexteditor-5.249.0.tar.xz">ktexteditor-5.249.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3375cec0d819ac7bb6f8d7358158cc75f85b06198c530d7b81e9745ab0ff53e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/ktexttemplate-5.249.0.tar.xz">ktexttemplate-5.249.0</a></td>
   <td align="right">827kB</td>
   <td><tt>cfa66fe841d1ee75b44612dfa0f4800acfae9a6c3cc76d695e5452135d979b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/ktextwidgets-5.249.0.tar.xz">ktextwidgets-5.249.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8f9ffdcf33ab8bf696c5c2a42cdc4cc55f697277629ddaecb0057b0ee8e32470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kunitconversion-5.249.0.tar.xz">kunitconversion-5.249.0</a></td>
   <td align="right">882kB</td>
   <td><tt>dfdb4a930b9b5a3c337d55ae7f3736c6f423a26e28178457ba8329ef038cb28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kuserfeedback-5.249.0.tar.xz">kuserfeedback-5.249.0</a></td>
   <td align="right">240kB</td>
   <td><tt>cb4e3d63a46bc52e627d0fd1351d05876a13ab34e2a1e542dffa8c70db4cf739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kwallet-5.249.0.tar.xz">kwallet-5.249.0</a></td>
   <td align="right">341kB</td>
   <td><tt>4ef45eb567dd43945dfa562da688817c6f917fcd63c3f779c77900ae0e22a646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kwidgetsaddons-5.249.0.tar.xz">kwidgetsaddons-5.249.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>db1d838d63843b66483b023f16be0a1c70fda45261448a38a6a748387c5288b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kwindowsystem-5.249.0.tar.xz">kwindowsystem-5.249.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cc5e62380e1ef354a3088ddeb1db93d0e018e47e9ec0869a4b493ab737e81508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/kxmlgui-5.249.0.tar.xz">kxmlgui-5.249.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>bde8175d7dbba78f52e845dc8fea2535a06013e91f9dcf0249b14708efb66eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/modemmanager-qt-5.249.0.tar.xz">modemmanager-qt-5.249.0</a></td>
   <td align="right">120kB</td>
   <td><tt>75aa829f094db4b13e8d3855911cf8a6f098a390ee0f0fa0e20a1297a20c4ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/networkmanager-qt-5.249.0.tar.xz">networkmanager-qt-5.249.0</a></td>
   <td align="right">195kB</td>
   <td><tt>594b21f45c4a8a8055fe92926ac8f24701d49e697c54142496cff41ee60f9147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/prison-5.249.0.tar.xz">prison-5.249.0</a></td>
   <td align="right">54kB</td>
   <td><tt>4aa3259f8237047fe9002fc649cfc4a5cca641459ace18f776434701d8613367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/purpose-5.249.0.tar.xz">purpose-5.249.0</a></td>
   <td align="right">170kB</td>
   <td><tt>39cbc645724a4aa5e6b5a4ebe0a89a5c1e93c3f050449bdfe1a8ce946f044dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/qqc2-desktop-style-5.249.0.tar.xz">qqc2-desktop-style-5.249.0</a></td>
   <td align="right">76kB</td>
   <td><tt>90b089db5fa5f664d583638300c5b1da03e91c56dee3da000433cb5e0d731f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/solid-5.249.0.tar.xz">solid-5.249.0</a></td>
   <td align="right">298kB</td>
   <td><tt>bf995c9fedaba517b469a7e49fc53a90f3bfb2a7b0b5204ab58e95a871305548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/sonnet-5.249.0.tar.xz">sonnet-5.249.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>afc3a7184075d09ab988a8dc6c1279172ae1fa8849314bcf4e9e686b99752b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/syndication-5.249.0.tar.xz">syndication-5.249.0</a></td>
   <td align="right">498kB</td>
   <td><tt>5865da63a148e6e5e67c3db6907ffb2e31d8025ffa5ff34d1e6dc81a0f6ae16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/syntax-highlighting-5.249.0.tar.xz">syntax-highlighting-5.249.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>519e6d59392434f82bbcedd7ede916494c8c49f8080b5b6708c102c474af0a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.249.0/threadweaver-5.249.0.tar.xz">threadweaver-5.249.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3f7c5ecdbc15fb5658c78bff8da857841e15530e19da6757f98361883c90f168</tt></td>
</tr>

</table>
