<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/aura-browser-5.26.0.tar.xz">aura-browser-5.26.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a9de5d2ff23d30ce0c13509bd6af6aa63c863a4db3fdb1cc5650ea2ae5b983e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/bluedevil-5.26.0.tar.xz">bluedevil-5.26.0</a></td>
   <td align="right">304kB</td>
   <td><tt>b275b33094961f84310de6d37a5ba197bd34f10f1807ee0462ffbfde8fdc23af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/breeze-5.26.0.tar.xz">breeze-5.26.0</a></td>
   <td align="right">55MB</td>
   <td><tt>11ed27c9049a0ba1f0a0e506244872972e5cfa961bf9f528fca19ecd5738437c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/breeze-grub-5.26.0.tar.xz">breeze-grub-5.26.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0052810d1653433da46c0c98871ff7537842b39ad2ce21df4f2f6ed69aedd789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/breeze-gtk-5.26.0.tar.xz">breeze-gtk-5.26.0</a></td>
   <td align="right">39kB</td>
   <td><tt>c8bb6407ac9e91bf3333fc7eb30439984c05aa09cdb90615e90eb824757174e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/breeze-plymouth-5.26.0.tar.xz">breeze-plymouth-5.26.0</a></td>
   <td align="right">108kB</td>
   <td><tt>e8bf30c6f4a1618593cf9137418904425edac59d10100d614377a09b906fb013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/discover-5.26.0.tar.xz">discover-5.26.0</a></td>
   <td align="right">637kB</td>
   <td><tt>df4b5f32a38ee3ea254837e4b6a66c0b9874927bfa86fe3f0e6df9e00b4ff170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/drkonqi-5.26.0.tar.xz">drkonqi-5.26.0</a></td>
   <td align="right">493kB</td>
   <td><tt>41e65f062f6cd3b65b764824d3245f930dcc461d175855a98b436bb389f7fa07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kactivitymanagerd-5.26.0.tar.xz">kactivitymanagerd-5.26.0</a></td>
   <td align="right">106kB</td>
   <td><tt>d2621bb7ecaa13348d8790d432a1dd4bebd145730550d0fa2e8fcb2818b30dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kde-cli-tools-5.26.0.tar.xz">kde-cli-tools-5.26.0</a></td>
   <td align="right">615kB</td>
   <td><tt>14202b5f8d5751f44d1ad96f0d24971c5c2f6ed100e2dc4f855829debee89670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kdecoration-5.26.0.tar.xz">kdecoration-5.26.0</a></td>
   <td align="right">50kB</td>
   <td><tt>8be1e1442ed7b4e545341b83478261cff800fe0ffaf4b97be80cc78c6b3da631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kde-gtk-config-5.26.0.tar.xz">kde-gtk-config-5.26.0</a></td>
   <td align="right">72kB</td>
   <td><tt>579c1c538ec72e7e9fa7f7c17a09ad0f2461a12922847d91aa040838f382ce79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kdeplasma-addons-5.26.0.tar.xz">kdeplasma-addons-5.26.0</a></td>
   <td align="right">661kB</td>
   <td><tt>30c0a5577d819a1eacb8f2977f20e1f77cec83d1a406f024d562e523eadad6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kgamma5-5.26.0.tar.xz">kgamma5-5.26.0</a></td>
   <td align="right">84kB</td>
   <td><tt>90f8ad111eb32c60218bd6cf5ace3247918a4af8fdedebf6b913fae94de4f784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/khotkeys-5.26.0.tar.xz">khotkeys-5.26.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>85b539cde1c114abb6198e2ad073850d6e428a57a316f2e21d7c5c9d1dae360a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kinfocenter-5.26.0.tar.xz">kinfocenter-5.26.0</a></td>
   <td align="right">712kB</td>
   <td><tt>02c11b6bae2c00d095c5ef3b846647884fbfc7dfca8636967fd51ea7bb012e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kmenuedit-5.26.0.tar.xz">kmenuedit-5.26.0</a></td>
   <td align="right">884kB</td>
   <td><tt>b1ead79128d9183ded58507b411afa88bb329777b420f4a7252c286a92b4d1b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kpipewire-5.26.0.tar.xz">kpipewire-5.26.0</a></td>
   <td align="right">51kB</td>
   <td><tt>7a09f3325b1be7868135d10fccc27466c5ed5dab75b6c71634940ac7f8b6beee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kscreen-5.26.0.tar.xz">kscreen-5.26.0</a></td>
   <td align="right">148kB</td>
   <td><tt>26e4295fac92e142b25e97908866860506bf4f52ef5e1d114c788c1506c3c52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kscreenlocker-5.26.0.tar.xz">kscreenlocker-5.26.0</a></td>
   <td align="right">112kB</td>
   <td><tt>e412b2cf65d69f80a866d0332397b494243068e270225f7c95de227b913ec73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/ksshaskpass-5.26.0.tar.xz">ksshaskpass-5.26.0</a></td>
   <td align="right">26kB</td>
   <td><tt>cc2756c5453c22d08c4797d2684786ce6c2a4eed398a07887b9097378e6dc5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/ksystemstats-5.26.0.tar.xz">ksystemstats-5.26.0</a></td>
   <td align="right">102kB</td>
   <td><tt>a408e183daf325bf27d08403ed1214beb7a4b2ffd768044e3b02ce87c3026b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kwallet-pam-5.26.0.tar.xz">kwallet-pam-5.26.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b8bba12804306f565e5a76eafeea6353aabfabd937b29bb098e777e7adb62ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kwayland-integration-5.26.0.tar.xz">kwayland-integration-5.26.0</a></td>
   <td align="right">26kB</td>
   <td><tt>ee1041d400424b7f4116d3395906a3bda752e547f7d3639c589d919fe4ada440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kwin-5.26.0.tar.xz">kwin-5.26.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>3a9f4769c08c568397fbf956019c00de3086a18a263f2a1a2738fd4b344029fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/kwrited-5.26.0.tar.xz">kwrited-5.26.0</a></td>
   <td align="right">22kB</td>
   <td><tt>2e104432db211321beab24d55dcf37d69aebb8c1d34251fabbaa16a8ee2d6b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/layer-shell-qt-5.26.0.tar.xz">layer-shell-qt-5.26.0</a></td>
   <td align="right">17kB</td>
   <td><tt>de043d147e2d900227870c73881015895b4b37d971a5075ffeaa021026cfb61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/libkscreen-5.26.0.tar.xz">libkscreen-5.26.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4e9aeb63a89834a2bf46e56f67db44aadcdcc3c9a7852dc3162abc6397115e24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/libksysguard-5.26.0.tar.xz">libksysguard-5.26.0</a></td>
   <td align="right">777kB</td>
   <td><tt>43b2f473edc4680511386674582a25f1261cefd19091253a58b9e1eb8d529296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/milou-5.26.0.tar.xz">milou-5.26.0</a></td>
   <td align="right">49kB</td>
   <td><tt>c0efe738142ade01d6b9730502cee6ab70827e26be403e7a639fc84f7d508fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/oxygen-5.26.0.tar.xz">oxygen-5.26.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9f1905df0ec089fabc8f549faf70e146f7a273b6339f1303db324840b66d6c55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/oxygen-sounds-5.26.0.tar.xz">oxygen-sounds-5.26.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>87b41d0ce41ff30d5d09a59fef5395bf22bcd8d9b2501398e63412d6acb48773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plank-player-5.26.0.tar.xz">plank-player-5.26.0</a></td>
   <td align="right">152kB</td>
   <td><tt>535cdf743de950131abb2fe0abf5f2b6ae36983a0f8e600f43922ebe16cc904b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-bigscreen-5.26.0.tar.xz">plasma-bigscreen-5.26.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>39b1d60d83505c603d9b31374f2b5748c2d0e32310980242d0eead0b8c13bbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-browser-integration-5.26.0.tar.xz">plasma-browser-integration-5.26.0</a></td>
   <td align="right">230kB</td>
   <td><tt>f46925081ae87bb0991a9fc097486d657f7ec6b5614b8f212f9463a732c4f36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-desktop-5.26.0.tar.xz">plasma-desktop-5.26.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7d9f7ecebed04e72c7346ee061010e7bfcca5cedb4121a6bfd3aa09e44d7ac74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-disks-5.26.0.tar.xz">plasma-disks-5.26.0</a></td>
   <td align="right">90kB</td>
   <td><tt>b5b3aa3b661874fd3cab7a449a2cb4f51a4345945cf10368e7452f04ed0e6371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-firewall-5.26.0.tar.xz">plasma-firewall-5.26.0</a></td>
   <td align="right">350kB</td>
   <td><tt>f95e8ee3f66b0cc4b35bf519f6171014c48cf4a39f94320ec12409a808725e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-integration-5.26.0.tar.xz">plasma-integration-5.26.0</a></td>
   <td align="right">86kB</td>
   <td><tt>af61b043d696799acd6991b59f590c9e36c7ea3aa08b1993c0e356ab144c1b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-mobile-5.26.0.tar.xz">plasma-mobile-5.26.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c21f62d1c2f76034370e7e8ed87b0c71f28f898c4c7df045340b6387debd877f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-nano-5.26.0.tar.xz">plasma-nano-5.26.0</a></td>
   <td align="right">69kB</td>
   <td><tt>e71bfbf7990e29084d88ab1894dce5eedad10dff3f45f862080777de910fcb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-nm-5.26.0.tar.xz">plasma-nm-5.26.0</a></td>
   <td align="right">947kB</td>
   <td><tt>7e9adf6bbbd565227871f80716b46d86deddad32628b150185d38a1d70245eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-pa-5.26.0.tar.xz">plasma-pa-5.26.0</a></td>
   <td align="right">137kB</td>
   <td><tt>ffb380e26cd4f5797d4bc724c1442ee35d9e13005957955e77b0cbed65965201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-remotecontrollers-5.26.0.tar.xz">plasma-remotecontrollers-5.26.0</a></td>
   <td align="right">67kB</td>
   <td><tt>5725f61db8a7a2cb70dbd89dea10e01db4dae77b5af178b250b9e4d9b086953f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-sdk-5.26.0.tar.xz">plasma-sdk-5.26.0</a></td>
   <td align="right">263kB</td>
   <td><tt>19b82e957cc6f0e674473ff4f6003af833162d8edf875e4c33f8f9a39b9e4ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-systemmonitor-5.26.0.tar.xz">plasma-systemmonitor-5.26.0</a></td>
   <td align="right">161kB</td>
   <td><tt>41bf6b7e24d39b4e429a2dbf4389d86229f15997ad680f4405557e10291647fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-tests-5.26.0.tar.xz">plasma-tests-5.26.0</a></td>
   <td align="right">1kB</td>
   <td><tt>e88260eca1ae5e480cb71a44743ace00f089914a360a4fce7e9e3e1db9a77343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-thunderbolt-5.26.0.tar.xz">plasma-thunderbolt-5.26.0</a></td>
   <td align="right">69kB</td>
   <td><tt>a51c0ee41b4b4b9fad948789830d5945a7c6ff1b4fa35db4a95c3717fbdeaa1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-vault-5.26.0.tar.xz">plasma-vault-5.26.0</a></td>
   <td align="right">179kB</td>
   <td><tt>4daac65bd5f3a593af6405233bd2ca564c573d8dc045a639b7b084f8fb89a74b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-workspace-5.26.0.tar.xz">plasma-workspace-5.26.0</a></td>
   <td align="right">16MB</td>
   <td><tt>841fd34bc55fa18c4d4373ba33b3ad6464f8f43a4db698aa8c83791f185556b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plasma-workspace-wallpapers-5.26.0.tar.xz">plasma-workspace-wallpapers-5.26.0</a></td>
   <td align="right">80MB</td>
   <td><tt>db9c9fe6fc7849c3b09d3b8ea5e063cfa2a3291ef0a7e5c349d60a546f1faa81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/plymouth-kcm-5.26.0.tar.xz">plymouth-kcm-5.26.0</a></td>
   <td align="right">42kB</td>
   <td><tt>8dc9e8c8fdbde9286710c16b465eb8d177183ae432076a747e51a5d52b47ec78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/polkit-kde-agent-1-5.26.0.tar.xz">polkit-kde-agent-1-5.26.0</a></td>
   <td align="right">47kB</td>
   <td><tt>aa43650accd6bacab633e95b9b9c9d607dd22f265ac15ef7c0eda0e713c488bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/powerdevil-5.26.0.tar.xz">powerdevil-5.26.0</a></td>
   <td align="right">626kB</td>
   <td><tt>76ee034a1515c3af2692c4f3cda0719195acf22f0872de852d2b0b6ede2cf0ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/qqc2-breeze-style-5.26.0.tar.xz">qqc2-breeze-style-5.26.0</a></td>
   <td align="right">64kB</td>
   <td><tt>29146cbd2d301f7488f0e8687f4bdcb120976e72985b9f1a18156892cd30dec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/sddm-kcm-5.26.0.tar.xz">sddm-kcm-5.26.0</a></td>
   <td align="right">80kB</td>
   <td><tt>271eaf95f73daa46f6517e385611196dfe5cf951959aab2d6ca7e9b058c6a6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/systemsettings-5.26.0.tar.xz">systemsettings-5.26.0</a></td>
   <td align="right">200kB</td>
   <td><tt>bf2f10c0b51454d567d94f912e7d7cb6b01a87f935a70399643da4962b884fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.0/xdg-desktop-portal-kde-5.26.0.tar.xz">xdg-desktop-portal-kde-5.26.0</a></td>
   <td align="right">106kB</td>
   <td><tt>9e9a673fc9055f4c63d4f4b00264385f978be15f58868c1ef6cf4751bb472f9e</tt></td>
</tr>

</table>
