<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/attica-5.246.0.tar.xz">attica-5.246.0</a></td>
   <td align="right">67kB</td>
   <td><tt>cb6978c0f927f9d12753bceade14d456cc1dcc35998b64a73780f85b419caf0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/baloo-5.246.0.tar.xz">baloo-5.246.0</a></td>
   <td align="right">304kB</td>
   <td><tt>14f0018c5959a9dd8f5a7b7376a9507ac924ebfa3f37477f194d3f17059db32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/bluez-qt-5.246.0.tar.xz">bluez-qt-5.246.0</a></td>
   <td align="right">113kB</td>
   <td><tt>bcec88a1750a797e81aab50ea48bb84f3b9fe23ea19294285303c2a731ea1655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/breeze-icons-5.246.0.tar.xz">breeze-icons-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4d25fff07b53639189358f535a8f25012533f96685c615cb80eac9ab01ecd835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/extra-cmake-modules-5.246.1.tar.xz">extra-cmake-modules-5.246.1</a></td>
   <td align="right">329kB</td>
   <td><tt>917b4a9d0c431984acdca94422dc8ffc0d56bd9ebee591da82633fc38d9fea54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/frameworkintegration-5.246.0.tar.xz">frameworkintegration-5.246.0</a></td>
   <td align="right">52kB</td>
   <td><tt>4e8f046f1f4e987a58c9f5fe53b28f23d5b0bc74970a123ea23cbc448b74a481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kapidox-5.246.0.tar.xz">kapidox-5.246.0</a></td>
   <td align="right">194kB</td>
   <td><tt>345b29766303c80adcfc62ec0d0fd61dca85ef5721967db333eeb1147368948c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/karchive-5.246.0.tar.xz">karchive-5.246.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>056f37fe61fd04676234f512937110f8403326f61c5d3ee10e1d5cc594d8b41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kauth-5.246.0.tar.xz">kauth-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ca98341171240b935ee6eeafc98326924a770cf3a584ef6440e149de7a594712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kbookmarks-5.246.0.tar.xz">kbookmarks-5.246.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>389a3e7237de9d28fc5217ee25177f0c840e79903de9c8c57a9ebb2e4f42673a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcalendarcore-5.246.0.tar.xz">kcalendarcore-5.246.0</a></td>
   <td align="right">254kB</td>
   <td><tt>e45a3e4a617dfa97bce648f6eebc527a67246f9596a86ce96d382d360839df94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcmutils-5.246.0.tar.xz">kcmutils-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a40dee08bdcbec360befd977b5f4b8e1502c83d9657c56b66492cb9975543cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcodecs-5.246.0.tar.xz">kcodecs-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a65678dde05f20490b868c4cdd29308cebce26d2fe2ba9a1b9800ee665897d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcolorscheme-5.246.0.tar.xz">kcolorscheme-5.246.0</a></td>
   <td align="right">42kB</td>
   <td><tt>4d3b62cad08e2b390d7f225833dd66ef817258264678d38a68e660204bd4cd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcompletion-5.246.0.tar.xz">kcompletion-5.246.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2043befa7a696211b32bfc32baecbf4010a2be7b4b158220843328ea5763cdce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kconfig-5.246.0.tar.xz">kconfig-5.246.0</a></td>
   <td align="right">285kB</td>
   <td><tt>e86348458005a932f0c61f7f3fc5400765b8b150fe4cf8d83ec157a96cbd0076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kconfigwidgets-5.246.0.tar.xz">kconfigwidgets-5.246.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c8614f2117212d396c62d22b70aa7628f51831c14ddbd80f4dfa32e71c2124f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcontacts-5.246.0.tar.xz">kcontacts-5.246.0</a></td>
   <td align="right">201kB</td>
   <td><tt>aa3d940c9c42941989543abe5623059b1346ca9cb0f46b387e2f9caa1d83911e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcoreaddons-5.246.0.tar.xz">kcoreaddons-5.246.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4c1ab9bd5ef59e7b263a99575b1f3405e91a8d4a8714fe6c6b7cca64273945df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kcrash-5.246.0.tar.xz">kcrash-5.246.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3649cc43b94fc52ae97a715b445ba70d6c42f9839b2ff9ac05aef944678c27e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdav-5.246.0.tar.xz">kdav-5.246.0</a></td>
   <td align="right">65kB</td>
   <td><tt>c76e5f9327b9ada0c17388ca9bb18c81304e37d3980a2625ed5e50734df03007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdbusaddons-5.246.0.tar.xz">kdbusaddons-5.246.0</a></td>
   <td align="right">44kB</td>
   <td><tt>68d6743bad641bd1ea0ec815adc4f8913df5f55e95e78aef39cdd96640ebbd61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdeclarative-5.246.0.tar.xz">kdeclarative-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0eb16a988cea5b95a21a8d328f5e9a293b01132a3d16aab3da7bfea0573b2737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kded-5.246.0.tar.xz">kded-5.246.0</a></td>
   <td align="right">31kB</td>
   <td><tt>15bad745e181da72aead03d18fde9aee7a287406a35a9b7b5d9d42368bba9657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdesu-5.246.0.tar.xz">kdesu-5.246.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7b2b5e1008dd5b0c827b72eb3a47383edb5ebd963abdc2480130cc62a2994b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdnssd-5.246.0.tar.xz">kdnssd-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0789adbda03888a3ba796fa0aa66fac6d08d9f4290c931baa5d5b8e4449c8076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kdoctools-5.246.0.tar.xz">kdoctools-5.246.0</a></td>
   <td align="right">449kB</td>
   <td><tt>179b43429007da239d35ecfb880f7030c755124737bac45d073e7a55007641a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kfilemetadata-5.246.0.tar.xz">kfilemetadata-5.246.0</a></td>
   <td align="right">546kB</td>
   <td><tt>cd84d2045f70009bc30ba15dc8320541aff527fae069690672a6d8c69bc77aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kglobalaccel-5.246.0.tar.xz">kglobalaccel-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>09374c250477bb18a1469126adb31701deded9e265f813f7b483ddf18fe3158e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kguiaddons-5.246.0.tar.xz">kguiaddons-5.246.0</a></td>
   <td align="right">79kB</td>
   <td><tt>756cbaae2ee8378f5e6079a7578d075124ac57c5e903abba10a96efde3b1faa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kholidays-5.246.0.tar.xz">kholidays-5.246.0</a></td>
   <td align="right">246kB</td>
   <td><tt>34a2dbb5ac8a9891f8a512db6f8fd93d51a0b06b5d2f240d3dadad2270061359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/ki18n-5.246.0.tar.xz">ki18n-5.246.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4527ce98b1d159d567e0e6858a3b2b8d559b89267e944f38b486c3975d709d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kiconthemes-5.246.0.tar.xz">kiconthemes-5.246.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>09197263d84e5c9ac414d1c125ad327daad3ef8f7edd2c6467de82cb916daf42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kidletime-5.246.0.tar.xz">kidletime-5.246.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d81772726e221157c2bd84e6d39890da96e43401e91cf5d1cc7e51b2d6cfe51c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kimageformats-5.246.0.tar.xz">kimageformats-5.246.0</a></td>
   <td align="right">15MB</td>
   <td><tt>0c1ef345d3e8617686e50471e2b3d197d5909a2b18b89ecee12bc36b62289016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kio-5.246.0.tar.xz">kio-5.246.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9e377bb2dddef087220424285499e61f3b1766db587696d9479e069dd1e3d8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kirigami-5.246.0.tar.xz">kirigami-5.246.0</a></td>
   <td align="right">358kB</td>
   <td><tt>df3f21ed1a3c8d25a2e7ca50d90076003da17e200534a70859797bee3c76020e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kitemmodels-5.246.0.tar.xz">kitemmodels-5.246.0</a></td>
   <td align="right">389kB</td>
   <td><tt>7776fec0cf53061d511d8cde30a4235536ab1cb9edcc05074e0e819ec81764bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kitemviews-5.246.0.tar.xz">kitemviews-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>00fb7a695c8a09bb428cc718638bc1a7ed23bf85352443a30d5067a9a8efb4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kjobwidgets-5.246.0.tar.xz">kjobwidgets-5.246.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d63be3341abae3700494d3870a499119b92ca1b81b6cab71e7d489dd718ae2fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/knewstuff-5.246.0.tar.xz">knewstuff-5.246.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>036b3237a382b37bdea1102948a0fd86db76263b58126de66f95189dc073436d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/knotifications-5.246.0.tar.xz">knotifications-5.246.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dbbff23772e7acc565f0653baf3aedef31d8c3dffdfc07c89e7cf046d1f1bf36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/knotifyconfig-5.246.0.tar.xz">knotifyconfig-5.246.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cacd23a5f3109dab90d1ec373ed3be71ccb302185c2accd92c46dcd4546f6af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kpackage-5.246.0.tar.xz">kpackage-5.246.0</a></td>
   <td align="right">173kB</td>
   <td><tt>90e4e360427738f03df9eb57df2f085f5a9e371e8457d3981cebfa667eabdb91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kparts-5.246.0.tar.xz">kparts-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0d41bde7867eb37566ff829065d6987fd02e7c12afd62228a648498c3a781a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kpeople-5.246.0.tar.xz">kpeople-5.246.0</a></td>
   <td align="right">62kB</td>
   <td><tt>38f1f918110369093ee8c72eff7d512931d479c9595dce20bfa7096a9e6d963a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kplotting-5.246.0.tar.xz">kplotting-5.246.0</a></td>
   <td align="right">32kB</td>
   <td><tt>e46217691e444541332da98d76aee120a5bf5a3fc35e60df232bc96451ea89b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kpty-5.246.0.tar.xz">kpty-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3c3391ba8bf4af5edc5030f486fd3292126e1eb09808802f1d43e9e071864926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kquickcharts-5.246.0.tar.xz">kquickcharts-5.246.0</a></td>
   <td align="right">107kB</td>
   <td><tt>8c33c0a5f29206c74afb3b7fd58bedfc2e57ee978e76f24ef3e342aa74a5d21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/krunner-5.246.0.tar.xz">krunner-5.246.0</a></td>
   <td align="right">128kB</td>
   <td><tt>912f1af9c2577357093f7b3c02c48f52b694ab209fc77ab5f200a02943098a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kservice-5.246.0.tar.xz">kservice-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2ae01b8d6a0baa2504c5f7697c59280560a88e2af7f5e8d27fe4065f8531c560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kstatusnotifieritem-5.246.0.tar.xz">kstatusnotifieritem-5.246.0</a></td>
   <td align="right">44kB</td>
   <td><tt>14adc191912ea6e73b33d13323383d41cd98cc6eb5d1905d982b979b81780f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/ksvg-5.246.0.tar.xz">ksvg-5.246.0</a></td>
   <td align="right">86kB</td>
   <td><tt>b781060160f6ebf25725044053ca60192a5303438f19100939a89c03c1366aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/ktexteditor-5.246.0.tar.xz">ktexteditor-5.246.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fb4b175bd5835709bf7e7a56eea0ae5d789f415f5a9c7fe146b4b105072c61a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/ktexttemplate-5.246.0.tar.xz">ktexttemplate-5.246.0</a></td>
   <td align="right">827kB</td>
   <td><tt>493b88d3d48a8a1ba3cf337053257257ff8f38edbffd9b36307e9d5d1a99159a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/ktextwidgets-5.246.0.tar.xz">ktextwidgets-5.246.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>050151bcf7641e90cacebef2bf671b495014da1d2bd6d3f7f446624cb88e9cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kunitconversion-5.246.0.tar.xz">kunitconversion-5.246.0</a></td>
   <td align="right">893kB</td>
   <td><tt>47355de052aad13148676cc4bb1be71c6d091342fb7f85d5a0f733610f08d44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kuserfeedback-5.246.0.tar.xz">kuserfeedback-5.246.0</a></td>
   <td align="right">229kB</td>
   <td><tt>a222f2b2cadbb3ab3f8dbee3399b407c86b45a2a5ba01f7aa1103bfed37e5ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kwallet-5.246.0.tar.xz">kwallet-5.246.0</a></td>
   <td align="right">341kB</td>
   <td><tt>d54ac4b1a4a6e4c056b3d7fbb733d873f51860d38bd296efcd73860c9b93fc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kwidgetsaddons-5.246.0.tar.xz">kwidgetsaddons-5.246.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b1e7dc0eff9bd307b8bccea0a6ad65e74a11139d4b0da4f717bd6ffd84c376f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kwindowsystem-5.246.0.tar.xz">kwindowsystem-5.246.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f3534313669daccee628614467e8ef33f9436016db7e2d5818f5bfa071f2b52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/kxmlgui-5.246.0.tar.xz">kxmlgui-5.246.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>dccaadc94d6b3b4c5f13fb94ee5406d393d93e50ff441cdf9cd715acf052adb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/modemmanager-qt-5.246.0.tar.xz">modemmanager-qt-5.246.0</a></td>
   <td align="right">118kB</td>
   <td><tt>8ef5e84356e4d0879a24f0914a63cbabc16d9232e638f191f3a287cf1953cf27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/networkmanager-qt-5.246.0.tar.xz">networkmanager-qt-5.246.0</a></td>
   <td align="right">195kB</td>
   <td><tt>7067ac9d916c4edbe9f43494c490439df93287f9f6bef360f7f6488d53505391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/prison-5.246.0.tar.xz">prison-5.246.0</a></td>
   <td align="right">54kB</td>
   <td><tt>434cdf931446b3bf0802eaeacd8a6e7c20a054ff7243ecfb0edff8e32323e3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/purpose-5.246.0.tar.xz">purpose-5.246.0</a></td>
   <td align="right">175kB</td>
   <td><tt>794455525f3a76b978af4201e0437f2ff8e081cbc17bb97a3b9bb6f994aba698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/qqc2-desktop-style-5.246.0.tar.xz">qqc2-desktop-style-5.246.0</a></td>
   <td align="right">74kB</td>
   <td><tt>f77c86bad4963546ef82d4bbab4ab37dd6d8f119ba85e77e53b51bc28b55e7ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/solid-5.246.0.tar.xz">solid-5.246.0</a></td>
   <td align="right">297kB</td>
   <td><tt>d4dd36d8e777ed142d78638e6f62ad28f681bd3898dd10a0fa41b50d67e9170b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/sonnet-5.246.0.tar.xz">sonnet-5.246.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b4125cd67bbdb1587fe3cd7b28385c1d4c71ae893b8caab819abdaa5238de3c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/syndication-5.246.0.tar.xz">syndication-5.246.0</a></td>
   <td align="right">498kB</td>
   <td><tt>fffcf81ee08c5e2bd50dd06f2b9bfeaf367c2004096ff2a784802d05d6f6ee7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/syntax-highlighting-5.246.0.tar.xz">syntax-highlighting-5.246.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3550f626b83d60d31f2bab1df590777aec8a2e1adb2428344293927a3c173920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.246.0/threadweaver-5.246.0.tar.xz">threadweaver-5.246.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a79ff73d38644aba48185834061f66e5de8dc7cfe4a8399bd87aea61b3ee3430</tt></td>
</tr>

</table>
