<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/bluedevil-5.12.3.tar.xz">bluedevil-5.12.3</a></td>
   <td align="right">146kB</td>
   <td><tt>f3817d6d0475c9cb4574f45ad3d1bafeab5ead840ef109c3eb56e7ee9790edef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/breeze-5.12.3.tar.xz">breeze-5.12.3</a></td>
   <td align="right">21MB</td>
   <td><tt>1cbace92ba7548d90c6a74683bceec67a2b86ba7974238c85e3c94fc58577656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/breeze-grub-5.12.3.tar.xz">breeze-grub-5.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4b5485c1b76bd9b343073245d0dd4aff1a0d1bfc26f066b9e78aa5ccbd3602ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/breeze-gtk-5.12.3.tar.xz">breeze-gtk-5.12.3</a></td>
   <td align="right">208kB</td>
   <td><tt>1df187baa43edcb10cb85686c2c67608f8d0d82ac26fbb754b959ce68469815b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/breeze-plymouth-5.12.3.tar.xz">breeze-plymouth-5.12.3</a></td>
   <td align="right">103kB</td>
   <td><tt>f627f771c60a75705ac37d625f7999c5e1192adb8883a3eb118b9e21782cfd96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/discover-5.12.3.tar.xz">discover-5.12.3</a></td>
   <td align="right">9.7MB</td>
   <td><tt>adcd8f9c05cd5f676a139d06ded53d1049238d69017a44bff726907c6d5e508c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/drkonqi-5.12.3.tar.xz">drkonqi-5.12.3</a></td>
   <td align="right">721kB</td>
   <td><tt>f554537f6bb461b0cbeefcb287536d476dc7baade05594de5a9a43965ec2856d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kactivitymanagerd-5.12.3.tar.xz">kactivitymanagerd-5.12.3</a></td>
   <td align="right">82kB</td>
   <td><tt>21634b36bdcbe5826c55b9457328f13a1f405b06b4570b5ede6e61a28945b93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kde-cli-tools-5.12.3.tar.xz">kde-cli-tools-5.12.3</a></td>
   <td align="right">559kB</td>
   <td><tt>4306ed1d4123e2a5fe889891007fe48bceb9af7955d472d4072b5ee16f9e5534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kdecoration-5.12.3.tar.xz">kdecoration-5.12.3</a></td>
   <td align="right">34kB</td>
   <td><tt>5ed358c40ae7d832cc44f7fc4cba21211ba71c8c54817c79a19e64c415c252f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kde-gtk-config-5.12.3.tar.xz">kde-gtk-config-5.12.3</a></td>
   <td align="right">153kB</td>
   <td><tt>381c06180773b4dff5ef31cf83debff9f11099408bac85919d59175476f95d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kdeplasma-addons-5.12.3.tar.xz">kdeplasma-addons-5.12.3</a></td>
   <td align="right">551kB</td>
   <td><tt>1705c57af39ba3030b727e83fd72f7ad39dfa6f496e69e6ed1537dfda80be619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kgamma5-5.12.3.tar.xz">kgamma5-5.12.3</a></td>
   <td align="right">59kB</td>
   <td><tt>7557d74a7159a9a7e344223ddb0f475e54f6b8d73cfb90e5acbd4b289e237b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/khotkeys-5.12.3.tar.xz">khotkeys-5.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8a8fefcc5d13e4037034c8c3fae9c8956eb2a6da2029d10fbb9c0e31af79a3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kinfocenter-5.12.3.tar.xz">kinfocenter-5.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d98ff9309ba5ab7cc340b446fb5c4e12f9be07b9efc0e807ae3939467d773551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kmenuedit-5.12.3.tar.xz">kmenuedit-5.12.3</a></td>
   <td align="right">636kB</td>
   <td><tt>2463fdbdbdefb3557bc8e42187663637966e415e431a9775951a5e1a1efac0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kscreen-5.12.3.tar.xz">kscreen-5.12.3</a></td>
   <td align="right">115kB</td>
   <td><tt>49c7d6a6a8d716ad1d5ee23f5a68016f869206147cac86a9240aa5fe0fddefab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kscreenlocker-5.12.3.tar.xz">kscreenlocker-5.12.3</a></td>
   <td align="right">115kB</td>
   <td><tt>b5097b46eaafa8c4d8d777847cdef615ba32fd24d62b8f7de3820c9394b4ccc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/ksshaskpass-5.12.3.tar.xz">ksshaskpass-5.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>f0bc3f83952fd71d3bb0cd79f6c810d4d3357c79d4c71e3cec35c41bc2588f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/ksysguard-5.12.3.tar.xz">ksysguard-5.12.3</a></td>
   <td align="right">475kB</td>
   <td><tt>6c6dcda20eb5e53bfe9740a50a417a877f4f58023b97f436f0707cc7f1f9fe70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kwallet-pam-5.12.3.tar.xz">kwallet-pam-5.12.3</a></td>
   <td align="right">18kB</td>
   <td><tt>1fb31455f522b62315b8a51bb19471de00bfa52bf0d53f431949acc00ff5cd80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kwayland-integration-5.12.3.tar.xz">kwayland-integration-5.12.3</a></td>
   <td align="right">18kB</td>
   <td><tt>b1f59e9b29c69b4cc711323e990a86ff0a84efa4f5b03545752573a29b6da133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kwin-5.12.3.tar.xz">kwin-5.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>e1682fc3c7cb6bfcfdeae0968c4a6676e041fdaff83231e3cbfd85b92d8e5877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/kwrited-5.12.3.tar.xz">kwrited-5.12.3</a></td>
   <td align="right">19kB</td>
   <td><tt>a12bba0388a881c3a725e69b59455e46e701644fa89dea15163305d738491dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/libkscreen-5.12.3.tar.xz">libkscreen-5.12.3</a></td>
   <td align="right">92kB</td>
   <td><tt>64214289f6f58102cbf454e07accf7316ab2266017f38cdf7c904effad23ef26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/libksysguard-5.12.3.tar.xz">libksysguard-5.12.3</a></td>
   <td align="right">557kB</td>
   <td><tt>f478560119850a8dccfaa00285b7a08a6462b54b31b2a175529e0f889a1e8f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/milou-5.12.3.tar.xz">milou-5.12.3</a></td>
   <td align="right">56kB</td>
   <td><tt>989f6c1042344664b857a7593b98c1adffe7dbd335c39febaf0730bab6478a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/oxygen-5.12.3.tar.xz">oxygen-5.12.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a6a07988a9a201be774e632bc2fa7d108000aeec36e9fdbf9818ada3b81e97b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-desktop-5.12.3.tar.xz">plasma-desktop-5.12.3</a></td>
   <td align="right">8.0MB</td>
   <td><tt>086b2ae9b8f55875a98cc617d77513d3360567d4e6cf76bc0ab61ec64e06e2d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-integration-5.12.3.tar.xz">plasma-integration-5.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>9cbfbdf08597260eaf393ac7fbcc3e229c99fb32fc9398959c188ca2b47b3361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-nm-5.12.3.tar.xz">plasma-nm-5.12.3</a></td>
   <td align="right">687kB</td>
   <td><tt>3cb104bc67eb565c405bd17309e237f233c69fdc3dde23cefbeee2128baa7d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-pa-5.12.3.tar.xz">plasma-pa-5.12.3</a></td>
   <td align="right">83kB</td>
   <td><tt>5444e69479c572db6115971f290c5fe82b20d15e9ad8ed9ae07618aee3019d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-sdk-5.12.3.tar.xz">plasma-sdk-5.12.3</a></td>
   <td align="right">237kB</td>
   <td><tt>916202c01b37eb8b2ff49134e5baed4effeec8490971037675e95c4fe24e8a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-tests-5.12.3.tar.xz">plasma-tests-5.12.3</a></td>
   <td align="right">1kB</td>
   <td><tt>87130eb990f5291b62111825fbefb246985f2109751041428ba553be6bbe4580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-vault-5.12.3.tar.xz">plasma-vault-5.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>101cee1cdb5319777bdb054e6ce4c58242f5c7cf2a69838e9a8f7dd9b7c32c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-workspace-5.12.3.tar.xz">plasma-workspace-5.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>9e39fbb94812198800b8d163929cdefebb6a405431f0ef4c7becf0d33c36232f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plasma-workspace-wallpapers-5.12.3.tar.xz">plasma-workspace-wallpapers-5.12.3</a></td>
   <td align="right">43MB</td>
   <td><tt>1ba0c2884cf2f0836c791403b7b8dc53d60044ae58be4f53adf6fe761a70b73e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/plymouth-kcm-5.12.3.tar.xz">plymouth-kcm-5.12.3</a></td>
   <td align="right">38kB</td>
   <td><tt>f35698a0d3af94ecceae7d6ca310ce25c8817028928f216b2275d79e7fa515ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/polkit-kde-agent-1-5.12.3.tar.xz">polkit-kde-agent-1-5.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>4016cf6d654aa7aa9a7c40eca3b13afa66f1049706ce4c05e09959eca48c624d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/powerdevil-5.12.3.tar.xz">powerdevil-5.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>0411f537232429ba0c549c6e829de22b418f4398069423f6eda0aa38166946f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/sddm-kcm-5.12.3.tar.xz">sddm-kcm-5.12.3</a></td>
   <td align="right">58kB</td>
   <td><tt>e242e1b632f31fc64bd0abdb574029567f9dbbc57cf32fd4a2e6db6be2d4a3b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/systemsettings-5.12.3.tar.xz">systemsettings-5.12.3</a></td>
   <td align="right">167kB</td>
   <td><tt>91aa1d8ec55799a3b6117aa4cfbf7c34af8909423cae7ad531e59c7204f58316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/user-manager-5.12.3.tar.xz">user-manager-5.12.3</a></td>
   <td align="right">532kB</td>
   <td><tt>70ee5e5dfaf1bb610f70b42a57e102a9678bc27ef97c59cd4eca622218b3f485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.3/xdg-desktop-portal-kde-5.12.3.tar.xz">xdg-desktop-portal-kde-5.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>69bed62e1c3b18e8ff2b1cce6bbfccb803b6abb17466e9635642efcfd8449e6b</tt></td>
</tr>

</table>
