<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-21.08.3.tar.xz">akonadi-21.08.3</a></td>
   <td align="right">1570kB</td>
   <td><tt>a31005973f3db878a8082ede0184bb05355137e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-calendar-21.08.3.tar.xz">akonadi-calendar-21.08.3</a></td>
   <td align="right">344kB</td>
   <td><tt>35b4c5a4b873a8608f4d40f1640d3b557b23d912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-calendar-tools-21.08.3.tar.xz">akonadi-calendar-tools-21.08.3</a></td>
   <td align="right">230kB</td>
   <td><tt>c5f0921379411eb080a8b3422fd4e62631a7f65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadiconsole-21.08.3.tar.xz">akonadiconsole-21.08.3</a></td>
   <td align="right">196kB</td>
   <td><tt>296c86b1b3d2be48f6d3970a8d49826ce7086fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-contacts-21.08.3.tar.xz">akonadi-contacts-21.08.3</a></td>
   <td align="right">411kB</td>
   <td><tt>43ecf4b09f075809cbd320417be00dd5b6012fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-import-wizard-21.08.3.tar.xz">akonadi-import-wizard-21.08.3</a></td>
   <td align="right">499kB</td>
   <td><tt>c610c88600b6367086026017e20f2fbae1e5b025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-mime-21.08.3.tar.xz">akonadi-mime-21.08.3</a></td>
   <td align="right">137kB</td>
   <td><tt>ee94c3fc56e2340a715f2fb10c2ca1d12031626f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-notes-21.08.3.tar.xz">akonadi-notes-21.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>a10c507bac614854982c6b277ea9b5810f185bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akonadi-search-21.08.3.tar.xz">akonadi-search-21.08.3</a></td>
   <td align="right">95kB</td>
   <td><tt>0826bb6a03160e71332bd862c0c9809e99c2c899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/akregator-21.08.3.tar.xz">akregator-21.08.3</a></td>
   <td align="right">2193kB</td>
   <td><tt>a539b72eb9d9e4ab52fcb94aa20483e87dcad1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/analitza-21.08.3.tar.xz">analitza-21.08.3</a></td>
   <td align="right">338kB</td>
   <td><tt>2e0a7d9c24ae6165d94eba73001ef2c28c2a31e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ark-21.08.3.tar.xz">ark-21.08.3</a></td>
   <td align="right">2704kB</td>
   <td><tt>702fa59133ebf300c9487b4f6d62161b47975462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/artikulate-21.08.3.tar.xz">artikulate-21.08.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>9283081a1992408695943039d857e77058de3147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/audiocd-kio-21.08.3.tar.xz">audiocd-kio-21.08.3</a></td>
   <td align="right">510kB</td>
   <td><tt>f5d931e1a053d058b12b00f42ef3119b317825b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/baloo-widgets-21.08.3.tar.xz">baloo-widgets-21.08.3</a></td>
   <td align="right">256kB</td>
   <td><tt>6bc892dc2341f37f248fd261904f5efc12b0e624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/blinken-21.08.3.tar.xz">blinken-21.08.3</a></td>
   <td align="right">2650kB</td>
   <td><tt>df14c1e97240e2b7a4d40eae8ad8e605fc32ee5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/bomber-21.08.3.tar.xz">bomber-21.08.3</a></td>
   <td align="right">811kB</td>
   <td><tt>a2e9ec654d4174727d4099d0d14b497b971275a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/bovo-21.08.3.tar.xz">bovo-21.08.3</a></td>
   <td align="right">203kB</td>
   <td><tt>c1a3e8d9a82a154a773887d1ae399b2c818816f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/calendarsupport-21.08.3.tar.xz">calendarsupport-21.08.3</a></td>
   <td align="right">746kB</td>
   <td><tt>e7af3ecd029e229dc729513ffb1d09970a27007c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/cantor-21.08.3.tar.xz">cantor-21.08.3</a></td>
   <td align="right">8975kB</td>
   <td><tt>6cfd3de930c5f85c482e6a00c7765a126df02837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/cervisia-21.08.3.tar.xz">cervisia-21.08.3</a></td>
   <td align="right">1867kB</td>
   <td><tt>1c2f1689956240ce6d6689ad8534dd4ffa44b66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/dolphin-21.08.3.tar.xz">dolphin-21.08.3</a></td>
   <td align="right">5202kB</td>
   <td><tt>6428eac2050286ecd163da77138ddd80f8e95b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/dolphin-plugins-21.08.3.tar.xz">dolphin-plugins-21.08.3</a></td>
   <td align="right">248kB</td>
   <td><tt>0b489fe3582a1793e951183985f2e517ab5015b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/dragon-21.08.3.tar.xz">dragon-21.08.3</a></td>
   <td align="right">1626kB</td>
   <td><tt>351b889f6c656cae52d5963f5801587ca15e8e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/elisa-21.08.3.tar.xz">elisa-21.08.3</a></td>
   <td align="right">1698kB</td>
   <td><tt>59a5f2b24424da796090eca1afc6439063d8e925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/eventviews-21.08.3.tar.xz">eventviews-21.08.3</a></td>
   <td align="right">442kB</td>
   <td><tt>c20e776d7a8641cc0f42c7c533c264abeb6f7f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ffmpegthumbs-21.08.3.tar.xz">ffmpegthumbs-21.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>1dd852ce8bd6d928788e08db9105d94c9a6df376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/filelight-21.08.3.tar.xz">filelight-21.08.3</a></td>
   <td align="right">667kB</td>
   <td><tt>909b848a603f68ce4178b292b422f1bd26ff4500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/granatier-21.08.3.tar.xz">granatier-21.08.3</a></td>
   <td align="right">2046kB</td>
   <td><tt>33072845947abc5444ff8f01912d5e443028f843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/grantlee-editor-21.08.3.tar.xz">grantlee-editor-21.08.3</a></td>
   <td align="right">108kB</td>
   <td><tt>6a5093b70124e45e9a02b2ba6caff5dd907cce65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/grantleetheme-21.08.3.tar.xz">grantleetheme-21.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>86f86f7cb03cc2b529b09ef76feda493a9fb8ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/gwenview-21.08.3.tar.xz">gwenview-21.08.3</a></td>
   <td align="right">6659kB</td>
   <td><tt>a0ff576de9d575825b8148fd08a383768d94e368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/incidenceeditor-21.08.3.tar.xz">incidenceeditor-21.08.3</a></td>
   <td align="right">532kB</td>
   <td><tt>535a9f57b22d056451cf59965f08db20ca4f383c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/itinerary-21.08.3.tar.xz">itinerary-21.08.3</a></td>
   <td align="right">406kB</td>
   <td><tt>0fbb5e2c799dbad92dd7036f9f7b8de7b94bfa10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/juk-21.08.3.tar.xz">juk-21.08.3</a></td>
   <td align="right">1966kB</td>
   <td><tt>f09a0d67ead224d8635e7272fdee3678755da131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/k3b-21.08.3.tar.xz">k3b-21.08.3</a></td>
   <td align="right">10494kB</td>
   <td><tt>bf6045e7733d7ea75593f3d5a2a0b0ea23050e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kaccounts-integration-21.08.3.tar.xz">kaccounts-integration-21.08.3</a></td>
   <td align="right">84kB</td>
   <td><tt>02cd366626e79abfa65176ac403e5b8a37b99c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kaccounts-providers-21.08.3.tar.xz">kaccounts-providers-21.08.3</a></td>
   <td align="right">62kB</td>
   <td><tt>a4b02ea942dad37fda26f6b3427500d829f621be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kaddressbook-21.08.3.tar.xz">kaddressbook-21.08.3</a></td>
   <td align="right">3269kB</td>
   <td><tt>1900dab25292118a87d3fe8c93342be6aaaa1bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kajongg-21.08.3.tar.xz">kajongg-21.08.3</a></td>
   <td align="right">4451kB</td>
   <td><tt>e2a771da0d23b6b719ba18824645b0970a22e26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kalarm-21.08.3.tar.xz">kalarm-21.08.3</a></td>
   <td align="right">2108kB</td>
   <td><tt>b557b15151080a94c29fb2f91135ab618f20ce84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kalarmcal-21.08.3.tar.xz">kalarmcal-21.08.3</a></td>
   <td align="right">614kB</td>
   <td><tt>0eb0a0bcd62eb23e3f1942a39b8997aff6baad08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kalgebra-21.08.3.tar.xz">kalgebra-21.08.3</a></td>
   <td align="right">1002kB</td>
   <td><tt>28d964d257184fea2e6ba1696b44ce9f341e13f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kalzium-21.08.3.tar.xz">kalzium-21.08.3</a></td>
   <td align="right">24015kB</td>
   <td><tt>004c7b0b05f05591381b161510422cf1544616b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kamera-21.08.3.tar.xz">kamera-21.08.3</a></td>
   <td align="right">113kB</td>
   <td><tt>360a8671063302f350d1586c2cbcdf74809212ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kamoso-21.08.3.tar.xz">kamoso-21.08.3</a></td>
   <td align="right">209kB</td>
   <td><tt>2f04e68dcf7c27733c6b69d6f25b889ba415c84c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kanagram-21.08.3.tar.xz">kanagram-21.08.3</a></td>
   <td align="right">7851kB</td>
   <td><tt>25288a5a100b58aff204101a07a3b54dd63394ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kapman-21.08.3.tar.xz">kapman-21.08.3</a></td>
   <td align="right">2414kB</td>
   <td><tt>19a5ff47a3e8f8321222c9b9806f5293728ff430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kapptemplate-21.08.3.tar.xz">kapptemplate-21.08.3</a></td>
   <td align="right">326kB</td>
   <td><tt>e4eee72c8a7a4b3b7e6ca581a68c012ee7e53a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kate-21.08.3.tar.xz">kate-21.08.3</a></td>
   <td align="right">7120kB</td>
   <td><tt>7e106596230540d1f4ea45826718813164c7556f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/katomic-21.08.3.tar.xz">katomic-21.08.3</a></td>
   <td align="right">1400kB</td>
   <td><tt>4107d7dc1acbf0ef32cd82fe42254f726f6d87c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kbackup-21.08.3.tar.xz">kbackup-21.08.3</a></td>
   <td align="right">379kB</td>
   <td><tt>7ab478e619fb05c84cb7f3030c1e395780942495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kblackbox-21.08.3.tar.xz">kblackbox-21.08.3</a></td>
   <td align="right">511kB</td>
   <td><tt>a01f61efe2db40d78283643e28356cad1e3542f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kblocks-21.08.3.tar.xz">kblocks-21.08.3</a></td>
   <td align="right">2050kB</td>
   <td><tt>998a6f4a96025812198afff1b91452afa455784a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kbounce-21.08.3.tar.xz">kbounce-21.08.3</a></td>
   <td align="right">3445kB</td>
   <td><tt>3bb557a1a4da696e6a8506f43f8ed10387f162ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kbreakout-21.08.3.tar.xz">kbreakout-21.08.3</a></td>
   <td align="right">2494kB</td>
   <td><tt>b4b6ca7170d4d03c7e65581a49e64c14264187f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kbruch-21.08.3.tar.xz">kbruch-21.08.3</a></td>
   <td align="right">5496kB</td>
   <td><tt>91b4c5bfa35aa5c07f52927e4bf8dd00eecae274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcachegrind-21.08.3.tar.xz">kcachegrind-21.08.3</a></td>
   <td align="right">834kB</td>
   <td><tt>f568e107354352778753da1f00e49651a865d381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcalc-21.08.3.tar.xz">kcalc-21.08.3</a></td>
   <td align="right">370kB</td>
   <td><tt>6f17380f517909ecabd2c0cc63cfe5ac695606dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcalutils-21.08.3.tar.xz">kcalutils-21.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>a86e55c6b1cc62b0acf5a1b725865c189323aba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcharselect-21.08.3.tar.xz">kcharselect-21.08.3</a></td>
   <td align="right">360kB</td>
   <td><tt>8fd0355de46551f2e2c62abcfeecb7bf8d19eb4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcolorchooser-21.08.3.tar.xz">kcolorchooser-21.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>dc257e535d1813dc5224677822b8b1924f619cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kcron-21.08.3.tar.xz">kcron-21.08.3</a></td>
   <td align="right">890kB</td>
   <td><tt>f585be5a2020a96f7194548293bfda2f629abe59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdebugsettings-21.08.3.tar.xz">kdebugsettings-21.08.3</a></td>
   <td align="right">88kB</td>
   <td><tt>d78b6ef4cdfccd07fb4457699dfdf0874b90a3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdeconnect-kde-21.08.3.tar.xz">kdeconnect-kde-21.08.3</a></td>
   <td align="right">577kB</td>
   <td><tt>71881f67734a8fb6eb129ca15d0b81376c9e0d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kde-dev-scripts-21.08.3.tar.xz">kde-dev-scripts-21.08.3</a></td>
   <td align="right">357kB</td>
   <td><tt>174b1147556ad119e79f9f12f89c9dd1fb71e539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kde-dev-utils-21.08.3.tar.xz">kde-dev-utils-21.08.3</a></td>
   <td align="right">67kB</td>
   <td><tt>8c5af835c9315518e42a2d799b935c726cc4db7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdeedu-data-21.08.3.tar.xz">kdeedu-data-21.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>8a352b00d54b78aadaa8f1ed82c2cc6e0b3bee8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdegraphics-mobipocket-21.08.3.tar.xz">kdegraphics-mobipocket-21.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>c05d1cface0c1d000ff4c42e14a8fd12f90a1d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdegraphics-thumbnailers-21.08.3.tar.xz">kdegraphics-thumbnailers-21.08.3</a></td>
   <td align="right">46kB</td>
   <td><tt>d9f5d2bcec2d783d9bea4f4bc29782a2fe661e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdenetwork-filesharing-21.08.3.tar.xz">kdenetwork-filesharing-21.08.3</a></td>
   <td align="right">369kB</td>
   <td><tt>284bf84fbb1d12c748826b6443ba76aa3a6a9092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdenlive-21.08.3.tar.xz">kdenlive-21.08.3</a></td>
   <td align="right">11509kB</td>
   <td><tt>f7c793c6f3aa4ce5f121f4848eb46a708f14bf46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdepim-addons-21.08.3.tar.xz">kdepim-addons-21.08.3</a></td>
   <td align="right">2225kB</td>
   <td><tt>2397c97da200657a3d9218f6aa0abdb2c0646223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdepim-runtime-21.08.3.tar.xz">kdepim-runtime-21.08.3</a></td>
   <td align="right">1781kB</td>
   <td><tt>50ac05bda658751d0dee23f23646c6a3b7cb8aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdesdk-kioslaves-21.08.3.tar.xz">kdesdk-kioslaves-21.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>42853b1bf00876c6d66d903447b450751feeb8a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdesdk-thumbnailers-21.08.3.tar.xz">kdesdk-thumbnailers-21.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>f9631373491f502241a3a53ac953dde59f42b708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdf-21.08.3.tar.xz">kdf-21.08.3</a></td>
   <td align="right">461kB</td>
   <td><tt>93acd15f2eef244b043840b9574aaeec5cb5264c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdialog-21.08.3.tar.xz">kdialog-21.08.3</a></td>
   <td align="right">112kB</td>
   <td><tt>f7a2968ba0024dc2498c81e116924982de6b5cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kdiamond-21.08.3.tar.xz">kdiamond-21.08.3</a></td>
   <td align="right">4589kB</td>
   <td><tt>d5ec5287ca5601cb1e8eb83687b8a87471d8b880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/keditbookmarks-21.08.3.tar.xz">keditbookmarks-21.08.3</a></td>
   <td align="right">197kB</td>
   <td><tt>33c21cae549afd010a00f028c8cf6a55be65fb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kfind-21.08.3.tar.xz">kfind-21.08.3</a></td>
   <td align="right">279kB</td>
   <td><tt>b1cd219d6985162175e90d5dd56b18c266bc0e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kfloppy-21.08.3.tar.xz">kfloppy-21.08.3</a></td>
   <td align="right">206kB</td>
   <td><tt>8cf1a812984e607b08ed8f45be901a8d75ad640d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kfourinline-21.08.3.tar.xz">kfourinline-21.08.3</a></td>
   <td align="right">701kB</td>
   <td><tt>c3b5574b4a4639ffea432196fb0432af860d0933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kgeography-21.08.3.tar.xz">kgeography-21.08.3</a></td>
   <td align="right">10743kB</td>
   <td><tt>5504c83772abc608a45d60d1fee042869c0845e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kget-21.08.3.tar.xz">kget-21.08.3</a></td>
   <td align="right">5502kB</td>
   <td><tt>39b529d122474484c736c5bd715fdd6db991a8ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kgoldrunner-21.08.3.tar.xz">kgoldrunner-21.08.3</a></td>
   <td align="right">4656kB</td>
   <td><tt>a4e2613f86a70ac38a89a360a98e0097913d0474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kgpg-21.08.3.tar.xz">kgpg-21.08.3</a></td>
   <td align="right">2885kB</td>
   <td><tt>e9d13da7492ade2de799e24fe742baee0bea5f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/khangman-21.08.3.tar.xz">khangman-21.08.3</a></td>
   <td align="right">7254kB</td>
   <td><tt>8bc04f55dbe2e7ef1fe941b79a3d5d27ffa8dfc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/khelpcenter-21.08.3.tar.xz">khelpcenter-21.08.3</a></td>
   <td align="right">4205kB</td>
   <td><tt>de7ef519c9affb605f8baca5acc4d6475796e79f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kidentitymanagement-21.08.3.tar.xz">kidentitymanagement-21.08.3</a></td>
   <td align="right">153kB</td>
   <td><tt>1a127d8688498ff12cecaa17c08e50468625c4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kig-21.08.3.tar.xz">kig-21.08.3</a></td>
   <td align="right">3100kB</td>
   <td><tt>fcbb71c763e985285931e91453526a535a24ecac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kigo-21.08.3.tar.xz">kigo-21.08.3</a></td>
   <td align="right">5128kB</td>
   <td><tt>b84340a3631bd15a22b1ce5f9a857d56cb491210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/killbots-21.08.3.tar.xz">killbots-21.08.3</a></td>
   <td align="right">1164kB</td>
   <td><tt>83f41237d748f604cd9b71bec71bdb24ef6f3941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kimagemapeditor-21.08.3.tar.xz">kimagemapeditor-21.08.3</a></td>
   <td align="right">1063kB</td>
   <td><tt>654275a1a8d6c95fef4156d659e627f1506c8270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kimap-21.08.3.tar.xz">kimap-21.08.3</a></td>
   <td align="right">124kB</td>
   <td><tt>222439723656776f36c0ce18ff7005ae625de62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kio-extras-21.08.3.tar.xz">kio-extras-21.08.3</a></td>
   <td align="right">612kB</td>
   <td><tt>b6c40267164377e3cb25a217f311230b81dc71a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kio-gdrive-21.08.3.tar.xz">kio-gdrive-21.08.3</a></td>
   <td align="right">68kB</td>
   <td><tt>6b8b02c5f77f8892338ae169ab63d66db237b1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kipi-plugins-21.08.3.tar.xz">kipi-plugins-21.08.3</a></td>
   <td align="right">1510kB</td>
   <td><tt>639886015ee09a16680f48598cd2e410ec0618c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kirigami-gallery-21.08.3.tar.xz">kirigami-gallery-21.08.3</a></td>
   <td align="right">321kB</td>
   <td><tt>511842d97bacfe45817d27486c57c7c9f71c1aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kiriki-21.08.3.tar.xz">kiriki-21.08.3</a></td>
   <td align="right">356kB</td>
   <td><tt>01c9e94f55d3028c6098cead269399552df6229b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kiten-21.08.3.tar.xz">kiten-21.08.3</a></td>
   <td align="right">11048kB</td>
   <td><tt>539922c70fc10e6c8687498f46e3e8e8367cd10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kitinerary-21.08.3.tar.xz">kitinerary-21.08.3</a></td>
   <td align="right">1800kB</td>
   <td><tt>3970f249db5f48461b02112f69743237ee21b4a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kjumpingcube-21.08.3.tar.xz">kjumpingcube-21.08.3</a></td>
   <td align="right">314kB</td>
   <td><tt>c2c72748c06419f0ceb15d61a2da86369b21d55f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kldap-21.08.3.tar.xz">kldap-21.08.3</a></td>
   <td align="right">167kB</td>
   <td><tt>c222def71cb59a8d29abfdd162597dad4dddf83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kleopatra-21.08.3.tar.xz">kleopatra-21.08.3</a></td>
   <td align="right">2082kB</td>
   <td><tt>bd9b3bbb9e801b63ecc74f74d7ef887d94c3936a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/klettres-21.08.3.tar.xz">klettres-21.08.3</a></td>
   <td align="right">46033kB</td>
   <td><tt>7f6281aef3641f103c90dbd8e600488bb19ae6ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/klickety-21.08.3.tar.xz">klickety-21.08.3</a></td>
   <td align="right">1456kB</td>
   <td><tt>7efe3bd992e7d368b94068d073ed10b546e16b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/klines-21.08.3.tar.xz">klines-21.08.3</a></td>
   <td align="right">1683kB</td>
   <td><tt>273c0e6703fe2226f30c41302ce46f6832563d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmag-21.08.3.tar.xz">kmag-21.08.3</a></td>
   <td align="right">689kB</td>
   <td><tt>7f4ec51b94c7bd931b2c08e5eeabd996d6c1178d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmahjongg-21.08.3.tar.xz">kmahjongg-21.08.3</a></td>
   <td align="right">3972kB</td>
   <td><tt>97d50ed3f5d00e1707e45731080e6489441ddddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmail-21.08.3.tar.xz">kmail-21.08.3</a></td>
   <td align="right">6767kB</td>
   <td><tt>61461c81836e17f4e00bc57150d2c24fd0dc5de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmail-account-wizard-21.08.3.tar.xz">kmail-account-wizard-21.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>fdc98a1429b5560a2d3b2d7c6bc17316af6ace70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmailtransport-21.08.3.tar.xz">kmailtransport-21.08.3</a></td>
   <td align="right">168kB</td>
   <td><tt>d40854cb307b11c87a472391fbe08d44900e36e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmbox-21.08.3.tar.xz">kmbox-21.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>a61031aac07da0b7e878e97af5febdcd92219f21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmime-21.08.3.tar.xz">kmime-21.08.3</a></td>
   <td align="right">151kB</td>
   <td><tt>769245c08b5fa34b0d3462b77a573bbd2ea64196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmines-21.08.3.tar.xz">kmines-21.08.3</a></td>
   <td align="right">966kB</td>
   <td><tt>0b44e6c337a7645b7d41d32d018bec59063807b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmix-21.08.3.tar.xz">kmix-21.08.3</a></td>
   <td align="right">1136kB</td>
   <td><tt>d76674c100dea51a9a03972a56ac2b3825b70e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmousetool-21.08.3.tar.xz">kmousetool-21.08.3</a></td>
   <td align="right">118kB</td>
   <td><tt>e77cf62a6bc6fa4ed17712d1964176dff9b66d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmouth-21.08.3.tar.xz">kmouth-21.08.3</a></td>
   <td align="right">2051kB</td>
   <td><tt>01c93865fe9d0697c95e47861f64a3c40da4ae63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kmplot-21.08.3.tar.xz">kmplot-21.08.3</a></td>
   <td align="right">2972kB</td>
   <td><tt>0d5411d37a4aa90a3506e3320d645cde627b301c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/knavalbattle-21.08.3.tar.xz">knavalbattle-21.08.3</a></td>
   <td align="right">1343kB</td>
   <td><tt>f4ab42e2370b2dccdd187342e318288249108340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/knetwalk-21.08.3.tar.xz">knetwalk-21.08.3</a></td>
   <td align="right">1241kB</td>
   <td><tt>ef79d8f51cbcf3ad507745262a6a6e00bc0cf694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/knights-21.08.3.tar.xz">knights-21.08.3</a></td>
   <td align="right">3453kB</td>
   <td><tt>5f98858dd95a5c7db184548eb4bc640ae976471a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/knotes-21.08.3.tar.xz">knotes-21.08.3</a></td>
   <td align="right">334kB</td>
   <td><tt>e2f0e7f1ba978bfc56d0173190705d9eecba947e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kolf-21.08.3.tar.xz">kolf-21.08.3</a></td>
   <td align="right">1018kB</td>
   <td><tt>cc0744fafa50774ff019bd25cff10902f0eef1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kollision-21.08.3.tar.xz">kollision-21.08.3</a></td>
   <td align="right">284kB</td>
   <td><tt>6060e2cfaf979552edfe1c484279f4c2801adb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kolourpaint-21.08.3.tar.xz">kolourpaint-21.08.3</a></td>
   <td align="right">5581kB</td>
   <td><tt>4c3ec2fec4fa92b3fdf8defb046311d6cc834b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kompare-21.08.3.tar.xz">kompare-21.08.3</a></td>
   <td align="right">920kB</td>
   <td><tt>b328670691d6c626d1312aa1a908393ee6001242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/konqueror-21.08.3.tar.xz">konqueror-21.08.3</a></td>
   <td align="right">7245kB</td>
   <td><tt>dcdbcd3191f177f48649da9769c3339ae3d70ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/konquest-21.08.3.tar.xz">konquest-21.08.3</a></td>
   <td align="right">655kB</td>
   <td><tt>ba853c15e5baf74d59afdcec9b66bdeae3fa502b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/konsole-21.08.3.tar.xz">konsole-21.08.3</a></td>
   <td align="right">1354kB</td>
   <td><tt>3c2799e93e857738860606dcaf775f7a29e82bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kontact-21.08.3.tar.xz">kontact-21.08.3</a></td>
   <td align="right">790kB</td>
   <td><tt>be5bfcdfb1d9d2558cde2295d93a67bca279ac69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kontactinterface-21.08.3.tar.xz">kontactinterface-21.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>3d99f9960927971794ac346c0c8542291c4df2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kontrast-21.08.3.tar.xz">kontrast-21.08.3</a></td>
   <td align="right">122kB</td>
   <td><tt>8f3a50ccfac82398cb1bcde65a33ace264ecd751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/konversation-21.08.3.tar.xz">konversation-21.08.3</a></td>
   <td align="right">4151kB</td>
   <td><tt>c8c2979f78305a6a381feb6197a9f829241b9704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kopeninghours-21.08.3.tar.xz">kopeninghours-21.08.3</a></td>
   <td align="right">64kB</td>
   <td><tt>b8f1893e333c2501df522cc138b5b84e7f9834e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kopete-21.08.3.tar.xz">kopete-21.08.3</a></td>
   <td align="right">9438kB</td>
   <td><tt>efe0dcb291dc5d95e81bd8da3805c692d30f7b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/korganizer-21.08.3.tar.xz">korganizer-21.08.3</a></td>
   <td align="right">2366kB</td>
   <td><tt>4c9f701fad5743e8cd0e50e509764e84a0252976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kosmindoormap-21.08.3.tar.xz">kosmindoormap-21.08.3</a></td>
   <td align="right">334kB</td>
   <td><tt>d35a7f1e207926e38d7827617e8294dd275588c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kpat-21.08.3.tar.xz">kpat-21.08.3</a></td>
   <td align="right">3640kB</td>
   <td><tt>f02a4c10fb25ad47d03f29e5e0bfb7a2bba83458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kpimtextedit-21.08.3.tar.xz">kpimtextedit-21.08.3</a></td>
   <td align="right">200kB</td>
   <td><tt>27417db3cb31c529644d3a3078ffe5b5a9781f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kpkpass-21.08.3.tar.xz">kpkpass-21.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>07db34f64ed058e1e6b135fddedac41b74743b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kpmcore-21.08.3.tar.xz">kpmcore-21.08.3</a></td>
   <td align="right">575kB</td>
   <td><tt>14fd653603f327398a35d5a9cacd79172feac95c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kpublictransport-21.08.3.tar.xz">kpublictransport-21.08.3</a></td>
   <td align="right">401kB</td>
   <td><tt>78df6c7286ab7012727f56e081a8ad8e7a5e2f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kqtquickcharts-21.08.3.tar.xz">kqtquickcharts-21.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>63cc487931977e0fcb20dcb04e07ad1330e8a8d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/krdc-21.08.3.tar.xz">krdc-21.08.3</a></td>
   <td align="right">1545kB</td>
   <td><tt>338c15f0b0723c94ffd915794036fa1fd3476afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kreversi-21.08.3.tar.xz">kreversi-21.08.3</a></td>
   <td align="right">941kB</td>
   <td><tt>8423cf0d800d3ec78e21ed016a893076044fc68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/krfb-21.08.3.tar.xz">krfb-21.08.3</a></td>
   <td align="right">1263kB</td>
   <td><tt>7c76685ec6d81c21b0bfdce5e9a086cfdbf4f70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kross-interpreters-21.08.3.tar.xz">kross-interpreters-21.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>4863c1c4b5d91ccd29aa2e9b8ea6ecc64a691837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kruler-21.08.3.tar.xz">kruler-21.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>fec54ec377be4571dbb9ac7366e115b4c3cf8b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kshisen-21.08.3.tar.xz">kshisen-21.08.3</a></td>
   <td align="right">964kB</td>
   <td><tt>5d2ba53db45bd93e3af28a5ba1cfe27c51880c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksirk-21.08.3.tar.xz">ksirk-21.08.3</a></td>
   <td align="right">6833kB</td>
   <td><tt>bde5297ac6bd57747e779d50ed92dd1c65f2e812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksmtp-21.08.3.tar.xz">ksmtp-21.08.3</a></td>
   <td align="right">46kB</td>
   <td><tt>7fb840451c91cfc6dc2d5fd486598bb311f75206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksnakeduel-21.08.3.tar.xz">ksnakeduel-21.08.3</a></td>
   <td align="right">532kB</td>
   <td><tt>59f630cb90d251a268cccc5e4a57f2ebad9392e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kspaceduel-21.08.3.tar.xz">kspaceduel-21.08.3</a></td>
   <td align="right">607kB</td>
   <td><tt>679399de53a49b091e2638b169dee9dde55675a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksquares-21.08.3.tar.xz">ksquares-21.08.3</a></td>
   <td align="right">262kB</td>
   <td><tt>adb7d1c023f2a6a1d1d4fd8669be6334dae8cb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksudoku-21.08.3.tar.xz">ksudoku-21.08.3</a></td>
   <td align="right">1642kB</td>
   <td><tt>6da0bf43d3eef152031775d619c895c2a7770617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ksystemlog-21.08.3.tar.xz">ksystemlog-21.08.3</a></td>
   <td align="right">1918kB</td>
   <td><tt>70dbb1cc5d98a9c9203d88d9f4e224c37918edc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kteatime-21.08.3.tar.xz">kteatime-21.08.3</a></td>
   <td align="right">292kB</td>
   <td><tt>8128d05bb5f5e0b504f138197affbe25ec6d84d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktimer-21.08.3.tar.xz">ktimer-21.08.3</a></td>
   <td align="right">379kB</td>
   <td><tt>5871d6ef2a58620cb843f7f6fd3d439c1b1fd7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktnef-21.08.3.tar.xz">ktnef-21.08.3</a></td>
   <td align="right">298kB</td>
   <td><tt>1364492731700cda7dc8509a6261e340edb87066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktorrent-21.08.3.tar.xz">ktorrent-21.08.3</a></td>
   <td align="right">2042kB</td>
   <td><tt>e7bd8529ebdc9f47983a9f0f7d4df427e9b074c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktouch-21.08.3.tar.xz">ktouch-21.08.3</a></td>
   <td align="right">4846kB</td>
   <td><tt>a127ba57bad33277e932b356e57e0f4262507413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-accounts-kcm-21.08.3.tar.xz">ktp-accounts-kcm-21.08.3</a></td>
   <td align="right">260kB</td>
   <td><tt>234e2e2cf0425cb8dc04df4f799d500783208446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-approver-21.08.3.tar.xz">ktp-approver-21.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>745239bf89671266928a847487de09a0c819148a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-auth-handler-21.08.3.tar.xz">ktp-auth-handler-21.08.3</a></td>
   <td align="right">46kB</td>
   <td><tt>83af9697a67182f41509dd36bb7083b411481b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-call-ui-21.08.3.tar.xz">ktp-call-ui-21.08.3</a></td>
   <td align="right">96kB</td>
   <td><tt>9d6211e58dd4b6a2d9a4e0bc6e51859f89d8cd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-common-internals-21.08.3.tar.xz">ktp-common-internals-21.08.3</a></td>
   <td align="right">440kB</td>
   <td><tt>bb3c8b0e853872919dce3927ff3d2367269ee458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-contact-list-21.08.3.tar.xz">ktp-contact-list-21.08.3</a></td>
   <td align="right">150kB</td>
   <td><tt>8c189f5cd61f0aa150112b544dbcdfda03b82bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-contact-runner-21.08.3.tar.xz">ktp-contact-runner-21.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>a21a5c044ecde56233d47031c4b89eec92b56fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-desktop-applets-21.08.3.tar.xz">ktp-desktop-applets-21.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>6eb6bf9d33735b7fd4bd26f8e0e60109214bcf70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-filetransfer-handler-21.08.3.tar.xz">ktp-filetransfer-handler-21.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>df5c9321b20cd0dd5fdd554365c4919c377e17e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-kded-module-21.08.3.tar.xz">ktp-kded-module-21.08.3</a></td>
   <td align="right">97kB</td>
   <td><tt>143d76bf9df4f96cb0e7b8ef78e60f7c7fd49983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-send-file-21.08.3.tar.xz">ktp-send-file-21.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>df32f958fbc2d5f5b231b6ba848822d5e354aeda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktp-text-ui-21.08.3.tar.xz">ktp-text-ui-21.08.3</a></td>
   <td align="right">463kB</td>
   <td><tt>11115b047b176fb910218defb51915e165ef1e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/ktuberling-21.08.3.tar.xz">ktuberling-21.08.3</a></td>
   <td align="right">69095kB</td>
   <td><tt>d92b469e9cc82cbe6cb431e20286d80b4baa396f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kturtle-21.08.3.tar.xz">kturtle-21.08.3</a></td>
   <td align="right">1925kB</td>
   <td><tt>06bc342f5821487f1bd246724a94872aca694805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kubrick-21.08.3.tar.xz">kubrick-21.08.3</a></td>
   <td align="right">335kB</td>
   <td><tt>27f2aab8064a521cf3ce877f2d35d7b239d9e339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kwalletmanager-21.08.3.tar.xz">kwalletmanager-21.08.3</a></td>
   <td align="right">778kB</td>
   <td><tt>00c94f13f4759d7f4d136b6f99700bec534acb16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kwave-21.08.3.tar.xz">kwave-21.08.3</a></td>
   <td align="right">6753kB</td>
   <td><tt>8d6cabb4073954496c5baa230b7a3547f0589a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/kwordquiz-21.08.3.tar.xz">kwordquiz-21.08.3</a></td>
   <td align="right">4109kB</td>
   <td><tt>fd9332118c5abb8a9590b05802ded95731704fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libgravatar-21.08.3.tar.xz">libgravatar-21.08.3</a></td>
   <td align="right">34kB</td>
   <td><tt>83b5c71597ead0971912608d00b4ff66fdc79587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkcddb-21.08.3.tar.xz">libkcddb-21.08.3</a></td>
   <td align="right">420kB</td>
   <td><tt>2978cf9b57c55674dec788b68c5d85b749f2decb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkcompactdisc-21.08.3.tar.xz">libkcompactdisc-21.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>be23c9ec85240b36d57b457ffc3b5d3543153e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkdcraw-21.08.3.tar.xz">libkdcraw-21.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>bf31663c73d81fbe1dea5fc29c9704f0b7452caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkdegames-21.08.3.tar.xz">libkdegames-21.08.3</a></td>
   <td align="right">6255kB</td>
   <td><tt>f00b37e825788c04ca83c71a9c3d801e669f569a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkdepim-21.08.3.tar.xz">libkdepim-21.08.3</a></td>
   <td align="right">247kB</td>
   <td><tt>5d12fd783ef7cd88ec809a1fe70d5e388cc1999f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkeduvocdocument-21.08.3.tar.xz">libkeduvocdocument-21.08.3</a></td>
   <td align="right">212kB</td>
   <td><tt>33de0781964e3a092a5c6c33090e4e1284197d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkexiv2-21.08.3.tar.xz">libkexiv2-21.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>69d631264124ea09baa798ccede1e8bcd7688d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkgapi-21.08.3.tar.xz">libkgapi-21.08.3</a></td>
   <td align="right">241kB</td>
   <td><tt>e3e40639832cac48a969703e600b621c04518c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkipi-21.08.3.tar.xz">libkipi-21.08.3</a></td>
   <td align="right">100kB</td>
   <td><tt>b3fb4a0b3b062cedf6b303cc538f09b2bd2fe815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkleo-21.08.3.tar.xz">libkleo-21.08.3</a></td>
   <td align="right">427kB</td>
   <td><tt>99cd4ed05760a873e2347c5f455841f410d00e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkmahjongg-21.08.3.tar.xz">libkmahjongg-21.08.3</a></td>
   <td align="right">1640kB</td>
   <td><tt>21fb23006955e42f79cb57ca84ad68044849d2d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libkomparediff2-21.08.3.tar.xz">libkomparediff2-21.08.3</a></td>
   <td align="right">168kB</td>
   <td><tt>427ca0d5384c2a7a01779f27f2500ed194cbabd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libksane-21.08.3.tar.xz">libksane-21.08.3</a></td>
   <td align="right">153kB</td>
   <td><tt>0c7dd8bdfef7f343226be8b0cdfcd2fbdf1b606e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libksieve-21.08.3.tar.xz">libksieve-21.08.3</a></td>
   <td align="right">556kB</td>
   <td><tt>2f8da35082542ea79cd38058b658ebc41f738902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/libktorrent-21.08.3.tar.xz">libktorrent-21.08.3</a></td>
   <td align="right">592kB</td>
   <td><tt>cff98b16db7fd9cc886f9945c0878970cecfe0a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/lokalize-21.08.3.tar.xz">lokalize-21.08.3</a></td>
   <td align="right">1997kB</td>
   <td><tt>37e250d33d56d9174afce02b189eee67328dfad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/lskat-21.08.3.tar.xz">lskat-21.08.3</a></td>
   <td align="right">1200kB</td>
   <td><tt>2e15b689e19ca19f1bbf8dc1c720d5b71eda9d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/mailcommon-21.08.3.tar.xz">mailcommon-21.08.3</a></td>
   <td align="right">719kB</td>
   <td><tt>63ddd42e464505ed296a3af9c68d79b01e33b5fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/mailimporter-21.08.3.tar.xz">mailimporter-21.08.3</a></td>
   <td align="right">545kB</td>
   <td><tt>5b9d08d0e559d227433f024173d856957d335359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/marble-21.08.3.tar.xz">marble-21.08.3</a></td>
   <td align="right">51192kB</td>
   <td><tt>b57f0704d9b6a2f6052a85ff5025d6695c4a6ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/markdownpart-21.08.3.tar.xz">markdownpart-21.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>a8e90168d71227d243991054759fe7444b11300c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/mbox-importer-21.08.3.tar.xz">mbox-importer-21.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>0d2c844fd5b4714e6530544f40788cce2a2ca2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/messagelib-21.08.3.tar.xz">messagelib-21.08.3</a></td>
   <td align="right">10536kB</td>
   <td><tt>60d9002068fa1b2d3e749c879694bbfcc7d6d032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/minuet-21.08.3.tar.xz">minuet-21.08.3</a></td>
   <td align="right">27081kB</td>
   <td><tt>1b8763bdbd0a1676a08fc212174f01ed54c58723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/okular-21.08.3.tar.xz">okular-21.08.3</a></td>
   <td align="right">7899kB</td>
   <td><tt>0378d9aa24f982ba3b9aa5add4fe05ee0b1cf6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/palapeli-21.08.3.tar.xz">palapeli-21.08.3</a></td>
   <td align="right">2031kB</td>
   <td><tt>dfd098babe4937963a18a49714f0c9af41418b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/parley-21.08.3.tar.xz">parley-21.08.3</a></td>
   <td align="right">8689kB</td>
   <td><tt>43d1465ff284bf80ef9ab1f2147ed43d2ddbcffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/partitionmanager-21.08.3.tar.xz">partitionmanager-21.08.3</a></td>
   <td align="right">2049kB</td>
   <td><tt>56ad69438070722809e2dd5eb0fd280195a8c3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/picmi-21.08.3.tar.xz">picmi-21.08.3</a></td>
   <td align="right">1337kB</td>
   <td><tt>7729616118d946d2139f0334a4e23ab01de6eb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/pimcommon-21.08.3.tar.xz">pimcommon-21.08.3</a></td>
   <td align="right">360kB</td>
   <td><tt>644830d6cd8a4400ae19e4544c94730a29aac2cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/pim-data-exporter-21.08.3.tar.xz">pim-data-exporter-21.08.3</a></td>
   <td align="right">387kB</td>
   <td><tt>52e8c56cc3102507b225b07a4dd1399c0da16b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/pim-sieve-editor-21.08.3.tar.xz">pim-sieve-editor-21.08.3</a></td>
   <td align="right">447kB</td>
   <td><tt>8fca16caabdd8b7720bfcfa05c5fa9c922c35fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/poxml-21.08.3.tar.xz">poxml-21.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>4d8f1ad17bbfb0ec8fbe2112f8f49c15df30d90e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/print-manager-21.08.3.tar.xz">print-manager-21.08.3</a></td>
   <td align="right">263kB</td>
   <td><tt>e24d0eabeb39bbe6346f9e749cc85fe858da6424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/rocs-21.08.3.tar.xz">rocs-21.08.3</a></td>
   <td align="right">1518kB</td>
   <td><tt>426b4925214b42787979e47d0f0c5efbf07927d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/signon-kwallet-extension-21.08.3.tar.xz">signon-kwallet-extension-21.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>abee09a0be151ef742dd318496e31014fc55a9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/skanlite-21.08.3.tar.xz">skanlite-21.08.3</a></td>
   <td align="right">2369kB</td>
   <td><tt>9a12d3227fc399b46a2f5c845584fd1487638c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/spectacle-21.08.3.tar.xz">spectacle-21.08.3</a></td>
   <td align="right">1213kB</td>
   <td><tt>b601579a1d1bc21c406888d2242b606c6f1f610f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/step-21.08.3.tar.xz">step-21.08.3</a></td>
   <td align="right">953kB</td>
   <td><tt>1ac11e11d4f40c1e2e3251221c30ed8453dd21da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/svgpart-21.08.3.tar.xz">svgpart-21.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>742798caca2cbdaa0480f57c22f99e16752d52a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/sweeper-21.08.3.tar.xz">sweeper-21.08.3</a></td>
   <td align="right">368kB</td>
   <td><tt>802bf0ef54197ba8025facfd4d9f816e1e183b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/umbrello-21.08.3.tar.xz">umbrello-21.08.3</a></td>
   <td align="right">5517kB</td>
   <td><tt>6ac8a5a53e548fa1fef8911c7cec48870a70ee9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/yakuake-21.08.3.tar.xz">yakuake-21.08.3</a></td>
   <td align="right">388kB</td>
   <td><tt>9f1046dc3a31b615742ebc29e497b9a8a2dae3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.3/src/zeroconf-ioslave-21.08.3.tar.xz">zeroconf-ioslave-21.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>8eebdd5e7a58ed3d8e62bb6dc930b55cf9fc6af2</tt></td>
</tr>

</table>
