{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img class="d-none d-lg-block" style="width: 100%; max-width: 1500px;" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="donorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
	        <p>Mikko Mensonen ⭐ Brandon Clark ⭐ Andy Meier ⭐ Simon Finlay ⭐ Artur Pieniążek ⭐ Stefan Hellwig ⭐ Diego Miguel Lozano ⭐ Luciano Barea ⭐ Kiril Vladimirov ⭐ Andrew Rosenwinkel ⭐ Marcel Siggelsten ⭐ Burgess Chang ⭐ Tim Blomme ⭐ Jim Crawford ⭐ Douglas Shaw ⭐ Dima T ⭐ Philipp Reichmuth ⭐ R.A. Bijl ⭐ Márton Lente ⭐ Vincent Wilms ⭐ Julio Moya ⭐ Alonso Mendoza ⭐ Will Styler ⭐ Simon Österle ⭐ Romain Fleurette ⭐ Gerardus Franciscus Maria van Iersel ⭐ Angus Kelsey ⭐ Matt Milliman ⭐ Dominik Viskovic ⭐ Arthur Tadier ⭐ Tamas Kornman ⭐ Titouan Fuchs ⭐ Warren Krettek ⭐ Frédéric LAURENT ⭐ Mario Loik ⭐ Brian Marsh ⭐ E. Mau. ⭐ Denis Doria ⭐ Bjørnar Hausken ⭐ OC Blanco ⭐ Jan De Luyck ⭐ Bailey Hollis ⭐ Paul McAuley ⭐ Xuetian Weng ⭐ Dirk Ziegelmeier ⭐ Kevin McCarthy ⭐ William Wojciechowski ⭐ Mikle Kerim ⭐ André Barata ⭐ Lukas Hannawald ⭐ Stewart Webb ⭐ Nils Martens ⭐ Monica Ayhens-Madon ⭐ Bentleigh Beugelaar ⭐ Lauren Howe ⭐ Klemen Košir ⭐ Étienne Pain ⭐ Patrick Gianelli ⭐ Lukas Neubert ⭐ Fred Dickens ⭐ Jordi Ferrando ⭐ Jure Repinc ⭐ Cornelius Kluge ⭐ Lennart Kroll ⭐ Marco Götze ⭐ William Z ⭐ Nicholas Harper ⭐ Witold Sosnowski ⭐ Rhys Jones ⭐ Oliver Rasche ⭐ Michael Brunner ⭐ Petr Tesarik ⭐ Albert Goncharov ⭐ Helge Bahmann ⭐ Sebastian Goth ⭐ José Couto ⭐ Harry A ⭐ Dominik Lux ⭐ Justus Tartz ⭐ Jens Reimann ⭐ Nina Wanca ⭐ Harry A ⭐ Dennis Schumann ⭐ Alejandro Muñoz Fernández ⭐ Cory Adkins ⭐ Christoph Vollmer ⭐ Matthew Brunelle ⭐ Zoran Dimovski ⭐ Christian Moesgaard ⭐ Joey Eamigh ⭐ Aurélien COUDERC ⭐ Eduard Nikoleisen ⭐ Yu Te Wang ⭐ Julian Wefers ⭐ Quentin Stuchlik ⭐ Aroun Clément Baudouin-van Os ⭐ Mario Loik ⭐ Herbert Feiler ⭐ Sébastien Monassa ⭐ Dmytro Nezhevenko ⭐ Robert Wolniak ⭐ Carlos Gonzalez Cortes ⭐ Frédéric LAURENT ⭐ Denis Doria ⭐ Luis Garcia ⭐ Mateusz Dytkowski ⭐ Samir Nassar ⭐ Ulrich Schreiner ⭐ Aroun Clément Baudouin-van Os ⭐ Dirk Holsopple ⭐ Martin Supan ⭐ Zach B ⭐ Rob Hyndman ⭐ Thomas Ludwig ⭐ Emanuele Cannizzaro ⭐ Kristian Kriehl ⭐ Jens Reimann ⭐ Tapio Metsälä ⭐ Daan Boerlage ⭐ Jason Logue ⭐ Peter Simonsson ⭐ Simon Hötten ⭐ Jed Baldwin ⭐ Michael Bolleininger ⭐ Jim Crawford ⭐ Evan Chang ⭐ Martin Supan ⭐ Yann Nux ⭐ Fabian Niepelt ⭐ Flori G ⭐ Nikolai Eugen Sandvik ⭐ Lucas Ji ⭐ Simon Berz ⭐ Achilleas Koutsou ⭐ Cass Midkiff ⭐ Joshua Phelps ⭐ Roger Granrud ⭐ Batuhan Taskaya ⭐ Paul Fleischer ⭐ Martin Beck ⭐ Brett Hagen ⭐ Joshua Phelps ⭐ Roberto Michán Sánchez ⭐ Victor Castillo ⭐ Chrismettal Binary-6 ⭐ Martin Beck ⭐ Milton Hagler ⭐ Samuel Allen ⭐ Szymon Łągiewka ⭐ ali xyz ⭐ Dennis Zellner ⭐ Matthias Born ⭐ Dan Heneise ⭐ Gleb Sinyavskiy ⭐ Julian Borrero ⭐ Michel van Son ⭐ Tone Milazzo ⭐ Jérémy Friche ⭐ Alexander Ypema ⭐ Petri Koskimaa ⭐ Lasse Danegod ⭐ Elijah Helms ⭐ Jack Case ⭐ Douglas Shaw ⭐ David Roth ⭐ John Kizer ⭐ Keelan Jones ⭐ Jeff Cain ⭐ Grider Li ⭐ Nina Wanca ⭐ Moritz Schulte ⭐ Carlos Gonzalez Cortes ⭐ Zoran Dimovski ⭐ Tristan Remy ⭐ Paul Worrall ⭐ Marcos Gutiérrez Alonso ⭐ Sebastian Fohler ⭐ Rahul Ramesh ⭐ Huw McNamara ⭐ Ralf Hein ⭐ Andrea Panontin ⭐ Joey Eamigh ⭐ Jacob Ludvigsen ⭐ Nathan Westerman ⭐ Igor Stojkovic ⭐ Renārs Ceļapīters ⭐ Byron Fröhlich ⭐ John Kizer ⭐ Dennis Malmin ⭐ Ryein Goddard ⭐ Moritz Füssel ⭐ Marko Hehl ⭐ Linda Polman ⭐ Severin Hamader ⭐ Michal Hlaváč ⭐ Jan Iversen ⭐ Artem Puzikov ⭐ Cameron Bosch ⭐ Paul Merryfellow ⭐ Arthur Galiullin ⭐ Valerio Pilo ⭐ Hendrik Richter ⭐ Tomás Duarte ⭐ Alexander Ypema ⭐ Ismar Kunic ⭐ Jens Erdmann ⭐ Lukas Langrock ⭐ Justin Geigley ⭐ Akseli Lahtinen ⭐ Dylan Taylor ⭐ Jens Churchill ⭐ Sacha Schutz ⭐ R.A. Bijl ⭐ Yoann LE TOUCHE ⭐ Jay Tuckey ⭐ Stefan Neacsu ⭐ Alexander Reimelt ⭐ Ryan Chambers ⭐ Rodney Lorimor ⭐ Brian Aberts ⭐ Matheus Ferreira Messias Guedes ⭐ Rob Hasselbaum ⭐ Lukas Kucerik ⭐ Moritz Lammerich ⭐ Nikita Malgin ⭐ Felix Knecht ⭐ Nicola Jelmorini ⭐ Ole Solbakken ⭐ Odin Vex ⭐ Malte Jürgens ⭐ Florian Edelmann ⭐ Vincent Delor ⭐ Janis Bundschu ⭐ Dmitry Sobolev ⭐ Alessio Adamo ⭐ Simon Hötten ⭐ Mohammad Rawashdeh ⭐ Dennis Schumann ⭐ Rainier Ramos ⭐ Neal Gompa ⭐ Björn Aili ⭐ Lorenzo Bicci ⭐ Wyatt Childers ⭐ Lee Courington ⭐ Christian Gmeiner ⭐ Régis GUYOMARCH ⭐ Valentin Petzel ⭐ Alexander Gurenko ⭐ Sebastian Löw ⭐ Boji Tony ⭐ Radek Nováček ⭐ Florian Dittmer ⭐ Mehrad Mahmoudian ⭐ Gaurav Dasharathe ⭐ Benjamin Xiao ⭐ Luis Büchi ⭐ Thomas ROBIN ⭐ Michael Stemle ⭐ Philipp Slusallek ⭐ Julian Raschke ⭐ Yoann LE TOUCHE ⭐ Pjol . ⭐ Ján Trenčanský ⭐ Antti Luoma ⭐ Gabriel Morell ⭐ Patrick David ⭐ Edoardo Regni ⭐ Brian Lemons ⭐ Klaus Wagner ⭐ Lee Courington ⭐ Mikołaj Świątek ⭐ Paul Birkholtz ⭐ scaine uk ⭐ Daniel Hurtado ⭐ Benjamin Terrier ⭐ Shuyuan Liu ⭐ Alonso Mendoza ⭐ Dmitry Sobolev ⭐ Michael Schaffner ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Tobias Brunner ⭐ Michael Alexsander ⭐ David Germain ⭐ Paulo Dias ⭐ harry loh ⭐ Logan Rogers-Follis ⭐ Jonas Mutke ⭐ Michael Winters ⭐ Lenno Nagel ⭐ Costin-Tiberiu Vasilescu ⭐ Jack Case ⭐ Carl Schwan ⭐ George Pchelkin ⭐ Aman Chhabra ⭐ Achim Bohnet ⭐ Stanislas Leduc ⭐ Will Butler ⭐ Mustafa Muhammad ⭐ Johannes Wolf ⭐ Brandon Jones ⭐ Daniel Noga ⭐ Ryan McCullough ⭐ Artem Puzikov ⭐ Lisardo Sobrino ⭐ Rhys Jones ⭐ Henri Michael ⭐ Teague Millette ⭐ Christian Strebel ⭐ Chad McCullough ⭐ Thomas Eckart ⭐ OC Blanco ⭐ Mukilan Thiyagarajan ⭐ Manuel Bödder ⭐ Semen Sobolev ⭐ Bernie Innocenti ⭐ Srikar Gottipati ⭐ Norbert Spina ⭐ Jakub Judas ⭐ Harald Gall ⭐ Anthony Beninati ⭐ Gaurav Dasharathe ⭐ Christian Hofstede-Kuhn ⭐ Mateusz Brdoń ⭐ Dean Bradley ⭐ Willow Aran ⭐ Ryan Chambers ⭐ Andrey Melentyev ⭐ Max Buchholz ⭐ Christopher Mandlbaur ⭐ Jennifer Radtke ⭐ Luke Renaud ⭐ Joan Aluja Oraá ⭐ Kai-Uwe Uhlitzsch ⭐ ILIOPOULOS IOANNIS ⭐ Pablo Caballero ⭐ Johann Jacobsohn ⭐ Timo Büttner ⭐ Peter König ⭐ Marco Julian Solanki ⭐ Sam Smucny ⭐ Daan Boerlage ⭐ Markus Ebner ⭐ Sarat Chandra ⭐ Nathan Pennington ⭐ Christian Gmeiner ⭐ Jeroen Huijsman ⭐ Benny Fields ⭐ Mark Hiles ⭐ Angelos Skembris ⭐ Alexander Gurenko ⭐ Travis Suel ⭐ Thomas Karpiniec ⭐ Michael Niehoff ⭐ Nicola Mingotti ⭐ Dyllan Kobal ⭐ Andrija Jovanovic ⭐ Linghai Yan ⭐ Cornelius Kluge ⭐ Sander Smid-Merlijn ⭐ Leif-Jöran Olsson ⭐ Paul Porubsky ⭐ Michael Brunner ⭐ Christopher Mandlbaur ⭐ Gerbrand van Dieyen ⭐ Muthanna K. ⭐ Artur Pieniążek ⭐ Christoffer Jansson ⭐ Sahan Fernando ⭐ Batuhan Cinar ⭐ Chris Davis ⭐ Thomas Ludwig ⭐ Marcus Harrison ⭐ Vojtech Kuchar ⭐ Petr Kadlec ⭐ Trey Boyer ⭐ harry loh ⭐ Eduard Nikoleisen ⭐ Fco Javier Bolívar ⭐ Marián Polťák ⭐ Christian Hartmann ⭐ Bernhard Breinbauer ⭐ Melissa Autumn ⭐ Kormos Krisztián ⭐ Kim Hayo ⭐ Henri Michael ⭐ Mehrad Mahmoudian ⭐ Marcos Gutiérrez Alonso ⭐ Mark Marsh ⭐ Batuhan Taskaya ⭐ Andreas Paul ⭐ Alejandro Cholaquidis ⭐ Florian Dazinger ⭐ Curtis Bullock ⭐ Wolfgang Kerschbaumer ⭐ Stephen Crocker ⭐ Ethan Hussong ⭐ Lars Jose ⭐ Dean Bradley ⭐ Lukas Skala ⭐ Steven Barrett ⭐ Björn Bauer ⭐ Adam Szopa ⭐ Hennie Marais ⭐ Cristian Le ⭐ Logan Rogers-Follis ⭐ Jim Helm ⭐ Sebastian Paul ⭐ Tommy Beauclair-Mariotti ⭐ David Chocholatý ⭐ Jed Baldwin ⭐ Jaroslav Reznik ⭐ Joshua Mohr ⭐ Richard BEOLET ⭐ Benjamin Tzschoppe ⭐ Cameron Bosch ⭐ Dennis Körner ⭐ Christoph Hümbert ⭐ Iain Cuthbertson ⭐ Sebastian Turzanski ⭐ Jan Iversen ⭐ ali xyz ⭐ Rebecca Müller ⭐ Przemysław Romanik ⭐ Thomas ROBIN ⭐ Vladimir Baskakov ⭐ Valentin Petzel ⭐ Cody Harrison ⭐ Robert Levine ⭐ Justin Geigley ⭐ Asim Shrestha ⭐ David Walluscheck ⭐ Nicola Feltrin ⭐ Störm Poorun ⭐ Kevin Messer ⭐ Jacob Perron ⭐ Bryan Zaffino ⭐ Marcel Pierre Simon ⭐ ADAM K BIERMAN ⭐ Daniel Bagge ⭐ Regina Abendroth ⭐ Luis Büchi ⭐ Joan Aluja Oraá ⭐ Ivo Marciniak ⭐ Lizoblyud Lika ⭐ Angus Kelsey ⭐ Luis Alvarado ⭐ Maarten Bijster ⭐ William Z ⭐ André Barata ⭐ David Gow ⭐ Jonas Hucklenbroich ⭐ Max Schwarz ⭐ Sergei Golimbievsky ⭐ Conny Magnusson ⭐ Cory Adkins ⭐ Àlex Magaz Graça ⭐ Daniel Bagge ⭐ Aljosha Papsch ⭐ Teodor Calin Sirbu ⭐ Eric NGUYEN ⭐ Baptiste Rajaut ⭐ Nathaniel Housman ⭐ Florian RICHER ⭐ Florentin Rack ⭐ Robert McCarter ⭐ Guruprasad L ⭐ edwin vervliet ⭐ bill morin ⭐ Johann Jacobsohn ⭐ Techin Eamrurksiri ⭐ José Guardado ⭐ Tristan Remy ⭐ Michael Meister ⭐ Loïc Bersier ⭐ Ivan Nack ⭐ Mitchel Bone ⭐ Pascal Schmidt ⭐ May Doušak ⭐ Renārs Ceļapīters ⭐ Dave X ⭐ Florian Stadler ⭐ Tapio Metsälä ⭐ Dmitry Misharov ⭐ Alicja Michalska ⭐ Robin Slot ⭐ Aaron Bockelie ⭐ Kieren Roberts ⭐ Andre Ramnitz ⭐ scaine uk ⭐ Marián Polťák ⭐ Antonio Teixeira ⭐ D Ennis ⭐ Samir Nassar ⭐ Zach B ⭐ Marcin Mikołajczak ⭐ Ian Boll ⭐ Mark Woltman ⭐ Nate Coffey ⭐ Mustafa Muhammad ⭐ Ami Chayun ⭐ Andrew Keenan Richardson ⭐ Moritz Lammerich ⭐ Iain Cuthbertson ⭐ Frank Mankel ⭐ Raphael Pretot ⭐ Jaroslav Reznik ⭐ Ivan Sabourin ⭐ Galin Yordanov ⭐ Wesley Schroth ⭐ Jonas Büttner ⭐ Chrismettal Binary-6 ⭐ Dino Čobo ⭐ Gregor Burgeff ⭐ Thibaud Franchetti ⭐ Samega 7Cattac ⭐ Timothy Carr ⭐ Antoni Aloy Torrens ⭐ Linus Karl ⭐ Petronio Coelho ⭐ Dima T ⭐ Alexey Toklovich ⭐ Bel Lord-Williams ⭐ Malte Jürgens ⭐ Tom Schwarz ⭐ Isaac Patton ⭐ Diego Saavedra Aguirre ⭐ Matija Šuklje ⭐ Bob Richter ⭐ Gregor Burgeff ⭐ Steffen Jasper ⭐ Joost Cassee ⭐ Gerhard Dittes ⭐ Zacharie Monnet ⭐ Marijo Mustač ⭐ Richard BEOLET ⭐ Francesco Sardara ⭐ Paul Porubsky ⭐ Reid Wiggins ⭐ Tubo Shi ⭐ Daniel Lloyd-Miller ⭐ Nicolas Rojas ⭐ Marius Hergel ⭐ Martin Bednar ⭐ Patrick Nagel ⭐ Dmitry Misharov ⭐ Jakob Rath ⭐ Denis Jovic ⭐ Jarkko Torvinen ⭐ Alexandre BROUET ⭐ Andrew Munkres ⭐ Gerbrand van Dieyen ⭐ Lennart Kroll ⭐ Łukasz Plich ⭐ François-Xavier Thomas ⭐ Alexander Verweinen ⭐ Federico Dossena ⭐ Tony James ⭐ Regina Abendroth ⭐ Jeremy Winter ⭐ Peter Nunn ⭐ Solomatin Vladimir ⭐ Zane Godden ⭐ TIMOPHEY TSITAVETS ⭐ Markus Meier ⭐ Nick Severino ⭐ Tommy Beauclair-Mariotti ⭐ Marco Nelles ⭐ your mom ⭐ Travis Suel ⭐ Fabian Niepelt ⭐ Sam Smucny ⭐ Alexey Andreyev ⭐ Jeremy Linton ⭐ Björn Bauer ⭐ Peter Permenter ⭐ Kiril Vladimirov ⭐ Timothy Carr ⭐ Srikar Gottipati ⭐ Bryan Zaffino ⭐ Eddie Carswell ⭐ Łukasz Konieczny ⭐ Timo Büttner ⭐ Jacob Childersmith ⭐ Christian Moesgaard ⭐ Paxriel Pax ⭐ Dennis Malmin ⭐ Stephane Perrin ⭐ Paul Merryfellow ⭐ Nathan Wolf ⭐ Alistair Bain ⭐ Niklas Kämper ⭐ Matt Milliman ⭐ David Martinez ⭐ Jakub Judas ⭐ Łukasz Plich ⭐ Ethan Hussong ⭐ Linda Polman ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Max R ⭐ Stanislas Leduc ⭐ JIMI ROSS ⭐ Brett Hagen ⭐ Pascal Mages ⭐ Paul Worrall ⭐ Jaspal Chauhan ⭐ Dougie Beney ⭐ Mihail Morosan ⭐ Martin Bednar ⭐ Arne Keller ⭐ Sergi Navas ⭐ Anael González Paz ⭐ Gernot Schiller ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Philipp Reichmuth ⭐ Sergi Navas ⭐ Stefan Zurucker-Burda ⭐ Adrian Friedli ⭐ Chris Niewiarowski ⭐ Oliver Rasche ⭐ Andrea Scartazza ⭐ Lino Moser ⭐ Owen Sessiecq ⭐ Adam Dymitruk ⭐ Brendan Foote ⭐ Kevin Messer ⭐ Dan Heneise ⭐ Skye Van Valkenburgh ⭐ Łukasz Konieczny ⭐ Zhangzhi Hu ⭐ Nils Martens ⭐ Tom Schwarz ⭐ Florian Dittmer ⭐ Robert Riemann ⭐ Conny Magnusson ⭐ Fco Javier Bolívar ⭐ Henning Sextro ⭐ Cass Midkiff ⭐ Christopher Clarke ⭐ Benjamin Xiao ⭐ Rob Hyndman ⭐ Coty Ternes ⭐ Aurélien COUDERC ⭐ Jason Seville ⭐ Shayne Johnson ⭐ David Chocholatý ⭐ Paul Elliott ⭐ Michael Lelli ⭐ Boji Tony ⭐ Roger Granrud ⭐ Curtis Bullock ⭐ Ami Chayun ⭐ Aleksei Liudskoi ⭐ Stefan Neacsu ⭐ Yishu Wang ⭐ Nicolai Manique ⭐ Andreas Heinkelein ⭐ Sebastian Krönert ⭐ Christoph Singer ⭐ Michel Filipe ⭐ Lauren Howe ⭐ Lizoblyud Lika ⭐ Miku Hatsune ⭐ Teodor Calin Sirbu ⭐ Samuel Jordan Kleinman ⭐ Vojtech Kuchar ⭐ Laust Lund Kristensen ⭐ Sebastian Paul ⭐ David Martinez ⭐ Antti Luoma ⭐ Jimmy Lindsey ⭐ Archie Lamb ⭐ Jonas Gamao ⭐ Malin Stanescu ⭐ Shawn Dunn ⭐ Techin Eamrurksiri ⭐ Dave Lewis ⭐ Emil Larsson ⭐ Jeroen Tor ⭐ Marius Hergel ⭐ Julius Binder ⭐ Long Vu
	        </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
